<div class="all-container">
    <div class="demande">
        <p class="detail">Détail</p>
        <div class="manager" *ngFor="let p of data">
            <div class="image">
                <img class="image-manager" src="../assets/images/manager.png" alt="">
                <div class="im1">
                    <img class="image-contact" src="../assets/images/phone.png" alt="">
                </div>
                <div class="im2">
                    <a href="mailto:email@example.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail de notre site Web">
                      <img class="image-contact" src="../assets/images/phone.png" alt="">
                    </a>
                </div>
            </div>
            <div class="information">
                <p class="nom">{{p.manager}}</p>
                <p class="poste">{{p.postem}}</p>
                <p class="matricule">{{p.matricule}}</p>
            </div>
        </div>
        <hr>
        <div class="tableau">
            <p class="detail1" id="mydesc">Liste des Intérimaires managés</p>
            <table style="overflow-x:auto;" aria-describedby = "mydesc">
                <thead>
                    <tr class="head">
                        <th class="id1" id="matricule">#</th>
                        <th class="typ" id="preno;">
                            <div class="type">
                                <p>Prénom</p> 
                                <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                            </div>
                        </th>
                        <th class="typ" id="nom">
                            <div class="type">
                                <p>Nom</p> 
                                <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                            </div>
                        </th>
                        <th id="agence">Agence</th>
                        <th id="contrat">Fin de contrat</th>
                        <th *ngIf="scrWidth>991" id="action">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of datas | filter:filterterm | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                        <td class="id1">{{p.id}}</td>
                        <td>{{p.prenom}}</td>
                        <td>{{p.nom}}</td>
                        <td>{{p.agence}}</td>
                        <td>{{p.dateFin | date: "dd/MM/yyyy"}}</td>
                        <td *ngIf="scrWidth>991"><button  class="button1" (click)="openModal('custom-modal-'+p.id)">Afficher</button></td>
                        <!--modal1-->
                        <div class="modal">
                            <jw-modal id="custom-modal-{{p.id}}">
                                <div class="tab">
                                    <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-'+p.id);" class="clear">clear</mat-icon>
                                    <p class="dtl1">Attestation de Présence de {{p.prenom}} {{p.nom}}</p>
                                    <ngx-doc-viewer 
                                    [url]="DemoDoc1" 
                                    [viewer]="viewer" 
                                    style="width:100%;height:70vh;">
                                    </ngx-doc-viewer>
                                    <div class="btns2">
                                        <button (click)="getfilemodal()"  class="btn2">Télécharger</button>
                                    </div>
                                </div>
                            </jw-modal>
                        </div>
                        <!--modal1-->
                    </tr>
                </tbody>
                
            </table>
            <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
    <div class="aside">
        <div *ngIf="showHome" class="chiffre-aside" style="margin-left: auto;margin-right: 0;">
            <div class="elmt-aside" >
                <div href="">
                    <p class="titre-aside">Présents</p>
                    <br>
                    <p class="nombre-aside">820</p>
                </div>
            </div>
            <div class="elmt1-aside" title="messages">
                <div href="">
                    <p class="titre-aside">Malades</p>
                    <br>
                    <p class="nombre-aside">11</p>
                </div>
            </div>
            <div class="elmt2-aside" >
                <div href="">
                    <p class="titre-aside">Congés</p>
                    <br>
                    <p class="nombre-aside">04</p>
                </div>
            </div>
        </div>
        
        
        <div *ngIf="showHome" class="interi-aside">
            <p class="dernier-aside">En fin de contrat</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <img alt="" class="photo-aside" src="../assets/images/{{p.photo}}">
                        </div>
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.prenom}} </p>
                            <p class="poste-aside"> {{p.poste}} </p>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button-aside" routerLink="/accueil/newinter">Voir le liste</button>
        </div>
        <div *ngIf="!showHome">
            <div class="annonce-aside" *ngFor="let d of data">
                <div  class="manager-detail-aside">
                    <p class="dernier-aside">Manager</p>
                    <div class="manager-aside">
                    <img src="../assets/images/manager.png" alt="">
                    </div>
                    <p class="nom-aside">{{d.manager}}</p>
                    <p class="postem-aside">{{d.postem}}</p>
                    <button  class="button-aside" routerLink="/accueil/manager">Afficher</button>
                </div>
            </div>
        </div>
        <div class="annonce-aside">
            <p class="dernier-aside">Avis de recrutement</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container1-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.poste}} </p>
                            <div class="dep-aside">
                                <p class="serv-aside"> {{p.direction}}/ </p>
                                <p class="serv-aside"> {{p.pole}}/ </p>
                                <p class="serv-aside"> {{p.departement}}/ </p>
                                <p class="serv-aside"> {{p.service}} </p>
                            </div>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp1-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button1-aside" routerLink="/accueil/offre">Voir le liste</button>
        </div>
    </div>
</div>