.all-container {
    display: grid;
    grid-template-columns: 1fr 350px;
    background-color: #f5f6f9;
}
.demande {
    background-color: white;
    margin-right: 10px;
    padding: 30px;
}
.detail{
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #222222;
    margin-top: 0;
}
.manager {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1px;
}
.image {
    position: relative;
}
.image-manager {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 40px;
    border: solid 3px #009393;
}
.im1 {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20%;
    left: 73%;
}
.im2 {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 60%;
    left: 73%;
}
.im3 {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 52%;
    left: 78%;
    padding: 5px;
    span {
        text-align: center;
        margin-left: 5px;
       // margin-top: 10px;
    }
}
.information{
    margin-top: 60px;
    margin-left: 10px;
}
.nom {
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    color: #222222;
    margin: 0;
}
.poste {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.13px;
    color: #222222;
    margin-top: 10px;
    margin-bottom: 0;
}
.matricule{
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    color: #222222;
    margin-top: 10px;
}
hr{
    margin-top: 40px;
}
.tableau {
    margin-top: 20px;
    background-color: white;
   // padding: 30px;
    position: relative;
}
.exporter{
    display: flex;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 20px;
}
.export{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 17px;
}
.csv {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    p {
        margin-top: 12px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
.filtrer {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    p {
        margin-top: 12px;
        margin-right: 30px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}
table {
    border-collapse: collapse;;
    width: 100%;
    margin-top: 50px;
}
  
  th {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  td {
    text-align: center;
    padding: 8px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  tr {
    height: 50px;
    border: 1px solid #f5f6f9;
    border-radius: 100%;
    margin-top: 20px;
  }
  .head{
      background-color: #f5f6f9;
  }
  .detail1 {
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
    color: #222222;
    margin-top: 30px;
  }
.button1 {
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
}
.type {
    display: flex;
    width: 50px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
  .updown {
    margin-top: 10px;
    margin-left: 20px;
  }
  .clear {
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-right: 30px;
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .btns2{
    width: 145px;
    margin: 0 auto;
  }
  .btn2 {
    width: 142px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -0.1px;
    text-align: center;
    color: #000000;
    border: none;
    background-color: #32c832;
    margin-top: 7px;
    outline: none;
}

//  aside scss

.chiffre-aside{
    position: relative;
    right: 0;
    display: flex;
   background-color: #ffffff;
 }
 

 .chiffre-aside .elmt-aside{
    position: relative;
    padding: 13px 32px 0px 32px;
    border-left: solid 2px #f5f6f9;
 }
 .chiffre-aside .elmt1-aside{
   position: relative;
   padding: 13px 35px 0px 39px;
   border-left: solid 1px #f5f6f9;
   border-right: solid 1px #f5f6f9;
}
.chiffre-aside .elmt2-aside{
    position: relative;
    padding: 13px 30px 0px 35px;
}
 .icon-aside {
    width: 40px;
    height: 40px;
 }
.nombre-aside {
  margin-top: 0px;
  font-family: FuturaBT;
  font-size: 28px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  text-align: center;
  margin-bottom: 5px;
}
.titre-aside {
    opacity: 0.7;
    font-family: Futura;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.interi-aside {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px 20px 15px 20px;
}
.dernier-aside {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 30px;
}
.grid-container-aside {
    display: grid;
    grid-template-columns: 45px 200px 45px;
    grid-gap: 1px;
    background-color: white;
    padding: 0px;
    margin-top: 10px;
    border-bottom: 1px solid #f5f6f9;
}
.photo-aside {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.prenom-aside {
    margin-top: 0;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.poste-aside {
    margin-top: -8px;
    margin-left: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.tmp-aside {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #f03737;
}
.button-aside {
    width: 132px;
    height: 50px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 80px;
    cursor: pointer;
    outline: none;
}
.annonce-aside {
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px 20px 15px 20px;
}
.grid-container1-aside {
    display: grid;
    grid-template-columns: 210px 100px;
    grid-gap: 1px;
    background-color: white;
    padding: 0px;
    margin-top: 10px;
    border-bottom: 1px solid #f5f6f9;
}
.dep-aside {
    display: flex;
    margin-left: 10px;
}
.serv-aside {
    margin-top: -8px;
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
}
.button1-aside {
    width: 132px;
    height: 50px;
    background-color: #32c832;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 80px;
    cursor: pointer;
    outline: none;
}
.tmp1-aside {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #009393;
}
.manager-aside {
    margin: 0 auto;
    width: 140px;
    img{
        width: 139px;
        height: 139px;
    }
    
}
.nom-aside {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
    text-align: center;
    color: #222222;
    margin-bottom: 0;
}
.postem-aside{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #222222;
    margin-top: 5px;
}
@media (max-width: 991px) {
    .chiffre-aside {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1px;
        background-color: white;
        padding: 0px;
        margin-top: 10px;
        border-bottom: 1px solid #f5f6f9;
    }
    .grid-container-aside {
        grid-template-columns: 55px 1fr 55px;
    }
    .grid-container1-aside {
        grid-template-columns: 1fr 125px;
    }
    .all-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "tableau"
          "aside";
        margin-right: -10px;
    }
    .demande {
        margin-top: 10px;
        margin-right: 0;
        padding: 10px;
    }
    .detail {
        font-size: 20px;
        margin-left: 10px;
    }
    .manager {
        grid-template-columns: 1fr;
        grid-template-areas:
          "image"
          "information";
        margin-left: 10px;
    }
    .image {
        width: 180px;
        margin: 0 auto;
    }
    .image-manager {
        width: 170px;
        height: 170px;
        object-fit: contain;
        border-radius: 20px;
        border: solid 3px #009393;
    }
    .im1 {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15%;
        left: 90%;
    }
    .im2 {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 60%;
        left: 90%;
    }
    .image-contact {
        width: 30px;
        height: 30px;
    }
    .information{
        margin-top: 10px;
    }
    .nom {
        font-size: 20px;
    }
    .poste {
        font-size: 16px;
    }
    .matricule{
        font-size: 20px;
    }
    hr{
        margin-top: 10px;
    }
    .detail1 {
        font-size: 18px;
    }
    table {
        margin-top: 10px;
    }
    th {
        font-size: 10px !important;
    }
    td {
        font-size: 10px !important;
    }
    .button-aside {
        font-size: 14px;
        height: 30px;
    }
    .button1-aside {
        font-size: 14px;
        height: 30px;
    }
    .dernier-aside {
        font-size: 18px;
    }
    .nombre-aside {
        font-size: 16px;
    }
}