<div class="content-diagram-genre">
    <div *ngIf="scrWidth>991" class="stat">
        <div class="elmt2" title="messages2">
            <div class="tit">
                <p class="total">Variation des Agence par période</p>
                <div class="filter-date">
                    <div [style.border]="borderfilter1" id="filter-annee" class="filtrer-annees">
                        <mat-icon [style.color]="colorfilter1" id="icon-calendar-annee"  class="icone-calendar1" fontSet="material-icons-outlined">date_range</mat-icon>
                        <select class="select-mois" #lAnnee (change)='dateSelectionnerAgence(lAnnee.value)'>
                            <option class="option" value="" disabled selected hidden>2021</option>
                            <option *ngFor="let p of diagram1" class="option" [value]="p.mois">{{p.annee}}</option>
                        </select>
                    </div>
                </div>
            </div>
           
            <div class="diagra1">
                <div id="chart1">
                    <apx-chart
                        [series]="chartOptions6.series"
                        [chart]="chartOptions6.chart"
                        [dataLabels]="chartOptions6.dataLabels"
                        [plotOptions]="chartOptions6.plotOptions"
                        [responsive]="chartOptions6.responsive"
                        [xaxis]="chartOptions6.xaxis"
                        [legend]="chartOptions6.legend"
                        [fill]="chartOptions6.fill"
                        [colors]="chartOptions6.colors"
                        [dataLabels]="chartOptions6.dataLabels"
                    ></apx-chart>
                </div>
            </div>
            <div class="lesbouton2">
                <div  class="button3"> 
                    <div class="color"></div> 
                    <p>Malades</p>
                </div>
                <div  class="button4"> 
                    <div class="color"></div> 
                    <p>Présents</p>
                </div>
                <div  class="button5"> 
                    <div class="color"></div> 
                    <p>Congés</p>
                </div>
            </div>
       
        </div>
    </div>
    <div *ngIf="scrWidth>991" class="stat-effectif-direction">
        <div class="elmt2" title="messages2">
            <div class="tit">
                <p class="total">Répartition des interimaires</p>
            </div>
            <div class="selects-and-echelle">
                <div class="filtre-societe-direction">
                    <div class="filtrer-societe" style="cursor: pointer;">
                        <select class="select-societe" #lEffectif (change)='effectifSocieteSelectionner(lEffectif.value)'>
                            <option *ngFor="let p of societes" class="option" [value]="p.societe">{{p.societe}}</option>
                        </select>
                    </div>
                    <div class="filtrer-direction" style="cursor: pointer;">
                        <select class="select-societe" #myDirection (change)='effectifSocieteSelectionner(myDirection.value)'>
                            <option class="option" value="" disabled selected hidden>Direction</option>
                            <option *ngFor="let p of directions" class="option" [value]="p.direction">{{p.direction}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="diagra1">
                <!-- <div id="chart1">
                    <apx-chart
                      [series]="chartOptions7.series"
                      [chart]="chartOptions7.chart"
                      [dataLabels]="chartOptions7.dataLabels"
                      [plotOptions]="chartOptions7.plotOptions"
                      [responsive]="chartOptions7.responsive"
                      [xaxis]="chartOptions7.xaxis"
                      [legend]="chartOptions7.legend"
                      [fill]="chartOptions7.fill"
                      [colors]="chartOptions7.colors"
                      [dataLabels]="chartOptions7.dataLabels"
                    ></apx-chart>
                </div> -->
            </div>
            <div class="lesbouton2">
                <div  class="button3"> 
                    <div class="color"></div> 
                    <p>Malades</p>
                </div>
                <div  class="button4"> 
                    <div class="color"></div> 
                    <p>Présents</p>
                </div>
                <div  class="button5"> 
                    <div class="color"></div> 
                    <p>Congés</p>
                </div>
            </div>
        </div>
    </div>
</div>