<div class="content-diagram-genre">
    <div *ngIf="scrWidth>991" class="stat">
        <div class="elmt2" title="messages2">
            <div class="tit">
                <p class="total">Variation des Agences </p>
                <div class="filter-date" [formGroup]="firstsocieteForm">
                    <div [style.border]="borderfilter1" id="filter-annee" class="filtrer-annees">
                        <mat-icon [style.color]="colorfilter1" id="icon-calendar-annee"  class="icone-calendar1" fontSet="material-icons-outlined">date_range</mat-icon>
                        <select class="select-mois" formControlName="firstannee">
                            <option class="option" value="">Année</option>
                            <option *ngFor="let p of lastTenYear" class="option" [value]="p.annee">{{p.annee}}</option>
                        </select>
                    </div>
                    <div [style.border]="borderfilter1" id="filter-annee" class="filtrer-annees">
                        <mat-icon [style.color]="colorfilter1" id="icon-calendar-annee"  class="icone-calendar1" fontSet="material-icons-outlined">home</mat-icon>
                        <select class="select-mois" formControlName="firstsociete">
                            <option *ngFor="let p of dataSociete" class="option" [value]="p.id">{{p.libelle}}</option>
                        </select>
                    </div>
                    <div class="content-extraction">
                        <button (click)="dateSelectionnerAgence()" class="button-rafraichir">Rafraichir</button>
                    </div>
                    <div class="content-extraction">
                        <button (click)="exportStatInterimaireBySociete()" class="button-extraire">Extraire en CSV</button>
                    </div>
                </div>
            </div>
           
            <div class="content-diagramm-echelle">
                <div class="diagra1">
                    <div id="chart1">
                        <apx-chart
                            [series]="chartOptions6.series"
                            [chart]="chartOptions6.chart"
                            [dataLabels]="chartOptions6.dataLabels"
                            [plotOptions]="chartOptions6.plotOptions"
                            [responsive]="chartOptions6.responsive"
                            [xaxis]="chartOptions6.xaxis"
                            [legend]="chartOptions6.legend"
                            [fill]="chartOptions6.fill"
                            [colors]="chartOptions6.colors"
                            [dataLabels]="chartOptions6.dataLabels"
                        ></apx-chart>
                    </div>
                </div>
                <div class="lesbouton2">
                    <div  class="button3"> 
                        <div class="color"></div> 
                        <p>Inactif</p>
                    </div>
                    <div  class="button4"> 
                        <div class="color"></div> 
                        <p>Actifs</p>
                    </div>
                    <div  class="button5"> 
                        <div class="color"></div> 
                        <p>Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>  
    <div *ngIf="scrWidth>991" class="stat">
        <div class="elmt2" title="messages2">
            <div class="tit">
                <p class="total">Variation d'une Agence </p>
            </div>
           
            <div class="content-diagramm-echelle">
                <div class="diagra1">
                    <div id="chart1">
                        <apx-chart
                            [series]="chartOptions6.series"
                            [chart]="chartOptions6.chart"
                            [dataLabels]="chartOptions6.dataLabels"
                            [plotOptions]="chartOptions6.plotOptions"
                            [responsive]="chartOptions6.responsive"
                            [xaxis]="chartOptions6.xaxis"
                            [legend]="chartOptions6.legend"
                            [fill]="chartOptions6.fill"
                            [colors]="chartOptions6.colors"
                            [dataLabels]="chartOptions6.dataLabels"
                        ></apx-chart>
                    </div>
                </div>
                <div class="lesbouton2">
                    <div  class="button3"> 
                        <div class="color"></div> 
                        <p>Inactif</p>
                    </div>
                    <div  class="button4"> 
                        <div class="color"></div> 
                        <p>Actifs</p>
                    </div>
                    <div  class="button5"> 
                        <div class="color"></div> 
                        <p>Total</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>