<div class="all-container">
    <div class="all">
        <p class="statt-header">Gestion Catégorie</p>
        
        <div class="content-all-liste-site">
            <button class="button-add" (click)="openModal('custom-modal-1');">Ajouter une catégorie</button>
            <table style="overflow-x:auto;"aria-describedby = "mydesc" >
                <thead>
                    <tr class="head">
                        <th class="typ" id="prenom">Libelle</th>
                        <th  id="manager"><b>Salaire brute</b></th>
                        <th  id="agence"><b>Action</b></th>
                    </tr>
                </thead>
                <tbody *ngFor="let p of dataSite let i = index ">
                    <tr >
                        <td >{{p.libelle}}</td>
                        <td >{{p.salaireBrute}}</td>
                        <td >
                            <mat-icon (click)="update(p, 'custom-modal-1')" id="mat-icon" class="icon-edit">edit</mat-icon>
                            <mat-icon (click)="supprimer(p.id)" id="mat-icon" class="icon-delete">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 <!--modal-4-->
 <div class="modal">
    <jw-modal id="custom-modal-1">
        <h1 class="modal-renouveler">Ajouter une catégorie</h1>
        <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-1');" class="clear-renouveler">clear</mat-icon>
        <div class="form-contrat">
            <form [formGroup]="addForm">
                <div class="content-form-contrat">
                    <div class="content-inputs-form">
                        <div>
                            <p class="label-input1">Libelle<span class="signe-obligatoire">*</span></p>
                            <input class="input3" type="text" formControlName="libelle" placeholder="Libelle">
                        </div>
                        <div>
                            <p class="label-input1">Salaire Brute<span class="signe-obligatoire">*</span></p>
                            <input type="text" formControlName="salaireBrute" placeholder="Salaire brute">
                        </div>
                    </div>
                </div>
                <div class="content-error-msg" *ngIf="successMsg == false">
                    <p class="error-alert">{{ errorMsg}}</p>
                </div>
                <div class="buttons-content-valider">
                   <button *ngIf="!addForm.value.id" class="button-enregistrer-contrat" (click)="ajouter()" type="button">Ajouter</button>
                   <button *ngIf="addForm.value.id" class="button-enregistrer-contrat" (click)="modifier()" type="button">Modifier</button>
                </div>
            </form>
        </div>
    </jw-modal>
</div>

