<div class="all-container">
    <div class="all2" >
        <div class="grid2">
            <div class="img">
                <img src="{{dataAgence?.data.logo}}" alt="">
            </div>
            <div class="agence">
                <p class="nom2">{{dataAgence?.data.nom}}</p>
                <div class="nombre">
                    <div class="total">
                        <p class="title">Total</p>
                        <p class="libelle">{{dataAgence?.data.dateDebut | date: "Mdd"}}</p>
                    </div>
                    <div class="actif">
                        <p class="title">Actifs</p>
                        <p class="libelle">{{dataAgence?.data.dateFin | date: "Mdd"}}</p>
                    </div>
                    <div class="archiv">
                        <p class="title">Archivés</p>
                        <p class="libelle">{{dataAgence?.data.dateDebut | date: "Mdd"}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="pes">
                <div class="prenom">
                    <mat-icon class="icon-item">person</mat-icon>
                    <p class="info-item">{{dataAgence?.data.responsable}}</p>
                </div>
                <div class="email2">
                    <mat-icon class="icon-item">mail</mat-icon>
                    <p class="info-item">{{dataAgence?.data.email}}</p>
                </div>
                <div class="siteweb">
                    <mat-icon class="icon-item">language</mat-icon>
                    <p class="info-item">{{dataAgence?.data.siteweb}}</p>
                </div>
            </div>
            <div class="pa">
                <div class="phone2">
                    <mat-icon class="icon-item">local_phone</mat-icon>
                    <p class="info-item">{{dataAgence?.data.telephone}}</p>
                </div>
                <div class="adresse2">
                    <mat-icon class="icon-item">room</mat-icon>
                    <p class="info-item">{{dataAgence?.data.adresse}}</p>
                </div>
            </div>
        </div>
        <div class="trait"></div>
        <p class="utilisateur">Liste des utilisateurs</p>
        <div class="users">
            <div class="user1">
                <div class="photo1">
                    <img src="../assets/images/{{dataAgence?.data.photo}}" alt="">
                </div>
                <div class="profil">
                    <p class="profil1">{{dataAgence?.data.manager}}</p>
                    <p class="profil2">{{dataAgence?.data.manager}}</p>
                </div>
            </div>
            <div class="user1">
                <div class="photo1">
                    <img src="../assets/images/{{dataAgence?.photo}}" alt="">
                </div>
                <div class="profil">
                    <p class="profil1">{{dataAgence?.manager}}</p>
                    <p class="profil2">{{dataAgence?.poste}}</p>
                </div>
            </div>
        </div>
        <div class="btns">
            <button class="buttonaffi" (click)="openModal('custom-modal-1')" type="button">Afficher contrat</button>
            <button class="buttonmodif" *ngIf="showupdate" (click)="openModal('custom-modal-2')" type="button">Modifier</button>
            <button class="buttonsupp" *ngIf="showupdate" (click)="delete()" type="button">Supprimer</button>
        </div>
    </div>
    <div class="aside">
        <div class="chiffre-aside" style="margin-left: auto;margin-right: 0;">
            <div class="elmt-aside" >
                <div href="">
                    <p class="titre-aside">Présents</p>
                    <br>
                    <p class="nombre-aside">820</p>
                </div>
            </div>
            <div class="elmt1-aside" title="messages">
                <div href="">
                    <p class="titre-aside">Malades</p>
                    <br>
                    <p class="nombre-aside">11</p>
                </div>
            </div>
            <div class="elmt2-aside" >
                <div href="">
                    <p class="titre-aside">Congés</p>
                    <br>
                    <p class="nombre-aside">04</p>
                </div>
            </div>
        </div>
        
        
        <div class="interi-aside">
            <p class="dernier-aside">En fin de contrat</p>
            <div *ngFor="let p of agence | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <img alt="" class="photo-aside" src="{{p.photo}}">
                        </div>
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.prenom}} </p>
                            <p class="poste-aside"> {{p.poste}} </p>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button-aside" routerLink="/accueil/newinter">Voir le liste</button>
        </div>
        
        <div class="annonce-aside">
            <p class="dernier-aside">Avis de recrutement</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container1-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.poste}} </p>
                            <div class="dep-aside">
                                <p class="serv-aside"> {{p.direction}}/ </p>
                                <p class="serv-aside"> {{p.pole}}/ </p>
                                <p class="serv-aside"> {{p.departement}}/ </p>
                                <p class="serv-aside"> {{p.service}} </p>
                            </div>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp1-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button1-aside" routerLink="/accueil/offre">Voir le liste</button>
        </div>
      </div>
</div>
<!--modal-1-->
<div class="modal">
    <jw-modal id="custom-modal-1">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-1');" class="clear">clear</mat-icon>
            <p class="dtl1">contrat {{dataAgence?.nom}}</p>
            <ngx-doc-viewer 
               [url]="DemoDoc" 
               [viewer]="viewer" 
               style="width:100%;height:70vh;">
            </ngx-doc-viewer>
            <div class="btns2">
                <button (click)="getfilemodal()"  class="btn2">Télécharger</button>
                <button   class="btn2a">Arrêter contrat</button>
            </div>
        </div>
    </jw-modal>
</div>

 <!--modal-2-->
 <div class="modal">
    <jw-modal id="custom-modal-2">
        <h1>Modification</h1>
        <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-2');" class="clear">clear</mat-icon>
        <div class="form">
            <form [formGroup]="agenceForm" (ngSubmit)="submitted1()">
                <div >
                    <div class="grid">
                        <div class="photo">
                            <img alt="" *ngIf="!url1==true" src="{{logo}}">
                            <img alt="" *ngIf="url1" [src]="url1" height="60">
                            <input formControlName="logo" class="button" type="file" [(ngModel)]="logo" (change)="getPhoto($event.target)" >
                        </div>
                        <div class="others">
                            <div class="input1">
                            <input type="text" [(ngModel)]="nom"  formControlName="nom" placeholder="Nom entreprise">
                            </div>
                            <div class="input2">
                                <input type="text" [(ngModel)]="nomdg"  formControlName="nomdg" placeholder="Nom Directeur Général">
                                <input class="input3" [(ngModel)]="numdg"  type="text" formControlName="numdg" placeholder="Numéro DG">
                            </div>
                            <div class="input1">
                                <input type="text" [(ngModel)]="email"  formControlName="email" placeholder="Email">
                            </div>
                            <div class="input2">
                                <input type="text" [(ngModel)]="mobile"  formControlName="mobile" placeholder="Numéro téléphone Mobile">
                                <input class="input3" [(ngModel)]="fixe"  type="text" formControlName="fixe" placeholder="Numéro Fixe">
                            </div>
                            <div class="input1">
                                <input type="text" [(ngModel)]="siteweb" formControlName="siteweb" placeholder="Site web">
                            </div>
                            <div class="input4">
                                <textarea type="textarea" [(ngModel)]="adresse" formControlName="adresse" placeholder="Adresse"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="trait"></div>
                    <div class="boutons">
                        <p class="p2">Documents Entreprise</p>
                        <div class="buttons1">
                           <!-- <input formControlName="contrat" [(ngModel)]="contrat" class="button5" type="file" (change)="readUrl1($event)" >
                            <input formControlName="cnidg" [(ngModel)]="cnidg" class="button6" type="file" (change)="readUrl1($event)" >-->
                        </div>
                    </div>
                    <div class="buttons">
                    <button class="buttonenregistrer" type="submit">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </jw-modal>
</div>