<!-- <p>ajoutdomaine works!</p> -->

<div  class="content-form-search">
    <p class="ajouter">Ajouter un domaine</p>
    <div class="content-form">
      <div class="content-row-form">
        <div class="content-input">
          <p class="label-input1">Type de Pièce</p>
          <select class="select-search"  required>
            <option class="option" value="" disabled selected hidden>Choisir le type de Pièce</option>
            <option  ></option>
          </select>
          <p class="error-require-input-search" >Veuillez séléctionner un type de pièce</p>
        </div>
        <div class="content-input">
          <p class="label-input2">Numéro Pièce</p>
          <input class="input-search" type="text"  placeholder="Numero Pièce" required>
          <p class="error-require-input-search"  >Veuillez renseigner le numéro de piéce</p>
        </div>
      </div>
      <div class="content-row-form">
        <div class="content-input">
          <p class="label-input1">Société</p>
          <select class="select-search" required>
            <option class="option" value="" disabled selected hidden>Choisir une société</option>
            <option ></option>
          </select>
          <p class="error-require-input-search" >Veuillez séléctionner une Société</p>
        </div>
        <div class="content-input">
          <p class="label-input2">Numéro Téléphone</p>
          <input class="input-search" type="number"  placeholder="Numero Téléphone" required>
          <p class="error-require-input-search"  >Veuillez renseigner le numéro de téléphone</p>
        </div>
      </div>
      <div class="content-button-form">
        <button  class="button-rechercher">Ajouter</button>
      </div>
    </div>
  </div>