<div *ngIf="scrWidth>991" class="all-nav">
    <div [style.height.px]="scrHeight" class="content-all-nav">
        <div *ngFor="let p of menus ;let i = index" (click)="selected=i">
            <li [style.marginTop.px]="getMargin(p)">
                <a class="nav-link" [routerLink]="p.path"  [routerLinkActive]="['active']" style="text-decoration: none;">
                    <div class="grid-container">
                        <div *ngIf="!p.liste" class="item1" [style.background]="selected==i?'#ff7900':'white'" (click)="selected=i">
                        </div>
                        <div *ngIf="p.liste" class="item1" [style.background]="selected==i?'white':'white'" (click)="selected=i">
                        </div>
                        <div class="item2"> 
                            <mat-icon class="icon1" fontSet="material-icons-outlined" [style.color]="selected==i?'#ff7900':'#979797'" (click)="selected=i" [style.-webkit-text-stroke]="selected==i?' #ff7900':'#979797'" (click)="selected=i">{{p.icon}}</mat-icon>
                        </div> 
                        <div class="item3"> 
                            <p class="title-nav" [style.color]="selected==i?'#ff7900':'#979797'" (click)="selected=i" [style.-webkit-text-stroke]="selected==i?' #ff7900':'#979797'" (click)="selected=i"> {{p.title}} </p>
                        </div>
                        <div  class="item2"> 
                            <mat-icon class="icon2" fontSet="material-icons-outlined" [style.color]="selected==i?'#ff7900':'#979797'" (click)="selected=i" [style.-webkit-text-stroke]="selected==i?' #ff7900':'#979797'" (click)="selected=i">{{p.icon2}}</mat-icon>
                        </div>
                    </div>
                    <div *ngIf="selected==i">
                        <div *ngIf="p.liste" class="sous-liste">
                            <div *ngFor="let pl of p.liste; let j = index" >
                                <a class="nav-link" [routerLink]="pl.path" [routerLinkActive]="['active']" style="text-decoration: none;">
                                    <div class="grid-container1" (click)="selected1=j">
                                        <div class="item1a" [style.background]="selected1==j?'#ff7900':'white'" >
                                        </div>
                                        <div class="item4a">
                                            <p class="title-nav2" [style.color]="'#ff7900'" [style.font-weight]="selected1==j?'bold':'normal'" [style.-webkit-text-stroke]="selected1==j?' #ff7900':'#979797'" > {{pl.title}} </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </div>
        <div class="vide-content">
            
        </div>
    </div>
</div>
