.all {
    background: white;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.all1 {
    width: 700px;
    margin: 0 auto;
}
.p1 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin-top: 0px;
    margin-bottom: 0;
}
.matri {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin-top: 30px;
    margin-left: -20px;
    span {
        font-weight: bold;
    }
}
.grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 240px 1fr;
}
img {
    width: 232px;
    height: 232px;
    margin-left: -20px;
    border-radius: 40px;
    border: solid 3px #009393;
}
::-webkit-file-upload-button {
    
    width: 158px;
    height: 50px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 20px;
}
/* for poor sods using IE */
::-ms-browse {
    content: 'Ajouter Photo';
    width: 158px;
    height: 50px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 20px;
}
.button::-webkit-file-upload-button {
    visibility: hidden;
    outline: none;
}
.button::before {
    content: 'Ajouter Photo';
    width: 158px;
    height: 35px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 15px;
}
.others {
    margin-left: 20px;
}
input {
    padding-left: 10px;
    outline: none;
}
.input1 input {
    width: 415px;
    height: 41px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin-bottom: 15px;
}
.input2 input {
    width: 195px;
    height: 41px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin-bottom: 15px;
}
.input4 textarea {
    width: 422px;
    height: 114px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin-bottom: 15px;
    outline: none;
}
.input3 {
    margin-left: 10px;
}
.buttons {
    width: 176px;
    margin: 0 auto;
}
.button2 {
    width: 106px;
    height: 50px;
    background: #f16e00;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.2px;
    color: white;
    border-radius: none;
    margin-top: 30px;
    border: none;
    margin-bottom: 20px;
}
.trait {
    border: 1px solid #979797;
    background-color: #979797;
    margin-top: 30px;
}
.p2 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin-top: 10px;
    margin-bottom: 10px;
}
.buttons1 {
    display: flex;
}
.button3::-webkit-file-upload-button {
    visibility: hidden;
    outline: none;
}
.button3::before {
    content: 'NINEA';
    width: 128px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;

}
.button4::-webkit-file-upload-button {
    visibility: hidden;
    outline: none;
}
.button4::before {
    content: 'RCCM';
    width: 128px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
}
.button5::-webkit-file-upload-button {
    visibility: hidden;
    outline: none;
}
.button5::before {
    content: 'Contrat';
    width: 128px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;

}
.button6::-webkit-file-upload-button {
    visibility: hidden;
    outline: none;
}
.button6::before {
    content: 'CNI DG';
    width: 128px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
}
