<div class="all-container">
  <div class="all">
    <div class="all1">
        <p class="p1">Ajouter une Agence</p>
        <div class="form">
          <form [formGroup]="infoForm" (ngSubmit)="submitted1()">
            <div>
              <div class="grid">
                <div class="photo">
                  <img class="image-upload" *ngIf="image" src="{{image}}" alt="logo">
                  <img class="image-upload" *ngIf="!image" alt="" [src]="url1" height="60">
                  <input formControlName="logo" class="button" type="file" (change)="getLogo($event.target)" >
                </div>
                <div class="others">
                  <div class="input1">
                    <input type="text" formControlName="nom" placeholder="Nom entreprise">
                    <div class="form-control-feedback"
                      *ngIf="infoForm.controls['nom'].errors && (infoForm.controls['nom'].dirty || infoForm.controls['nom'].touched)">
                      <p class="error-alert" *ngIf="infoForm.controls['nom'].errors.required">le nom est obligatoire</p>
                    </div>
                  </div>
                  <div class="input2">
                    <input type="text" formControlName="nomdg" placeholder="Nom Directeur Général">
                    <!-- <div class="form-control-feedback"
                      *ngIf="infoForm.controls['nomdg'].errors && (infoForm.controls['nomdg'].dirty || infoForm.controls['nomdg'].touched)">
                      <p class="error-alert" *ngIf="infoForm.controls['nomdg'].errors.required">le nomdg est obligatoire</p>
                    </div> -->
                    <input class="input3" type="number" formControlName="numdg" placeholder="Téléphone DG">
                    <!-- <div class="form-control-feedback"
                      *ngIf="infoForm.controls['numdg'].errors && (infoForm.controls['numdg'].dirty || infoForm.controls['numdg'].touched)">
                      <p class="error-alert" *ngIf="infoForm.controls['numdg'].errors.required">le numdg est obligatoire</p>
                    </div> -->
                  </div>
                  <div class="input1">
                    <input type="text" formControlName="email" placeholder="Email">
                    <div class="form-control-feedback"
                      *ngIf="infoForm.controls['email'].errors && (infoForm.controls['email'].dirty || infoForm.controls['email'].touched)">
                      <p class="error-alert" *ngIf="infoForm.controls['email'].errors.required">l'email est obligatoire</p>
                      <p class="error-alert" *ngIf="infoForm.controls['email'].errors.pattern">Veuillez saisir un email valide</p>
                    </div>
                  </div>
                  <div class="input2">
                    <input type="text" formControlName="mobile" placeholder="Téléphone Mobile">
                    <!-- <div class="form-control-feedback"
                      *ngIf="infoForm.controls['mobile'].errors && (infoForm.controls['mobile'].dirty || infoForm.controls['mobile'].touched)">
                      <p class="error-alert" *ngIf="infoForm.controls['mobile'].errors.required">le mobile est obligatoire</p>
                    </div> -->
                    <input class="input3"  type="text" formControlName="fixe" placeholder="Téléphone Fixe">
                  </div>
                  <div class="input1">
                    <input type="text" formControlName="siteweb" placeholder="Site web">
                  </div>
                  <div class="input4">
                    <textarea type="textarea" formControlName="adresse" placeholder="Adresse"></textarea>
                    <div class="form-control-feedback"
                      *ngIf="infoForm.controls['adresse'].errors && (infoForm.controls['adresse'].dirty || infoForm.controls['adresse'].touched)">
                      <p class="error-alert" *ngIf="infoForm.controls['adresse'].errors.required">l'adresse est obligatoire</p>
                    </div>
                  </div>
                </div>
              </div>
             <div class="trait"></div>
                <div class="boutons">
                  <p class="p2">Documents Entreprise</p>
                  <div class="buttons1">
                    <input formControlName="ninea" class="button3" type="file" (change)="getNinea($event.target)" >
                    <input formControlName="rccm" class="button4" type="file" (change)="getRccm($event.target)" >
                    <input formControlName="contrat" class="button5" type="file" (change)="getContrat($event.target)" >
                    <input formControlName="cnidg" class="button6" type="file" (change)="getCnidg($event.target)" >
                  </div>
                  <div class="filenames">
                    <div class="nom-file2">
                        <p class="filename" *ngIf="ninea">Fichier Ninea: <span class="nom-du-fichier">{{filename2}}</span></p>
                    </div>
                    <div class="nom-file3">
                        <p class="filename" *ngIf="rccm">Fichier RCCM: <span class="nom-du-fichier">{{filename3}}</span></p>
                    </div>
                    <div class="nom-file4">
                      <p class="filename" *ngIf="contrat">Fichier Contrat: <span class="nom-du-fichier">{{filename4}}</span></p>
                    </div>
                    <div class="nom-file5">
                      <p class="filename" *ngIf="cnidg">Fichier CNI Dg: <span class="nom-du-fichier">{{filename5}}</span></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="content-error-msg" *ngIf="successMsg == false">
              <p class="error-alert">{{ data?.message}}</p>
            </div>
            <div class="buttons">
              <button class="button2" type="submit">Enregistrer</button>
            </div>
          </form>
        </div>
    </div>
</div>
</div>
<!--modal1-->
<div class="modal">
  <jw-modal id="error-modal-1">
      <div class="tableau" >
          <mat-icon style="cursor: pointer;" (click)="closeModal('error-modal-1');" class="clear">clear</mat-icon>
          <p class="error-title">Erreur:</p>
          <img class="error-image" src="../../../assets/images/error-message.png" alt="">
          <p class="dtl1">{{errorMsg}}</p>
          <div class="btns2">
              <button  class="btn2">Ok</button>
          </div>
      </div>
  </jw-modal>
</div>