<div class="all-container">
  <div class="all">
    <div class="all1">
        <p class="p1">Ajouter une Agence</p>
        <div class="form">
          <form [formGroup]="infoForm" (ngSubmit)="submitted1()">
            <div>
              <div class="grid">
                <div class="photo">
                  <img class="image-upload" *ngIf="image" src="{{image}}" alt="logo">
                  <img class="image-upload" *ngIf="!image" alt="" [src]="url1" height="60">
                  <input formControlName="logo" class="button" type="file" (change)="getLogo($event.target)" >
                </div>
                <div class="others">
                  <div class="input1">
                    <input type="text" formControlName="nom" placeholder="Nom entreprise">
                  </div>
                  <div class="input2">
                    <input type="text" formControlName="nomdg" placeholder="Nom Directeur Général">
                    <input class="input3" type="text" formControlName="numdg" placeholder="Téléphone DG">
                  </div>
                  <div class="input1">
                    <input type="text" formControlName="email" placeholder="Email">
                  </div>
                  <div class="input2">
                    <input type="text" formControlName="mobile" placeholder="Téléphone Mobile">
                    <input class="input3"  type="text" formControlName="fixe" placeholder="Téléphone Fixe">
                  </div>
                  <div class="input1">
                    <input type="text" formControlName="siteweb" placeholder="Site web">
                  </div>
                  <!--<div class="input2">
                    <input type="text" formControlName="login" placeholder="Login">
                    <input class="input3"  type="text" formControlName="password" placeholder="Mot de passe">
                  </div>-->
                  <div class="input4">
                    <textarea type="textarea" formControlName="adresse" placeholder="Adresse"></textarea>
                  </div>
                </div>
              </div>
              <!--<div class="trait"></div>
                <div class="boutons">
                  <p class="p2">Documents Entreprise</p>
                  <div class="buttons1">
                    <input formControlName="ninea" class="button3" type="file" (change)="readUrl1($event)" >
                    <input formControlName="rccm" class="button4" type="file" (change)="readUrl1($event)" >
                    <input formControlName="contrat" class="button5" type="file" (change)="readUrl1($event)" >
                    <input formControlName="cnidg" class="button6" type="file" (change)="readUrl1($event)" >
                  </div>
                </div>-->
              <div >
              </div>
            </div>
            <div class="buttons">
              <button class="button2" type="submit">Enregistrer</button>
            </div>
          </form>
        </div>
    </div>
</div>
</div>