<div class="content-web" *ngIf="scrWidth>991">
  <nav class="nav-global">
    <div routerLink="/login" style="cursor: pointer;" class="logo">
      <img class="img-logo" src="../assets/icones/images-logo-orange.png" alt="">
      <div class="title-logo" *ngIf="scrWidth>991">
        <span>Gestion des <br> Interimaires</span>
      </div>
    </div>
    <div class="search">
        <mat-icon fontSet="material-icons-outlined" >search</mat-icon>
        <input [(ngModel)]="filterterm" class="input-search" type="text"  name="search" id="" placeholder="Rechercher interimaires, Agences et Manager">
        <button  class="buttona" (click)="openModal('custom-modal-50');">Recherche avancée</button>
    </div>
    <div class="notif-chat-profil" style="margin-left: auto;margin-right: 0;">
        <div style="cursor: pointer;" class="elmt notif" title="notifications">
            <div routerLink="/accueil/alertes" style="outline: none;">
               <mat-icon class="icon" fontSet="material-icons-outlined" >notifications</mat-icon>
               <span class="info-notif">notif</span>
            </div>
        </div>
        <div style="cursor: pointer;" class="elmt1 chat" title="messages">
            <div routerLink="/accueil/alertes" style="outline: none;">
              <mat-icon class="icon" fontSet="material-icons-outlined" >forum</mat-icon>
            </div>
        </div>
        <div style="cursor: pointer;" class="profil d-flex">
          <div (click)="updown()">
            <img class="img-profil" src="../assets/icones/Oval.png" alt="">
            <span class="info-status">on line</span>
          </div>
          <div (click)="updown()" *ngIf="scrWidth>991" class="nom d-flex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
            {{prenom}}    
          </div>
          <div class="updown" (click)="updown()">
            <mat-icon *ngIf="!click" fontSet="material-icons-outlined" >expand_more</mat-icon>
            <mat-icon *ngIf="click" fontSet="material-icons-outlined" >expand_less</mat-icon>
          </div>
        </div>
        <div  *ngIf="click" class="profilinfo" style="cursor: pointer;">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" style="will-change: transform;">
            <p class="profi" (click)="updown()" routerLink="/accueil/compte">profil</p>
            <br>
            <p class="deconnecte" (click)="updown()" routerLink="/login">déconnexion</p>
          </div>
        </div>
    </div>
</nav>

<!--modal-->
<div class="modal">
  <jw-modal id="custom-modal-50">
      <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-50');" class="clear">clear</mat-icon>
      <div class="all">
        <h1>Recherche avancée</h1>
        <div>
          <form [formGroup]="demandeForm">
              <div class="forms">
                  <div>
                    <div class="input2">
                      <input type="text" formControlName="prenom" placeholder="Prenom">
                      <input class="input3" type="text" formControlName="nom" placeholder="Nom">
                    </div>
                    <div class="input2">
                      <input type="text" formControlName="matricule" placeholder="Matricule">
                      <input class="input3" type="text" formControlName="email" placeholder="Email">
                    </div>
                    <div class="sele">
                      <div class="sele1">
                        <select class="custom-select" formControlName="direction">
                            <option value="" disabled selected hidden>Direction</option>
                            <option *ngFor="let moi of mois" [ngValue]="moi">{{moi}}</option>
                         </select>
                      </div>
                      <div class="sele2">
                        <select class="custom-select" formControlName="departement">
                            <option value="" disabled selected hidden>Département</option>
                            <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                        </select>
                      </div>
                      <div class="sele3">
                        <select class="custom-select" formControlName="service">
                            <option value="" disabled selected hidden>Services</option>
                            <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="sele">
                      <div class="sele1">
                        <select class="custom-select" formControlName="agence">
                            <option value="" disabled selected hidden>Agence</option>
                            <option *ngFor="let moi of mois" [ngValue]="moi">{{moi}}</option>
                         </select>
                      </div>
                      <div class="sele2">
                        <select class="custom-select" formControlName="annee">
                            <option value="" disabled selected hidden>Année</option>
                            <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                        </select>
                      </div>
                      <div class="input2">
                        <input class="input4" type="text" formControlName="poste" placeholder="Poste">
                      </div>
                    </div>
                    <div class="boutonsea">
                        <button (click)="onSubmit()" class="buttonsea">Rechercher</button>
                    </div>
                  </div>
              </div>
          </form>
      </div>
      </div>
  </jw-modal>
</div>
</div>

 <div class="content-mobile" *ngIf="scrWidth<991">
  <div class="nav-global-mobile">
    <div class="toggle-menu-mobile">
      <mat-icon *ngIf="!side" (click)="openSidenav('custom-modal-8');" class="icon-toggle-mobile">menu</mat-icon>
      <mat-icon *ngIf="side" (click)="closeSidenav('custom-modal-8');" class="icon-toggle-mobile">menu</mat-icon>
    </div>
    <div (click)="closeSidenav('custom-modal-8');" routerLink="/login" style="cursor: pointer;" class="logo-mobile">
      <img class="img-logo-mobile" src="../assets/icones/images-logo-orange.png" alt="">
      <p class="title-logo-mobile">GDI</p>
    </div>
    <div (click)="closeSidenav('custom-modal-8');" class="notif-chat-profil-mobile" >
        <div class="search-mobile">
          <mat-icon class="icon-search-mobile" fontSet="material-icons-outlined" >search</mat-icon>
        </div>
        <div style="cursor: pointer;" class="elmt-mobile" title="notifications">
          <div routerLink="/accueil/alertes" style="outline: none;">
             <mat-icon class="icon-notif-mobile" fontSet="material-icons-outlined" >notifications</mat-icon>
             <span class="info-notif-mobile">notif</span>
          </div>
      </div>
    </div>
  </div>
  <!--modal-->
<div class="modal">
  <sonatel-pma-sidenav id="custom-modal-8">
    <div class="all-sidenav" *ngIf="scrWidth<991">
      <div class="menu-sidenav" [style.height.px]="scrHeight">
        <div  *ngFor="let p of menus ;let i = index"  (click)="selected=i" >
          <li [style.marginTop.px]="getMargin(p)">
              <a class="nav-link" [routerLink]="p.path"  [routerLinkActive]="['active']" style="text-decoration: none;">
                  <div class="grid-container" (click)="navigate(p,'custom-modal-8')">
                      <div *ngIf="!p.liste" class="item1" [style.background]="selected==i?'#ff7900':'white'" (click)="selected=i">
                      </div>
                      <div *ngIf="p.liste" class="item1" [style.background]="selected==i?'white':'white'" (click)="selected=i">
                      </div>
                      <div class="item2"> 
                          <mat-icon fontSet="material-icons-outlined" [style.color]="selected==i?'#ff7900':'#979797'" (click)="selected=i" [style.-webkit-text-stroke]="selected==i?' #ff7900':'#979797'" (click)="selected=i">{{p.icon}}</mat-icon>
                      </div> 
                      <div class="item3"> 
                          <p [style.color]="selected==i?'#ff7900':'#979797'" (click)="selected=i" [style.-webkit-text-stroke]="selected==i?' #ff7900':'#979797'" (click)="selected=i"> {{p.title}} </p>
                      </div>
                      <div  class="item2"> 
                          <mat-icon fontSet="material-icons-outlined" [style.color]="selected==i?'#ff7900':'#979797'" (click)="selected=i" [style.-webkit-text-stroke]="selected==i?' #ff7900':'#979797'" (click)="selected=i">{{p.icon2}}</mat-icon>
                      </div>
                  </div>
                  <div *ngIf="selected==i">
                      <div *ngIf="p.liste">
                          <div *ngFor="let pl of p.liste; let j = index" >
                              <a class="nav-link" [routerLink]="pl.path" [routerLinkActive]="['active']" style="text-decoration: none;">
                                  <div (click)="closeSidenav('custom-modal-8');" class="grid-container1" (click)="selected1=j">
                                      <div class="item1a" [style.background]="selected1==j?'#ff7900':'white'" >
                                      </div>
                                      <div class="item4a">
                                          <p [style.color]="'#ff7900'" [style.font-weight]="selected1==j?'bold':'normal'" [style.-webkit-text-stroke]="selected1==j?' #ff7900':'#979797'" > {{pl.title}} </p>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </a>
          </li>
      </div>
      </div>
      <div (click)="closeSidenav('custom-modal-8');" class="close-sidenav"></div>
  </div>
  </sonatel-pma-sidenav>
</div>


<!--modal-->