<div class="all-container">
    <div class="compte">
        <div class="content-header">
            <div class="content-details">
                <div class="content-header-page">
                    <mat-icon class="bouton-retour" (click)="backClicked()">arrow_back</mat-icon>
                    <p class="detail">Détails Contrat de {{prenom}} {{nom}}</p>
                </div>
            </div>
        </div>
        <div class="grid-container" *ngIf="item">
            <div class="information">
                <div class="info">
                    <div class="lot1">
                        <p class="key">Poste: <span class="value">{{poste}}</span> </p>
                        <p class="key">Catégorie: <span class="value">{{categorie}}</span> </p>
                        <p class="key">Domaine: <span class="value">{{domaine}}</span> </p>
                        <p class="key">Date de Début: <span class="value">{{dateDebut | date:'dd MMMM yyyy'}}</span> </p>
                        <p class="key">Date de Fin: <span class="value">{{dateFin | date:'dd MMMM yyyy'}}</span> </p>

                        <p class="lot2">Société: <span class="value">{{societe}}</span> </p>
                        <p class="key">Direction: <span class="value">{{direction}}</span> </p>
                        <p class="key">Département: <span class="value">{{departement}}</span> </p>
                        <p class="key">Service: <span class="value">{{service}}</span> </p>
                    </div>
                </div>
                <div class="lesbouton">
                    <p class="liste-document-contrat">Les documents</p>
                    <button id="button" *ngIf="contratFile" class="button1" (click)="readFile(documents.fileContrat.file, documents.fileContrat.id)">Contrat</button>
                    <button id="button" *ngIf="procesVerbalFile" class="button2" (click)="readFile(documents.fileProcesVerbal.file, documents.fileProcesVerbal.id)">Procés Verbal</button>
                    <button id="button" *ngIf="ficheDePosteFile" class="button3" (click)="readFile(documents.fileFicheDePoste.file, documents.fileFicheDePoste.id)">Fiche de poste</button>
                    <button id="button" *ngIf="cvFile" class="buttoncv" (click)="readFile(documents.fileCV.file, documents.fileCV.id)">Cv</button>
                    <button id="button" *ngIf="visiteContreVisiteFile" class="buttonvisite" (click)="readFile(documents.fileVisiteContreVisite.file, documents.fileVisiteContreVisite.id)">Certificat Visite Contre Viste</button>
                </div>
                <hr class="ligne-separateur">
                <div>
                    <p class="label-non-document">Les documents restants</p>
                    <button id="button" *ngIf="!contratFile" class="button1" (click)="readFile(documents.fileContrat.file, documents.fileContrat.id)">Contrat</button>
                    <button id="button" *ngIf="!procesVerbalFile" class="button2" (click)="readFile(documents.fileProcesVerbal.file, documents.fileProcesVerbal.id)">Procés Verbal</button>
                    <button id="button" *ngIf="!ficheDePosteFile" class="button3" (click)="readFile(documents.fileFicheDePoste.file, documents.fileFicheDePoste.id)">Fiche de poste</button>
                    <button id="button" *ngIf="!cvFile" class="buttoncv" (click)="readFile(documents.fileCV.file, documents.fileCV.id)">Cv</button>
                    <button id="button" *ngIf="!visiteContreVisiteFile" class="buttonvisite" (click)="readFile(documents.fileVisiteContreVisite.file, documents.fileVisiteContreVisite.id)">Certificat Visite Contre Viste</button>
                </div>
                <div class="content-add-document">
                    <button (click)="openModal('custom-modal-3');" class="add-new-doc">ajouter un document</button>
                </div>
            </div>
            <div class="info-evaluation">
                <pdf-viewer [src]="reqUrl + '/public' + fileRead"
                [render-text]="true"
                [autoresize]="true"
                [original-size]="false"
                ></pdf-viewer>
                <div class="btns2">
                    <button (click)="getFile(fileRead)" class="btn2">Télécharger</button>
                    <button *ngIf="idFile" (click)="openUpModal('custom-modal-4', idFile);" class="btn2">Modifier</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal1-->
<div class="modal">
    <jw-modal id="custom-modal-1">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-1');" class="clear">clear</mat-icon>
            <p class="dtl1">contrat de {{prenom}} {{nom}}</p>
            <pdf-viewer [src]="contratDoc"
              [render-text]="true"
              [autoresize]="true"
              [original-size]="false"
            ></pdf-viewer>
            <div class="btns2">
              <button (click)="getContrat()"  class="btn2">Télécharger</button>
            </div>
        </div>
    </jw-modal>
</div>

<!--modal2-->
<div class="modal">
    <jw-modal id="custom-modal-2">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-2');" class="clear">clear</mat-icon>
            <p class="dtl1">Proces Verbal {{prenom}} {{nom}}</p>
            <pdf-viewer [src]="procesVerbal"
              [render-text]="true"
              [autoresize]="true"
              [original-size]="false"
            ></pdf-viewer>
            <div class="btns3">
                <button (click)="getFicheDePoste()"  class="btn2">Télécharger</button>
            </div>
        </div>
    </jw-modal>
</div>
<!--modal3-->
<div class="modal">
    <jw-modal id="custom-modal-3">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-3');" class="clear">clear</mat-icon>
            <p class="dtl1">Ajouter un document pour {{prenom}} {{nom}}</p>
            <div class="information" [formGroup]="documentForm">
                <div class="info-form">
                    <div class="content-input">
                        <p class="label-input-doc">Type de document</p>
                        <select class="select-input-form" #entite formControlName="typeDocumentId">
                            <option class="option" value="" disabled selected hidden>type document</option>
                            <option *ngFor="let data of dataTypeDocument" [value]="data.id">{{data.libelle}}</option>
                        </select>
                    </div>
                    <div class="content-input-file">
                        <input class="upload-doc" type="file" id="uploader" (change)="addDocument($event.target)">
                    </div>
                    <p class="nom-document-uploader">{{filename}}</p>
                </div>
                <div class="content-button-upload">
                    <button (click)="submit()" class="button-enregistrer">enregistrer</button>
                </div>
            </div>
        </div>
    </jw-modal>
</div>

<!--modal4-->
<div class="modal">
    <jw-modal id="custom-modal-4">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-4');" class="clear">clear</mat-icon>
            <p class="dtl1">Modification d'un document</p>
            <div class="information" [formGroup]="documentUpdateForm">
                <div class="info-form">
                    <div class="content-input">
                        <p class="label-input-doc">Type de document</p>
                        <select class="select-input-form" #entite [(ngModel)]="typeDocument_id" formControlName="typeDocument_id">
                            <option class="option" value="" disabled selected hidden>type document</option>
                            <option *ngFor="let data of dataTypeDocument" [value]="data.id">{{data.libelle}}</option>
                        </select>
                    </div>
                    <div class="content-input-file">
                        <input class="upload-doc" type="file" id="uploader" (change)="addUpDocument($event.target)">
                    </div>
                    <p class="nom-document-uploader">{{filenameUp}}</p>
                </div>
                <div class="content-button-upload">
                    <button (click)="updateDoc(idFile)" class="button-enregistrer">enregistrer</button>
                </div>
            </div>
        </div>
    </jw-modal>
</div>


<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <div class="error-image"></div>
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
</div>