<div class="content-diagram-effectif">
    <div *ngIf="scrWidth>991" class="stat">
        <div class="elmt2" title="messages2">
            <div class="tit">
                <p class="total">Variation de l’effectif</p>
                <div class="filter-date">
                    <div [style.border]="borderfilter1" id="filter-annee" class="filtrer-annees">
                        <mat-icon [style.color]="colorfilter1" id="icon-calendar-annee"  class="icone-calendar1" fontSet="material-icons-outlined">date_range</mat-icon>
                        <select class="select-mois" #lAnnee (change)='dateSelectionner(lAnnee.value)'>
                            <option class="option" value="" disabled selected hidden>Annee</option>
                            <option *ngFor="let p of dataStatEffectifAnnee" class="option" [value]="p.annee">{{p.annee}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="diagra1">
                <div id="chart1">
                    <apx-chart
                        [series]="chartOptions.series"
                        [chart]="chartOptions.chart"
                        [dataLabels]="chartOptions.dataLabels"
                        [plotOptions]="chartOptions.plotOptions"
                        [responsive]="chartOptions.responsive"
                        [xaxis]="chartOptions.xaxis"
                        [legend]="chartOptions.legend"
                        [fill]="chartOptions.fill"
                        [colors]="chartOptions.colors"
                        [dataLabels]="chartOptions.dataLabels"
                    ></apx-chart>
                </div>
            </div>
            <div class="lesbouton2">
                <div  class="button3"> 
                    <div class="color"></div> 
                    <p>Finis</p>
                </div>
                <div  class="button4"> 
                    <div class="color"></div> 
                    <p>Nouveaux</p>
                </div>
                <div  class="button5"> 
                    <div class="color"></div> 
                    <p>Total</p>
                </div>
            </div>
       
        </div>
    </div>
    <div *ngIf="scrWidth>991" class="stat-effectif-direction">
        <div class="elmt2" title="messages2">
            <div class="tit">
                <p class="total">Répartition des interimaires</p>
            </div>
            <div class="selects-and-echelle">
                <div class="filtre-societe-direction">
                    <div class="filtrer-societe" style="cursor: pointer;">
                        <select class="select-societe" #lEffectif (change)='effectifSocieteSelectionner(lEffectif.value)'>
                            <option *ngFor="let p of dataSociete" class="option" [value]="p.id">{{p.libelle}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="diagra1">
                <div id="chart1">
                    <apx-chart
                      [series]="chartOptions2.series"
                      [chart]="chartOptions2.chart"
                      [dataLabels]="chartOptions2.dataLabels"
                      [plotOptions]="chartOptions2.plotOptions"
                      [responsive]="chartOptions2.responsive"
                      [xaxis]="chartOptions2.xaxis"
                      [legend]="chartOptions2.legend"
                      [fill]="chartOptions2.fill"
                      [colors]="chartOptions2.colors"
                      [dataLabels]="chartOptions2.dataLabels"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>