<div class="all-container">
    <div class="demande">
        <div class="tableau">
            <p class="detail1" id="mydesc">Liste des Attestations de Presence</p>
            <div  *ngIf="successMsgA != 201" class="content-vide-objectif">
                <p class="vide-objectif">Il n'y a aucune attestation de présence</p>
            </div>
            <form *ngIf="successMsgA == 201" [formGroup]="filterForm">
                <div class="exporter">
                    <div class="content-input-extraction">
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Référence: </p>
                            <input type="text" class="input-extraction" formControlName="reference">
                        </div>
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Mois: </p>
                            <select type="number" formControlName="mois"  class="select-mois" >
                                <option value="null">Aucun Choix</option>
                                <option *ngFor="let data of ListeMois"  [value]="data.libelle">{{data.libelle}}</option>
                            </select>
                        </div>
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Année: </p>
                            <select  formControlName="annee" class="select-mois" >
                                <option value="null">Aucun Choix</option>
                                <option *ngFor="let data of lastTenYear"  [value]="data.annee">{{data.annee}}</option>
                            </select>
                        </div>
                        <div class="content-extraction">
                            <mat-icon class="icon-search" (click)="gty(page)" fontSet="material-icons-outlined" >search</mat-icon>
                        </div>
                        <div class="content-extraction">
                            <!-- <button (click)="extraireAttestation()" class="button-extraire">Extraire en CSV</button> -->
                            <button (click)="exportCsv()"  class="button-extraire">Extraire en CSV</button>
                        </div>
                    </div>
                    <div class="content-error-msg" *ngIf="successMsg == false">
                        <p class="error-alert">{{ data?.message}}: mois et année</p>
                    </div>
                </div>
            </form>
            <table *ngIf="successMsgA == 201" style="overflow-x:auto;" aria-describedby = "mydesc">
                <thead>
                    <tr class="head">
                        <th id="manager">Matricule</th>
                        <th class="typ" id="prenom">Prénom</th>
                        <th class="typ" id="nom">Nom</th>
                        <th class="typ" id="reference">Référence</th>
                        <th *ngIf="user != 'AGN' && user != 'INT'" id="action">Agence</th>
                        <th id="contrat">Période</th>
                        <th id="contrat">Absence</th>
                        <th id="action">Etat</th>
                        <th id="etat">Statut Paiement</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of dataAttest | paginate: { 
                        itemsPerPage: 10, currentPage: p }; let i = index" (click)="openDetail(p.id, p.etat)" style="cursor: pointer;">
                        <td >{{p.matricule}}</td>
                        <td>{{p.prenom}}</td>
                        <td>{{p.nom}}</td>
                        <td>{{p.reference}}</td>
                        <td *ngIf="user != 'AGN' && user != 'INT'" >{{p.agence}}</td>
                        <td >{{p.dateFin  | date:'MMMM yyyy'}}</td>
                        <td  >{{p.nombreJourAbscence}} jours</td>
                        <td>
                            <span class="status-attestation-attente" *ngIf="p.etat == 0">en attente</span>
                            <span class="status-attestation-valider" *ngIf="p.etat == 1">validé</span>
                            <span class="status-attestation-rejeter" *ngIf="p.etat == 2">rejeté</span>
                            <span class="status-attestation-valider" *ngIf="p.etat == 4">deja payé</span>
                        </td>
                        <td style="cursor: pointer;" (click)="openDetail(p.id, p.etat)">
                            <span class="status-attestation-attente" *ngIf="p.etat == 1">en attente de paiement</span>
                            <span class="status-attestation-valider" *ngIf="p.etat == 0">en attente de validation</span>
                            <span class="status-attestation-valider" *ngIf="p.etat == 4">payé</span>
                            <span class="status-attestation-rejeter" *ngIf="p.etat == 2">pas de paiement</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="successMsgA == 201" class="pagination">
                <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
            </div>
        </div>
    </div>
</div>
