<div class="all-container">
    <div class="all">
        <p class="statt-header">Gestion Site</p>
        <div class="liste-sous-header">
            <div [style.border]="border1" (click)="changeShow1()" class="effectif-content" >
                <p [style.color]="color1" id="effectis" class="statt-sous-header">Liste</p>
            </div>
            <div [style.border]="border2"  (click)="changeShow2()" class="effectif-content">
                <p [style.color]="color2" id="genre" class="statt-sous-header">Ajouter</p>
            </div>
        </div>
        <div *ngIf="show==1" class="content-all-liste-site">
            <table style="overflow-x:auto;"aria-describedby = "mydesc" >
                <thead>
                    <tr class="head">
                        <th class="typ" id="prenom">
                            <div class="type">
                                <p>Nom</p> 
                                <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                            </div>
                        </th>
                        <th *ngIf="user != 'MNG' && scrWidth>991"  id="manager">Région</th>
                        <th *ngIf="user != 'MNG'" id="direction">code</th>
                        <th *ngIf="user != 'AGN'" id="agence">Adresse</th>
                        <!-- <th id="admissible">Admissible</th> -->
                </tr>
                </thead>
                <tbody>
                    <tr  style="cursor: pointer;" >
                        <td (click)="openDetail(p.id)">a</td>
                        <td (click)="openDetail(p.id)">b</td>
                        <td  (click)="openDetail(p.id)"> c</td>
                        <td (click)="openDetail(p.id)" >d</td>
                        <!-- <td (click)="openDetail(p.id)" >e</td> -->
                        <!-- <td (click)="openDetail(p.id)"><div [style.background]="getcolor1(p)" class="status"></div></td> -->
                    </tr>
                </tbody>
                
            </table>
        </div>


        
         
        <app-ajoutsite *ngIf="show==2"></app-ajoutsite>
    </div>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <div class="error-image"></div>
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
</div>