<div class="all-container">
    <div class="demande">
        <div class="tableau">
            <p class="detail1" id="mydesc">Liste des non Attestations</p>
            <div class="exporter">
                <form [formGroup]="filterForm">
                    <div class="exporter">
                        <div class="content-input-extraction">
                            <div class="filtrer-mois">
                                <p class="label-input" for="titre">Mois: </p>
                                <select type="number" formControlName="mois" #societe class="select-mois">
                                    <option value="null">Aucun Choix</option>
                                    <option *ngFor="let data of ListeMois"  [value]="data.libelle">{{data.libelle}}</option>
                                </select>
                            </div>
                            <div class="filtrer-mois">
                                <p class="label-input" for="titre">Année: </p>
                                <select  formControlName="annee" class="select-mois" >
                                    <option value="null">Aucun Choix</option>
                                    <option *ngFor="let data of lastTenYear"  [value]="data.annee">{{data.annee}}</option>
                                </select>
                            </div>
                            <div class="content-extraction">
                                <mat-icon class="icon-search" (click)="gty(page)" fontSet="material-icons-outlined" >search</mat-icon>
                            </div>
                            <div class="content-extraction">
                                <!-- <button (click)="extraireInter()" class="button-extraire">Extraire en CSV</button> -->
                                <!-- <button (click)="exportCsv()" class="button-extraire">Extraire en CSV</button> -->
                            </div>
                        </div>
                        <div class="content-error-msg" *ngIf="successMsg == false">
                            <p class="error-alert">{{ data?.message}}: mois et année</p>
                        </div>
                    </div>
                </form>
            </div>
            <table style="overflow-x:auto;" aria-describedby = "mydesc">
                <thead>
                    <tr class="head">
                        <th id="manager">Matricule</th>
                        <th class="typ" id="prenom">Prénom</th>
                        <th class="typ" id="nom">Nom</th>
                        <th class="typ" id="reference">Début contrat</th>
                        <th  id="action">Fin contrat</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of dataAttest | paginate: { 
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems}; let i = index" (click)="openDetail(p.id)" style="cursor: pointer;">
                        <td>{{p.matricule}}</td>
                        <td>{{p.prenom}}</td>
                        <td>{{p.nom}}</td>
                        <td>{{p.debutContrat | date:'dd/MM/yyyy'}}</td>
                        <td >{{p.finContrat | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
            </div>
        </div>
    </div>
</div>
