<form [formGroup]="infoForm">
    <div formGroupName="contrat">
      <p class="matri">Matricule: <span>{{matricule}}</span> </p>
      <div class="grid">
        <div class="photo">
          <img *ngIf="!url1==true" src="/assets/images/upload.png">
          <img [src]="url1" height="60">
          <input formControlName="filecontrat"  class="button" type="file" (change)="readUrl($event)" >
        </div>
        <div class="others">
          <div class="input2">
            <select class="select5" formControlName="type">
              <option class="option" value="" disabled selected hidden>type de contrat</option>
              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
            </select>
            <select class="select6" formControlName="agence">
              <option class="option" value="" disabled selected hidden>Agence d'interim</option>
              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
            </select>
          </div>
          <div class="input2">
            <input type="text" formControlName="dateDebut" placeholder="Date Début">
            <input class="input3" type="text" formControlName="dateFin" placeholder="Date Fin">
          </div> 
          <div class="input2">
            <input type="text" formControlName="categorie" placeholder="Catégorie">
            <input class="input3" type="text" formControlName="salaire" placeholder="Montant Salaire Brut">
          </div>
          <div class="input2">
            <select class="select5" formControlName="structure">
              <option class="option" value="" disabled selected hidden>Structure</option>
              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
            </select>
            <select class="select6" formControlName="direction">
              <option class="option" value="" disabled selected hidden>Direction</option>
              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
            </select>
          </div>
          <div class="input2">
            <select class="select5" formControlName="departement">
              <option class="option" value="" disabled selected hidden>Département</option>
              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
            </select>
            <select class="select6" formControlName="service">
              <option class="option" value="" disabled selected hidden>Service</option>
              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
            </select>
          </div>
      </div>
      </div>
    </div>
    <button class="button1"  type="button" mat-button matStepperPrevious>Précédent</button>
    <button class="button2" (click)="submitted2()" type="button"  mat-button matStepperNext>Suivant</button>
</form>