.compte{
    background-color: white;
    margin-top: 10px;
    padding: 30px;
}
.detail{
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #222222;
    margin-top: 0;
}
.progres {
    background-color: white;
    height: 142px;
    margin-top: 0px;
}
.duree{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222; 
    text-align: center;
    margin-top: 0px;
    span{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.12px;
    } 
}
.bar{
    width: 100%;
    position: relative;
    margin-top: 20px;
}
#progress_bar{
    margin-bottom: 20px;
    height:11px;
    background-color: #f5f6f9;
}

#green_bar{
    height:11px;
    float:left;
    overflow:hidden;
    background:#ff7900;
}
.position{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid;
    position: absolute;
    top: -10px;
    background-color: white;
}
.date {
   // display: flex;
}
.datefin {
    text-align: right;
    margin-top: -35px;
}
.grid-container {
    display: grid;
    grid-template-columns: 400px  1fr;
    grid-gap: 1px;
    margin-top: 20px;
}
.ima {
    width: 297px;
    height: 297px;
    position: relative;
    .im1 {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 25%;
        left: 90%;
    }
    .im2 {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 55%;
        left: 90%;
    }
}
.prenom{
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    text-align: center;
    color: #222222;
    margin-top: 3px;
    margin-bottom: 0;
}
.fonction{
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.13px;
    text-align: center;
    color: #222222;
    margin: 0;
}
.key{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 15px;
    .value {
        font-weight: bold;
    }
}
.lot2{
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    .value {
        font-weight: bold;
    }
}
.button1 {
    width: 120px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-top: 20px;
}
.button2 {
    width: 252px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-left: 20px;
    margin-top: 20px;
}
.button3 {
    width: 165px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-left: 20px;
    margin-top: 20px;
}
.button4 {
    width: 120px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}