<div class="all-container">
    <div class="all2" >
        <div class="grid2">
            <div class="img">
                <img class="image-logo-agence" src="{{logo}}" alt="">
            </div>
            <div class="agence">
                <p class="nom2">{{nom}}</p>
                <div class="nombre">
                    <div class="total">
                        <p class="title">Total</p>
                        <p class="libelle">{{total}}</p>
                    </div>
                    <div class="actif">
                        <p class="title">Actifs</p>
                        <p class="libelle">{{actifs}}</p>
                    </div>
                    <div class="archiv">
                        <p class="title">Archivés</p>
                        <p class="libelle">{{inactifs}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="pes">
                <div class="prenom">
                    <mat-icon class="icon-item">person</mat-icon>
                    <p class="info-item">{{responsable}}</p>
                </div>
                <div class="email2">
                    <mat-icon class="icon-item">mail</mat-icon>
                    <p class="info-item">{{email}}</p>
                </div>
                <div class="siteweb">
                    <mat-icon class="icon-item">language</mat-icon>
                    <p class="info-item">{{site}}</p>
                </div>
            </div>
            <div class="pa">
                <div class="phone2">
                    <mat-icon class="icon-item">local_phone</mat-icon>
                    <p class="info-item">{{telephone}}</p>
                </div>
                <div class="adresse2">
                    <mat-icon class="icon-item">room</mat-icon>
                    <p class="info-item">{{adresse}}</p>
                </div>
            </div>
        </div>
        <div class="trait"></div>
        <p class="utilisateur">Liste des utilisateurs</p>
        <div class="users" >
            <div class="user1" *ngFor="let p of userAgence | slice:0:2;">
                <div class="photo1">
                    <img src="{{p.avatar}}" alt="">
                </div>
                <div class="profil">
                    <p class="profil1">{{p?.nom}}</p>
                    <p class="profil2">{{p?.prenom}}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>




<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <img class="error-image" src="../../../assets/images/error-message.png" alt="">
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>