<div class="all">
    <div class="all2">
        <div class="login">
            <div class="logo">
                <div class="img">
                    <img src="assets/images/logo.svg.webp" alt="">
                    <p>Gestion des Interimaires</p>
                </div>
            </div>
            <div class="forms">
                <form [formGroup]="loginForm">
                    <h3 class="passe">Connexion</h3>
                    <div class="fiel">
                        <label class="label"for="fullname">Nom d’utilisateur</label>
                        <input formControlName="username"  class="input-text" type="text" name="fullname" id="fullname" >
                    </div>
                    <div class="field">
                        <label class="label" for="fullname">Mot de Passe</label>
                        <input formControlName="password" class="input-text" type="text" name="fullname" id="fullname">
                    </div>
                    <button (click)="onSubmit()" class="button">Se connecter</button>
                    <p class="forget" routerLink="/passwordforgetmail">Mot de passe oublié?</p>
                </form>
            </div>
        </div>
    </div>
</div>


