.imagebg{
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
}

body{
  overflow-x: hidden;
  position: relative;
}
.block-img{
  margin-top: 5%;
  margin-left: 15%;
  position: relative;
 // background-color: rgba(0, 0, 0, 0.473);
  height: 80% !important;
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1px;
 // background-color: rgb(255, 255, 255);
  padding: 0px;
}
.orange {
  padding: 0%;
  width: 100%;
 // background: url('/assets/images/group.png') no-repeat center center fixed;
  background-size: cover;
}
.elmt{
  margin-left: 11%;
  width: 100%;
  height: 750px;
}
.logo{
  position: absolute;
  top: 40%;
  left: 20%;
  width: 90px;
  height: 90px; 
}
.image-logo {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  display : block;
}
span {
  position: absolute;
  top: 95px;
  bottom : 0;
  margin-top: 15px;
  margin-left: -10px;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: bold;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
}
.logo {
  img, span {
      display: inline-block;
      vertical-align: bottom;
  }
}

.form{
  margin-top: 66px;
  height: 510px;
  width: 400px;

  padding: 108px 20px 0px 50px; 
  background-color: rgba(232, 233, 234, 0.75); 
}
h3{
  font-size: 24px;
  color: #009393;
  margin-bottom: 20px;
}
.fiel{
  margin-top: 50px;
  margin-bottom: 20px;
}
.field {
  margin-bottom: 30px;
}
.label{
  font-weight: normal !important;
  margin-bottom: 15px;
  font-size: 12px;
  font-family: Montserrat;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #000000;
}
.input-text{
  margin-top: 12px;
  width: 347px;
  border: none;
  border-bottom: solid 1px;
  outline: none;
  background-color: transparent;
}
.button {
  width: 347px;
  height: 61px;
  background-color: #009393;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  outline: none;
}
.input-text.active{
  border-color: #009393;
}
.mat-content{
  width: 100%;
  height: 55px;
  border: 1px black solid;
  position: relative;
  border: solid 2px lightgray;
  border-radius: 5px;
  transition:all 0.5s;
}
.mat-content .input-mat{
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0);
  z-index: 998;
  padding-left: 10px;
  font-size: 18px;
}
 
.forget {
  outline: none;
}