li {
    list-style-type: none;
    margin-top: 10px;
}
li.ho {
    margin-top: 50px;
}
li.compte {
    margin-top: 80px;
}
fa-icon {
    font-size: 1.9em;
    color: #464040;
    padding-right: 10px;
}
.bar {
    border-left: 6px solid #ff7900;
    height: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: 10px 50px 230px;
    grid-gap: 1px;
    background-color: white;
    padding: 0px;
  }
  
  .grid-container > div {
    background-color: white;
    padding: 5px 0;
    font-size: 18px;
    -webkit-text-stroke: 0.8px #979797;
    font-family: HelveticaNeue;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    mat-icon {
        font-size: 1.9em;
        color: #222222;
        padding-right: 15px;
        margin-left: 5px;
        margin-top: 5px;
    }
  }
  .item1 {
    width: 10px;
    background-color: white;
  }
  .item2{
    width: 30px;
    margin-left: 0px;
    margin-top: 5px;
    text-decoration: none;
  }
.active {
    color: #ff7900;
}