<div class="all-container">
    <div class="compte">
        <div class="content-header">
            <div class="content-details">
                <p class="detail">Détails Utilisateur</p>
            </div>
        </div>
        <div class="grid-container" *ngIf="item">
            <div class="image">
                <div class="ima">
                    <img class="image-interimaire"  src="{{photo}}" alt="photo">
                   
                    <p class="prenom">{{dataUser?.prenom}} {{dataUser?.nom}}</p>
                    <p class="fonction">{{dataUser?.profil.libelle}}</p>
                </div>
            </div>
            <div class="info">
                <div class="lot1">
                    <p *ngIf="dataUser?.profil.id != 3" class="key">Matricule: <span class="value">{{dataUser?.matricule}}</span> </p>
                    <p class="key">Email: <span class="value">{{dataUser?.email}}</span> </p>
                    <p class="key">Téléphone: <span class="value">{{dataUser?.telephone}}</span> </p>
                    <p class="key">Fonction: <span class="value">{{dataUser?.fonction}}</span> </p>
                </div>
                <!--<div class="lot">
                    <p class="lot2">Catégorie: <span class="value">{{dataInter?.categorie.libelle}}</span> </p>
                    <p class="key">Agence Interim: <span class="value">{{dataInter?.agence.nom}}</span> </p>
                    <p class="key">Société: <span class="value">{{dataInter?.structure.libelle}}</span> </p>
                    <p class="key">Direction: <span class="value">{{dataInter?.structure.direction?.libelle}}</span> </p>
                    <p class="key">Département: <span class="value">{{dataInter?.structure.departement}}</span> </p>
                    <p class="key">Service: <span class="value">{{dataInter?.structure.service}}</span> </p>
                </div>-->
            </div>
        </div>
        <div *ngIf="role != 'INT'" class="lesbouton">
            <button *ngIf="role != 'MNG'" class="button1" (click)="openModal('custom-modal-1');">Modifier</button>
            <div *ngIf="role == 'DRH' || role == 'RH_GDI'">
                <button *ngIf="dataUser?.isBlocked == false" (click)="openModal('custom-modal-7');" class="button-desactiver-user" >Désactiver Utilisateur</button>
                <button *ngIf="dataUser?.isBlocked == true" (click)="openModal('custom-modal-8');" class="button-activer-user" >Activer Utilisateur</button>
            </div>
        </div>
    </div>
</div>

<!--modal-3-->
<div class="modal">
    <jw-modal id="custom-modal-1">
        <h1 class="detail">Modifier Utilisateur</h1>
        <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-1');" class="clear">clear</mat-icon>
        <div>
            <div class="form-add-user-agent">
                <form [formGroup]="userAgentForm">
                    <div class="content-form-add-user">
                        <div class="image">
                            <!-- <div *ngIf="!image" class="content-image-upload"></div> -->
                            <img class="image-manager" *ngIf="!image" [src]="photo" alt="">
                            <img class="image-manager" *ngIf="image" [src]="image" alt="">
                            <input formControlName="avatarUser" class="buttonphoto2" type="file" (change)="getPhoto($event.target)">
                        </div>
                        <div>
                            <div class="infoinput2">
                                <input type="text" [(ngModel)]="prenom" formControlName="prenomUser"  placeholder="Prénom">
                                <input class="input3" [(ngModel)]="nom" type="text" formControlName="nomUser" placeholder="Nom">
                            </div>
                            <div class="infoinput1">
                                <input type="text" [(ngModel)]="email" formControlName="emailUser" placeholder="Email">
                                <div class="form-control-feedback"
                                    *ngIf="userAgentForm.controls['emailUser'].errors && (userAgentForm.controls['emailUser'].dirty || userAgentForm.controls['emailUser'].touched)">
                                    <p class="error-alert" *ngIf="userAgentForm.controls['emailUser'].errors.required">l'email est obligatoire</p>
                                    <p class="error-alert" *ngIf="userAgentForm.controls['emailUser'].errors.pattern">l'email doit ètre de ce format example@domaine.nom</p>
                                </div>
                            </div>
                            <div class="infoinput2">
                                <input type="number" [(ngModel)]="telephone" formControlName="telephoneUser"  placeholder="Téléphone">
                                <input class="input3" [(ngModel)]="fonction" type="text" formControlName="fonction"  placeholder="Fonction">
                            </div>
                            <div class="content-error-msg" *ngIf="successMsg == false">
                                <p class="error-alert">{{ data?.message}}</p>
                            </div>
                            <div class="content-button">
                                <button (click)="ajouterUser()" class="buttob-envoyer">Valider</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </jw-modal>
</div>

<!--modal7-->
<div class="modal">
    <jw-modal id="custom-modal-7">
        <form [formGroup]="bloquerForm">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-7');" class="clear">clear</mat-icon>
            <p class="dtl1">Désactiver {{prenom}} {{nom}}</p>
            <p class="text-droit">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Doloribus harum sapiente a voluptatum inventore consectetur 
                in ipsa explicabo est nulla at tempora doloremque eaque 
                veritatis consequuntur necessitatibus, eligendi recusandae quia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium molestiae alias dolores suscipit at voluptatibus
                reiciendis doloremque voluptate nemo quae unde deserunt temporibus 
                exercitationem aperiam, corporis recusandae incidunt ratione maxime?
            </p>
            <p class="text-droit">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Doloribus harum sapiente a voluptatum inventore consectetur 
                in ipsa explicabo est nulla at tempora doloremque eaque 
                veritatis consequuntur necessitatibus, eligendi recusandae quia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium molestiae alias dolores suscipit at voluptatibus
                reiciendis doloremque voluptate nemo quae unde deserunt temporibus 
                exercitationem aperiam, corporis recusandae incidunt ratione maxime?
            </p>
            <!-- <div class="content-motif">
                <p class="libelle-motif">Motif pour désactiver {{prenom}} {{nom}}</p>
                <textarea class="textarea-motif" formControlName="action" name="motif"  placeholder="Motif de Bannir l'intérimaire"></textarea>
            </div> -->
            <div class="content-error-msg" *ngIf="successMsgBannir == false">
                <p class="error-alert">{{ dataBannir?.message}}</p>
            </div>
            <div class="content-button-block">
                <button (click)="bloquerUser()" class="button-desactiver">Désactiver</button>
            </div>
        </div>
    </form>
    </jw-modal>
</div>

<!--modal7-->
<div class="modal">
    <jw-modal id="custom-modal-8">
        <form [formGroup]="bloquerForm">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-8');" class="clear">clear</mat-icon>
            <p class="dtl1">Activer {{prenom}} {{nom}}</p>
            <p class="text-droit">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Doloribus harum sapiente a voluptatum inventore consectetur 
                in ipsa explicabo est nulla at tempora doloremque eaque 
                veritatis consequuntur necessitatibus, eligendi recusandae quia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium molestiae alias dolores suscipit at voluptatibus
                reiciendis doloremque voluptate nemo quae unde deserunt temporibus 
                exercitationem aperiam, corporis recusandae incidunt ratione maxime?
            </p>
            <p class="text-droit">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Doloribus harum sapiente a voluptatum inventore consectetur 
                in ipsa explicabo est nulla at tempora doloremque eaque 
                veritatis consequuntur necessitatibus, eligendi recusandae quia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium molestiae alias dolores suscipit at voluptatibus
                reiciendis doloremque voluptate nemo quae unde deserunt temporibus 
                exercitationem aperiam, corporis recusandae incidunt ratione maxime?
            </p>
            <!-- <div class="content-motif">
                <p class="libelle-motif">Motif pour activer {{prenom}} {{nom}}</p>
                <textarea class="textarea-motif" formControlName="action" name="motif"  placeholder="Motif de Bannir l'intérimaire"></textarea>
            </div> -->
            <div class="content-error-msg" *ngIf="successMsgBannir == false">
                <p class="error-alert">{{ dataBannir?.message}}</p>
            </div>
            <div class="content-button-block">
                <button (click)="activerUser()" class="button-activer">Activer</button>
            </div>
        </div>
    </form>
    </jw-modal>
</div>