<div [formGroup]="profilForm" class="content-form-search">
    <p class="ajouter">Ajout Profil</p>
    <div class="content-form">
      <div class="content-row-form">
        <div class="content-input">
          <p class="label-input2">Libelle</p>
          <input class="input-search" type="text" formControlName="libelle" placeholder="Libelle" required>
          <p class="error-require-input-search" *ngIf="emptyLib" >Veuillez renseigner le libelle</p>
        </div>
      </div>
      <div class="content-row-form">
        <div class="content-input">
          <p class="label-input1">Code</p>
          <input class="input-search" type="text" formControlName="code" placeholder="Code du Profil" required>
        </div>
        <div class="content-input">
          <p class="label-input2">Description</p>
          <input class="input-search" type="text" formControlName="description" placeholder="Description du Profil" required>
        </div>
      </div>
      <div class="content-button-form">
        <button (click)="ajouterProfil()" class="button-ajouter">Ajouter</button>
      </div>
    </div>
  </div>