<div class="all-container">
    <div class="tableau">
        <p class="detail1" id="mydesc">Liste des interimaires en attente</p>
        <div class="exporter">
            <p class="export">Exporter</p>
            <div class="csv" style="cursor: pointer;">
                <p class="csv1">CSV</p>
                <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
            </div>
            <div class="filtrer" style="cursor: pointer;">
                <input class="filtre" type="text" [(ngModel)]="filterterm" placeholder="Filtre">
                <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
            </div>
        </div>
        <table style="overflow-x:auto;" aria-describedby = "mydesc">
            <thead>
                <tr class="head">
                    <th class="typ" id="prenom">
                        <div class="type">
                            <p>Prenom</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th class="typ" id="nom">
                        <div class="type2">
                            <p>Nom</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th id="manager">Fonction</th>
                    <th id="direction">Direction</th>
                    <th *ngIf="role == 'DRH'" id="agence">Agence</th>
                    <th *ngIf="role != 'DRH'" id="direction">Manager</th>
            </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;" *ngFor="let p of dataInter | filter:filterterm | paginate: { 
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                    }; let i = index">
                    <td (click)="openDetail(p.id)">{{p.prenom}}</td>
                    <td (click)="openDetail(p.id)">{{p.nom}}</td>
                    <td (click)="openDetail(p.id)">{{p.poste}}</td>
                    <td (click)="openDetail(p.id)">{{p.direction}}</td>
                    <td *ngIf="role == 'DRH'" (click)="openDetail(p.id)">{{p.agence}}</td>
                    <td *ngIf="role != 'DRH'" (click)="openDetail(p.id)">{{p.manager?.prenom}} {{p.manager?.nom}}</td>
                </tr>
            </tbody>
            
        </table> 
        <div class="pagination">
            <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <div class="error-image"></div>
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>