.all-container {
  // display: grid;
  // grid-template-columns: 1fr 290px;
  background-color: #f5f6f9;
}
.detail1 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #000000;
  margin: 0;
}
.tableau {
  margin-right: 0px;
  background-color: white;
  padding: 10px;
  position: relative;
  height: 100%;
}
.exporter{
  margin-right: 0px;
  position: absolute;
  right: 0;
  top: 15px;
}
.content-input-extraction{
  display: flex;
}
.filtrer-mois {
  margin-right: 10px;
  margin-top: 5px;
  padding: 0px;
  height: 30px;
  border-radius: 5px;
  p {
      margin-top: 0px;
      margin-bottom: 0;
      margin-left: 5px;
  }
  mat-icon{
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 0;
  }
}
.input-extraction{
  width: 140px;
  outline: none;
  border: 1px solid #d8d8d8;
}
.select-mois{
  max-width: 140px;
  min-width: 50px;
  border: 1px solid #d8d8d8;
  outline: none;
}
.icon-search{
  margin-top: 20px;
}
.input-annee{
  width: 90px;
}
.content-extraction{
  margin-left: 0px;
}
.button-extraire{
  margin: 10px;
  width: 110px;
  height: 30px;
  color: white;
  background-color: #ff7900;
  border: none;
  outline: none;
}
.export{
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  margin-top: 17px;
}
.csv {
  display: flex;
  margin-left: 20px;
  margin-top: 5px;
  border: 1px solid #f5f6f9;
  padding: 0px;
  height: 40px;
  border-radius: 5px;
  p {
      margin-top: 12px;
      margin-right: 10px;
      margin-bottom: 0;
      margin-left: 10px;
  }
  mat-icon{
      margin-top: 10px;
      margin-right: 5px;
      margin-bottom: 0;
  }
}
.filtrer {
  display: flex;
  margin-left: 20px;
  margin-top: 5px;
  border: 1px solid #f5f6f9;
  padding: 0px;
  height: 40px;
  border-radius: 5px;
  .filtre {
      width: 90px;
      margin-top: 1px;
      margin-bottom: 0;
      margin-left: 10px;
      border: none;
      font-size: 16px;
      outline: none;
  }
  mat-icon{
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 0;
  }
}
table {
  border-collapse: collapse;;
  width: 100%;
  margin-top: 50px;
}

th {
  text-align: center;
  //padding: 8px;
  font-size: 13px;
  font-weight:  bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  p{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
td {
  text-align: center;
//  padding: 8px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  p{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.updown {
  margin-top: 2px;
  margin-left: 0px;
}
tr {
  height: 30px !important;
  border: 1px solid #f5f6f9;
  border-radius: 100%;
//  margin-top: 20px;
}
.type {
  display: flex;
  width: 60px;
  margin: 0 auto;
  p {
      text-align: center;
  }
}
.type2 {
  display: flex;
  width: 40px;
  margin: 0 auto;
  p {
      text-align: center;
  }
}

.head{
    background-color: #f5f6f9;
}
.id {
    width: 50px;
}
.buttons-attestation {
  background-color: #ff7900;
  border: none;
  outline: none;
  color: white;
}
.photo {
  margin-top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
jw-modal {
    position: relative;
    h1{
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1px;
      color: #222222;
      margin-top: 30px;
      margin-left: 30px;
    }
    .clear {
      width: 16px;
      height: 16px;
      margin-top: 10px;
      margin-right: 30px;
      font-weight: bold;
      position: absolute;
      right: 2px;
      top: 2px;
    }
}
.forms {
  width: 620px;
  margin: 30px auto;
  
}
.sele {
display: flex;
select {
  width: 198px;
  height: 32px;
  background-color: #f5f6f9;
  outline: none;
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
  option {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 10px;
      letter-spacing: 0.07px;
      color: #8e8e8e;
      margin-top: 10px;
      text-align: center;
  }
}
}
.sele2 {
margin-left: 10px;
}
.sele3 {
margin-left: 10px;
}
.select-agence {
display: flex;
select{
  height: 32px;
  width: 301px;
  background-color: #f5f6f9;
  outline: none;
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
}
}
.input1 input{
width: 100%;
height: 30px;
}
.input2 input {
width: 280px;
height: 30px;
margin-bottom: 10px;
background-color: #f5f6f9;
border-radius: 1px;
border: solid 1px #d8d8d8;
outline: none;
padding: 0 10px;
}

.style {

width: 280px;
height: 30px;
margin-bottom: 10px;
background-color: #f5f6f9;
border-radius: 1px;
border: solid 1px #d8d8d8;
outline: none;
padding: 0 10px;

}

.input3 {
margin-left: 10px;
}
.button-submit {
height: 30px;
width: 90px;
outline: none;
background-color: #ff7900;
border: none;
color: #000000;
font-size: 14px;
font-weight: bold;
}
.content-button-submit {
width: 90px;
margin: 20px auto;
}
.bouton {
  width: 100px;
  margin: 0 auto;
  margin-top: 60px;
}
.button {
  width: 98px;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  font-family: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px auto;
  cursor: pointer;
  outline: none;
}
.pagination {
  width: 400px;
  margin: 0 auto;
}
.error-content-image{
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.error-image {
  width: 160px;
  height: 150px;
  background-image: url("../../../assets/images/error-message.png");
  background-size: cover;
}
.error-text{
  text-align: center;
  color: #ff0000;
  font-size: 28px;
}
.error-message-admin{
  text-align: center;
  font-size: 18px;
}
.clear-error {
  width: 10px;
  height: 10px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 5px;
}
.error-content-button{
  width: 50px;
  margin: 0 auto;
}
.error-button{
  width: 50px;
  height: 30px;
  font-size: 16px;
  color: #ff0000;
  background-color: #f5f6f9;
  border-radius: 5px;
  outline: none;
  border: solid 1px #ff0000;
}
@media (max-width: 991px) {
  .exporter{
      display: flex;
      margin-right: 30px;
      position: absolute;
      right: 0;
      top: 60px;
  }
}

@media (max-width: 991px) {
  .chiffre-aside {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-gap: 1px;
      background-color: white;
      padding: 0px;
      margin-top: 10px;
      border-bottom: 1px solid #f5f6f9;
  }
  .grid-container-aside {
      grid-template-columns: 55px 1fr 55px;
  }
  .grid-container1-aside {
      grid-template-columns: 1fr 125px;
  }
  .all-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "tableau"
        "aside";
      margin-top: 10px;
      margin-right: 0;
  }
  th {
    font-size: 8px;
    padding: 4px;
  }
  td {
    font-size: 8px;
    padding: 4px;
  }
  .tableau {
    padding: 10px 5px;
  }
  .exporter{
      display: flex;
      margin-right: 30px;
      position: absolute;
      right: 0;
      top: 30px;
  }
  .export{
      font-size: 12px;
      margin-top: 12px;
  }
  .csv {
      display: flex;
      margin-left: 20px;
      margin-top: 5px;
      border: 1px solid #f5f6f9;
      padding: 0px;
      height: 30px;
      border-radius: 5px;
      p {
          font-size: 12px;
          margin-top: 6px;
          margin-right: 10px;
          margin-bottom: 0;
          margin-left: 10px;
      }
      mat-icon{
          margin-top: 5px;
          margin-right: 5px;
          margin-bottom: 0;
          font-size: 15px;
      }
  }
  .filtrer {
      display: flex;
      margin-left: 20px;
      margin-top: 5px;
      border: 1px solid #f5f6f9;
      padding: 0px;
      height: 30px;
      border-radius: 5px;
      .filtre {
        width: 50px;
        margin-top: 1px;
        margin-bottom: 0;
        margin-left: 10px;
        border: none;
        font-size: 12px;
        outline: none;
    }
      mat-icon{
          margin-top: 5px;
          margin-right: 10px;
          margin-bottom: 0;
          font-size: 20px;
      }
  }
  .type {
    display: flex;
    width: 30px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
  .updown {
    margin-top: 5px;
    margin-left: 0px;
    font-size: 15px;
  }
  .status {
    width: 10px;
    height: 10px;
  }
  .pagination {
    width: 280px;
  }
  .button-aside {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }
  .button1-aside {
      width: 100px;
      height: 30px;
      font-size: 14px;
  }
  .prenom-aside {
      font-size: 12px;
    }
    .poste-aside {
      font-size: 10px;
    }
    .tmp-aside {
      font-size: 10px;
    }
}