<div class="all">
    <div class="">
        <p class="p1">Liste des Agences d’interim</p>
        <div class="liste">
            <div class="item" *ngFor="let p of datas | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
                <div class="image">
                    <img src="../assets/images/{{p.agentimg}}" alt="">
                </div>
                <div class="info">
                    <p class="nom">{{p.agence}}</p>
                    <div class="user">
                        <mat-icon >person</mat-icon>
                        <p class="username">{{p.prenom}} {{p.nom}}</p>
                    </div>
                    <div class="contact">
                        <div class="phone">
                            <mat-icon >local_phone</mat-icon>
                            <p class="telephone">{{p.telephone}}</p>
                        </div>
                        <div class="mail">
                            <mat-icon >mail</mat-icon>
                            <p class="email">{{p.email}}</p>
                        </div>
                    </div>
                    <div class="adresse">
                        <mat-icon >room</mat-icon>
                        <p class="adres">{{p.adresse}}</p>
                    </div>
                </div>
                <div class="boutons">
                    <button class="button1" (click)="openModal('custom-modale-'+p.id)">Modifier</button>
                    <button class="button2" (click)="openDetail(p)">Afficher</button>
                    <button class="button3">+ Utilisateurs</button>
                </div>

                 <!--modal-1-->
                <div class="modal">
                    <jw-modal id="custom-modale-{{p.id}}">
                        <h1>Modification</h1>
                        <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modale-'+p.id);" class="clear">clear</mat-icon>
                        <div class="form">
                            <form [formGroup]="agenceForm">
                                <div >
                                <div class="grid">
                                    <div class="photo">
                                    <img *ngIf="!url1==true" src="../assets/images/default.png">
                                    <img [src]="url1" height="60">
                                    <input formControlName="photo" class="button" type="file" (change)="readUrl($event)" >
                                    </div>
                                    <div class="others">
                                        <div class="input1">
                                        <input type="text" formControlName="nom" placeholder="Nom entreprise">
                                        </div>
                                        <div class="input2">
                                            <input type="text" formControlName="directeur" placeholder="Nom Directeur Général">
                                            <input class="input3" type="text" formControlName="numerodg" placeholder="Numéro DG">
                                        </div>
                                        <div class="input1">
                                            <input type="text" formControlName="email" placeholder="Email">
                                        </div>
                                        <div class="input2">
                                            <input type="text" formControlName="mobile" placeholder="Numéro téléphone Mobile">
                                            <input class="input3"  type="text" formControlName="fixe" placeholder="Numéro Fixe">
                                        </div>
                                        <div class="input1">
                                            <input type="text" formControlName="website" placeholder="Site web">
                                        </div>
                                        <div class="input4">
                                            <textarea type="textarea" formControlName="adresse" placeholder="Adresse"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="trait"></div>
                                <div class="boutons">
                                    <p class="p2">Documents Entreprise</p>
                                    <div class="buttons1">
                                        <input formControlName="contrat" class="button5" type="file" (change)="readUrl1($event)" >
                                        <input formControlName="cnidg" class="button6" type="file" (change)="readUrl1($event)" >
                                    </div>
                                </div>
                                <div class="buttons">
                                <button class="buttonenregistrer" (click)="submitted1()" type="button">Valider</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </jw-modal>
                </div>
            <!--modal-1-->
             </div>
            <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
</div>
   
    