<div class="all-container">
    <div class="all">
        <div class="liste" >
            <div class="list1">
                <div class="alert1">
                    <div class="date">
                        <p class="title">Date</p>
                    </div>
                    <div class="titre">
                        <p class="title">Intérimaire</p>
                    </div>
                </div>
                <div class="alert2">
                    <div class="content">
                        <p class="title">Titre</p>
                    </div>
                    <div class="ser">
                        <p class="title">Contenu</p>
                    </div>
                </div>
            </div>
            <div class="list2" style="cursor: pointer;" (click)="openDetail(p.interimaire.id)" *ngFor="let p of alert | paginate: { 
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalItems
                }; let i = index">
                <div class="alert1" >
                    <div class="date">
                        <p class="heure">{{p.dateNotif | date: "dd-MM-yyyy"}} {{p.heure}}</p>
                    </div>
                    <div class="theme">
                        
                        <p class="sujet">{{p.interimaire.prenom}} {{p.interimaire.nom}}</p>
                    </div>
                </div>
                <div class="alert2">
                    <div class="content">
                        <p class="sujet">{{p.libelle}}</p>
                    </div>
                    <div class="content">
                        <p class="libele">{{p.description}}</p>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <div class="error-image"></div>
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>