<div class="all">
    <div class="liste" >
        <div class="list1">
            <div class="alert1">
                <div class="date">
                    <p class="title">Date</p>
                </div>
                <div class="title">
                    <p class="title">Titre</p>
                </div>
            </div>
            <div class="alert2">
                <div class="content">
                    <p class="title">Contenu</p>
                </div>
                <div class="ser">
                    <p class="title">Service</p>
                </div>
            </div>
        </div>
        <div class="list2" style="cursor: pointer;" (click)="openDetail(p)" *ngFor="let p of data | paginate: { itemsPerPage: 12, currentPage: p }; let i = index">
            <div class="alert1" >
                <div class="date">
                    <p class="heure">{{p.dateFin | date: "dd-MM-yyyy"}} {{p.heure}}</p>
                </div>
                <div class="theme">
                    <p class="sujet">{{p.theme}}</p>
                </div>
            </div>
            <div class="alert2">
                <div class="content">
                    <p class="libele">{{p.libele}}</p>
                </div>
                <div class="ser">
                    <p class="dire">{{p.direction}}/{{p.pole}}/{{p.departement}}/{{p.service}}</p>
                </div>
            </div>
        </div>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
</div>
