<div class="demande">
    <div class="image">
        <img src="../assets/images/delete.svg">
    </div>
    <div class="alert">
        <p class="detail">Vous n’avez pas encore fait votre demande de suvention restauration.</p>
    </div>
    <div class="bouton">
        <button  class="button1">Demande</button>
    </div>
</div>
    <div class="tableau">
        <p class="detail1">Liste des interimaires sous contrat</p>
        <div class="exporter">
            <p class="export">Exporter</p>
            <div class="csv" style="cursor: pointer;">
                <p class="csv1">CSV</p>
                <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
            </div>
            <div class="filtrer" style="cursor: pointer;">
                <p class="filtre" [(ngModel)]="filterterm">Filtre</p>
                <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
            </div>
        </div>
        <table style="overflow-x:auto;">
            <thead>
                <tr class="head">
                    <th class="id1">#</th>
                    <th class="typ">
                        <div class="type">
                            <p>Mois</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th>Somme</th>
                    <th>Date demande</th>
                    <th>Date envoie</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of datas | filter:filterterm | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                    <td class="id1">{{p.id}}</td>
                    <td>{{p.prenom}}</td>
                    <td>{{p.nom}}</td>
                    <td>{{p.dateDebut}}</td>
                    <td>{{p.dateFin}}</td>
                </tr>
            </tbody>
            
        </table>
        <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
    </div>
