<div class="all-container">
    <div class="demande">
        <p class="detail">Détail</p>
        <div class="manager" >
            <div class="image">
                <img class="image-manager" src="{{managerinfo?.avatar}}" alt="">
                <div class="im1">
                    <img class="image-contact" src="../assets/images/phone.png" alt="">
                </div>
                <div class="im2">
                    <a href="mailto:malick">
                      <img class="image-contact" src="../assets/images/phone.png" alt="">
                    </a>
                </div>
            </div>
            <div class="information">
                <p class="nom">{{managerinfo?.prenom}} {{managerinfo?.nom}}</p>
                <p class="poste">{{managerinfo?.fonction}}</p>
                <p class="matricule">{{managerinfo?.matricule}}</p>
                </div>
        </div>
        <hr>
        <div class="tableau">
            <p class="detail1" id="mydesc">Liste des Intérimaires managés</p>
            <table style="overflow-x:auto;" aria-describedby = "mydesc">
                <thead>
                    <tr class="head">
                        <th class="typ" id="preno;">Matricule</th>
                        <th class="typ" id="preno;">Prénom</th>
                        <th class="typ" id="nom">Nom</th>
                        <th id="agence">Agence</th>
                        <th id="contrat">Fin de contrat</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of datasInter | paginate: { 
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                        }; let i = index">
                        <td>{{p.matricule}}</td>
                        <td>{{p.prenom}}</td>
                        <td>{{p.nom}}</td>
                        <td>{{p.nomAgence}}</td>
                        <td>{{p.dateFinContrat}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <div class="error-image"></div>
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>