.all {
    background-color: white;
    margin-top: 10px;
    padding: 30px;  
}
.all1 {
  width: 720px;
  margin: 0 auto;
}
.ajouter {
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #222222;
    margin-top: 0;
    margin-left: 10px;
}
.titre {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    margin-top: 8px;
}
.form {
  position: relative;
}
.triangle1 {
  position: absolute;
  top: 0;
  left: 232px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 21px solid transparent;
//  border-left: 20px solid green;
}
.triangle2 {
  position: absolute;
  top: 0;
  left: 464px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 21px solid transparent;
//  border-left: 20px solid green;
}
.triangle3 {
  position: absolute;
  top: 0;
  left: 696px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 21px solid transparent;
//  border-left: 20px solid green;
}
.head {
    width: 232px;
    position: relative;
}
.header {
  padding-top: 5px;
  width: 232px;
  height: 36px;
  background: #000000;
  position: relative;
}
button {
  cursor: pointer;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  border-radius: 0;
}
.button3 {
  width: 177px;
  height: 50px;
  background: #f16e00;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -0.2px;
  color: white;
  margin-left: 50px;
  outline: none;
  border: none;
}
.button4 {
  width: 186px;
  height: 50px;
  background: black;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -0.2px;
  color: white;
  margin-left: 40px;
  border-radius: none;
  margin-top: 30px;
  outline: none;
  border: none;
}
.button5 {
  width: 177px;
  height: 50px;
  background: white;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -0.2px;
  color: black;
  margin-left: 20px;
  border-radius: none;
  margin-top: 30px;
  outline: none;
  border: 3px solid black;
}