<div class="all">
  <div class="all1">
    <p class="ajouter">Ajouter</p>
    <div class="form">
        <form [formGroup]="interForm">
            <mat-horizontal-stepper #stepper linear>
                <mat-step state=null formGroupName="infopersonnel" 
                  [stepControl]="interForm.value.infopersonnel">
                  <ng-template matStepLabel>
                      <div class="head">
                        <div class="header" [style.background]="colors1()">
                            <p class="titre"> 1. Infos personnelles</p>
                        </div>
                    </div>
                  </ng-template>
                  <app-infopersonnel [infoForm]="interForm"></app-infopersonnel>
                </mat-step>
                <mat-step formGroupName="contrat"
                [stepControl]="interForm.value.contrat">
                  <ng-template matStepLabel>
                    <div class="head">
                        <div class="header"[style.background]="colors2()">
                            <p class="titre"> 2. Contrat</p>
                          </div>
                    </div> 
                  </ng-template>
                  <app-contrat [infoForm]="interForm"></app-contrat>
                </mat-step>
                <mat-step formGroupName="poste"
                [stepControl]="interForm.value.poste">
                  <ng-template matStepLabel>
                    <div class="head">
                        <div class="header" [style.background]="colors3()">
                            <p class="titre"> 3. Poste</p>
                          </div>
                      </div>
                  </ng-template>
                  <app-posta [childMessage]="reset" [submited]="submited" (messageEvent)="receiveMessage($event)" [infoForm]="interForm"></app-posta>
                </mat-step>
              </mat-horizontal-stepper>
        </form>
          <div *ngIf="message == 'ok'">
            <button class="button3" (click)="move(0)">Ajouter un autre</button>
            <button class="button4" (click)="removeItem()" >Liste interimaires</button>
            <button class="button5" (click)="removeItem()" >Tableau de bord</button>
          </div>
        <div [style.border-left]="getcolor1()" class="triangle1"></div>
        <div [style.border-left]="getcolor2()" class="triangle2"></div>
        <div [style.border-left]="getcolor3()" class="triangle3"></div>
    </div>
  </div>
</div>
