<div class="all-container">
    <div class="tableau">
        <p class="detail1" id="mydesc">Liste des interimaires archivés</p>
        <div class="exporter">
            <p class="export">Exporter</p>
            <div class="csv" style="cursor: pointer;">
                <p class="csv1">CSV</p>
                <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
            </div>
            <div class="filtrer" style="cursor: pointer;">
                <input class="filtre" type="text" [(ngModel)]="filterterm" placeholder="Filtre">
                <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
            </div>
        </div>
        <table style="overflow-x:auto;"aria-describedby = "mydesc" >
            <thead>
                <tr class="head">
                    <th class="typ" id="prenom">
                        <div class="type">
                            <p>Prenom</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th class="typ" id="nom">
                        <div class="type2">
                            <p>Nom</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th *ngIf="user != 'MNG' && scrWidth>991"  id="manager">Manager</th>
                    <th *ngIf="user != 'MNG'" id="direction">Direction</th>
                    <th *ngIf="user != 'AGN'" id="agence">Agence</th>
                    <th id="admissible">Admissible</th>
                    <th id="contrat">Fin de Contrat</th>
            </tr>
            </thead>
            <tbody>
                <tr  style="cursor: pointer;" *ngFor="let p of dataFinContrat | filter:filterterm | paginate: { 
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                    }; let i = index">
                    <td (click)="openDetail(p.id)">{{p.prenom}}</td>
                    <td (click)="openDetail(p.id)">{{p.nom}}</td>
                    <td *ngIf="user != 'MNG' && scrWidth>991" (click)="openDetail(p.id)"> <img alt="" class="photo" src="{{p.photo}}"></td>
                    <td *ngIf="user != 'MNG'" (click)="openDetail(p.id)" >{{p.direction}}</td>
                    <td *ngIf="user != 'AGN'" (click)="openDetail(p.id)" >{{p.agence}}</td>
                    <td (click)="openDetail(p.id)"><div [style.background]="getcolor1(p)" class="status"></div></td>
                    <td (click)="openDetail(p.id)"> <p [style.color]="p.color">{{p.fin_contrat  | date:'dd/MM/yyyy'}}</p> </td>
                </tr>
            </tbody>
            
        </table>  
        <div class="pagination">
            <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
</div>
<!--modal-->
<div class="modal">
    <jw-modal id="custom-modal-1">
        <h1>Demande restauration</h1>
        <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-1');" class="clear">clear</mat-icon>
        <div>
            <form [formGroup]="demandeForm">
                <div class="forms">
                    <div class="mois">
                        <select class="custom-select" formControlName="moi">
                            <option value="" disabled selected hidden>Mois...</option>
                            <option *ngFor="let moi of mois" [ngValue]="moi">{{moi}}</option>
                         </select>
                    </div>
                    <div class="sommes">
                        <select class="custom-select" formControlName="somme">
                            <option value="" disabled selected hidden>Somme...</option>
                            <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                        </select>
                    </div>
                    <div class="bouton">
                        <button (click)="onSubmit()" class="button">valider</button>
                    </div>
                </div>
            </form>
        </div>
    </jw-modal>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <img class="error-image" src="../../../assets/images/error-message.png" alt="">
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>