<div class="tableau">
    <p class="detail1" id="mydesc">Liste des interimaires</p>
    <div class="exporter">
        <p class="export">Exporter</p>
        <div class="csv" style="cursor: pointer;">
            <p class="csv1">CSV</p>
            <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
        </div>
        <div class="filtrer" style="cursor: pointer;">
            <input class="filtre" type="text" [(ngModel)]="filterterm" placeholder="Filtre">
            <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
        </div>
    </div>
    <table style="overflow-x:auto;" aria-describedby = "mydesc">
        <thead>
            <tr class="head">
                <th class="id1" id="manager">#</th>
                <th class="typ" id mois>
                    <div class="type">
                        <p>Mois</p> 
                        <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                    </div>
                </th>
                <th class="typ" id="date">Date de sortie</th>
                <th id="presence">Présence</th>
                <th id="attestation">Attestation</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of datas | filter:filterterm | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td class="id1">{{p.id}}</td>
                <td>{{p.dateFin | date: 'MMMM yyyy'}}</td>
                <td> {{p.dateFin | date: 'dd/MM/yyyy'}}</td>
                <td>{{p.dateFin | date: 'dd'}}</td>
                <td><button  class="buttons1" (click)="openModal('custom-modal-'+p.id)">Afficher</button></td>
                <!--modal1-->
                <div class="modal">
                    <jw-modal id="custom-modal-{{p.id}}">
                        <div class="tab">
                            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-'+p.id);" class="clear">clear</mat-icon>
                            <p class="dtl1">Attestation du mois de {{p.dateDebut | date: "MMMM"}}</p>
                            <ngx-doc-viewer 
                            [url]="DemoDoc1" 
                            [viewer]="viewer" 
                            style="width:100%;height:70vh;">
                            </ngx-doc-viewer>
                            <div class="btns2">
                                <button (click)="getfilemodal()"  class="btn2">Télécharger</button>
                            </div>
                        </div>
                    </jw-modal>
                </div>
            </tr>
        </tbody>
        
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
    </div>
</div>