<div class="all-container">
    <div class="demande">
        <div class="tableau">
            <p class="detail1" id="mydesc">Liste des Attestations de Presence</p>
            <form [formGroup]="filterForm">
                <div class="exporter">
                    <div class="content-input-extraction">
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Mois: </p>
                            <select  formControlName="mois" class="select-mois" >
                                <option class="option" value="" disabled selected hidden>Mois: </option>
                                <option *ngFor="let data of ListeMois"  [value]="data.libelle">{{data.libelle}}</option>
                            </select>
                        </div>
                        <div class="input-annee">
                            <jp-multi-datepicker formControlName="annee" tabindex="-1"  mode="YEAR" label="Année" [(ngModel)]="annee" [min]="2000"></jp-multi-datepicker>
                        </div>
                        <div class="content-extraction">
                            <button (click)="extraireAttestation()" class="button-extraire">Extraire en CSV</button>
                        </div>
                    </div>
                    <div class="content-error-msg" *ngIf="successMsg == false">
                        <p class="error-alert">{{ data?.message}}: mois et année</p>
                    </div>
                </div>
            </form>
            <table style="overflow-x:auto;" aria-describedby = "mydesc">
                <thead>
                    <tr class="head">
                        <th id="manager">Matricule</th>
                        <th class="typ" id="prenom">
                            <div class="type">
                                <p>Prénom</p> 
                                <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                            </div>
                        </th>
                        <th class="typ" id="nom">
                            <div class="type">
                                <p>Nom</p> 
                                <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                            </div>
                        </th>
                        <th *ngIf="user != 'AGN' && user != 'INT'" id="action">Agence</th>
                        <th id="contrat">Période</th>
                        <th id="contrat">Absence</th>
                        <th id="action">Etat</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of dataAttest | paginate: { 
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems}; let i = index">
                        <td >{{p.matricule}}</td>
                        <td>{{p.prenom}}</td>
                        <td>{{p.nom}}</td>
                        <td *ngIf="user != 'AGN' && user != 'INT'" >{{p.agence}}</td>
                        <td >{{p.dateFin  | date:'MMMM yyyy'}}</td>
                        <td  >{{p.nombreJourAbscence}} jours</td>
                        <td>{{p.statut}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <div class="error-image"></div>
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>