<div class="all">
    <div class="all1">
      <p class="ajouter">Ajouter</p>
<div class="form" [formGroup]="interForm">
<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
  <mat-step [stepControl]="interForm" >
    <ng-template matStepLabel>
        <div class="head">
          <div class="header" [style.background]="colors1()">
              <p class="titre"> 1. Infos personnelles</p>
          </div>
      </div>
    </ng-template>
    <div>
        <form [formGroup]="interForm">
          <div formGroupName="infopersonnel">
            <p class="matri">Matricule: <span>{{matricule}}</span> </p>
            <div class="grid">
              
              <div class="photo">
                <img *ngIf="!url1==true" src="/assets/images/upload.png" alt="">
                <img [src]="url1" height="60" alt="">
                <input formControlName="photo" class="buttonphoto1" type="file" (change)="readUrl1($event)">
              </div>
              <div class="others">
                <div class="infoinput1">
                  <input type="text" formControlName="numeroCni" placeholder="Numero CNI">
                </div>
                <div class="infoinput2">
                  <input type="text" formControlName="prenom" placeholder="Prenom">
                  <input class="input3" type="text" formControlName="nom" placeholder="Nom">
                </div>
                <div class="infoinput1">
                  <input type="text" formControlName="email" placeholder="Email">
                </div>
                <div class="infoinput2">
                  <input type="text" formControlName="dateNais" placeholder="Date de Naissance">
                  <input class="input3" type="text" formControlName="lieuNais" placeholder="Lieu de Naissance">
                </div>
                <div class="infoinput2">
                  <input type="text" formControlName="genre" placeholder="Genre">
                  <input class="input3" type="text" formControlName="situationmatri" placeholder="Situation Matrimoniale">
                </div>
                <div class="infoinput2">
                  <input type="text" formControlName="diplome" placeholder="Diplome">
                  <input class="input3" type="text" formControlName="ecole" placeholder="Université et Ecole">
                </div>
              </div>
            
            </div>
          </div>
          <div class="buttons">
            <button class="button1" type="button">Annuler</button>
            <button class="button2" (click)="submitted1()" type="button" mat-button matStepperNext>Suivant</button>
          </div>
        </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="interForm" >
    <ng-template matStepLabel>
        <div class="head">
            <div class="header" [style.background]="colors2()">
                <p class="titre"> 2. Contrat</p>
              </div>
        </div> 
      </ng-template>
    <div>
      <form [formGroup]="interForm">
        <div formGroupName="contrat">
          <p class="matri">Matricule: <span>{{matricule}}</span> </p>
          <div class="grid">
            <div class="photo">
              <img *ngIf="!url2==true" src="/assets/images/upload.png" alt="">
              <img [src]="url2" height="60" alt="">
              <input formControlName="filecontrat"  class="buttonphoto2" type="file" (change)="readUrl2($event)" >
            </div>
            <div class="others">
              <div class="contratinput2">
                <select class="select5" formControlName="type">
                  <option class="option" value="" disabled selected hidden>type de contrat</option>
                  <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                </select>
                <select class="select6" formControlName="agence">
                  <option class="option" value="" disabled selected hidden>Agence d'interim</option>
                  <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                </select>
              </div>
              <div class="contratinput2">
                <input type="text" formControlName="dateDebut" placeholder="Date Début">
                <input class="input3" type="text" formControlName="dateFin" placeholder="Date Fin">
              </div> 
              <div class="contratinput2">
                <input type="text" formControlName="categorie" placeholder="Catégorie">
                <input class="input3" type="text" formControlName="salaire" placeholder="Montant Salaire Brut">
              </div>
              <div class="contratinput2">
                <select class="select5" formControlName="structure">
                  <option class="option" value="" disabled selected hidden>Structure</option>
                  <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                </select>
                <select class="select6" formControlName="direction">
                  <option class="option" value="" disabled selected hidden>Direction</option>
                  <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                </select>
              </div>
              <div class="contratinput2">
                <select class="select5" formControlName="departement">
                  <option class="option" value="" disabled selected hidden>Département</option>
                  <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                </select>
                <select class="select6" formControlName="service">
                  <option class="option" value="" disabled selected hidden>Service</option>
                  <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                </select>
              </div>
          </div>
          </div>
        </div>
        <button class="button1"  type="button" mat-button matStepperPrevious>Précédent</button>
        <button class="button2" (click)="submitted2()" type="button"  mat-button matStepperNext>Suivant</button>
    </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="interForm" label="Email" >
    <ng-template matStepLabel>
        <div class="head">
            <div class="header" [style.background]="colors3()">
                <p class="titre"> 3. Poste</p>
              </div>
          </div>
      </ng-template>
    <div>
      <div *ngIf="!submited">
        <form [formGroup]="interForm">
          <div formGroupName="poste">
            <div class="center">
              <div class="posteinput2">
                <input type="text" formControlName="titre" placeholder="Titre du Poste">
                <select class="select6" formControlName="matriculemanager">
                  <option class="option" value="" disabled selected hidden>Matricule manageur</option>
                  <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                </select>
              </div>
              <div class="photo">
                <img *ngIf="!url3==true" src="/assets/images/upload.png" alt="">
                <img [src]="url3" height="60" alt="">
                <input formControlName="ficheposte" class="buttonphoto3" type="file" (change)="readUrl3($event)" >
              </div>
            </div>
          </div>
          <button class="button1" mat-button matStepperPrevious>Précédent</button>
          <button class="button2" type="button" (click)="submit()" matSteppperNext>Enregistrer</button>
      </form>
      </div>
      <div class="message" *ngIf="submited" >
        <div class="grid1">
          <div class="image">
            <img src="../assets/images/valide.png" alt="">
          </div>
          <div class="text">
            <p class="p1">
              L’agent <span>Mouhamadou Lamine MBODJI</span>  a été ajouté avec succès à la liste des interimaires pour une durée de <span>7 mois</span>. <br> Une notification sera envoyée à <span>son manageur</span> et à l’<span>agence d’interim</span>.
            </p>
          </div>
        </div>
        <button class="button3" type="button" (click)="removeItem()" mat-button (click)="stepper.reset()">Ajouter un autre</button>
        <button class="button4" (click)="removeItem()" routerLink="/accueil/souscontrat">Liste interimaires</button>
        <button class="button5" (click)="removeItem()" routerLink="/accueil/homedrh">Tableau de bord</button>
      </div>
    </div>
  </mat-step>

</mat-horizontal-stepper>

       <div [style.border-left]="getcolor1()" class="triangle1"></div>
        <div [style.border-left]="getcolor2()" class="triangle2"></div>
        <div [style.border-left]="getcolor3()" class="triangle3"></div>
</div>
</div>
</div>