<div class="all-container">
    <div class="all">
      <div class="all1">
        <p class="ajouter">Ajouter</p>
          <div class="form" [formGroup]="interForm">
            <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
              <mat-step [stepControl]="interForm" >
                <ng-template matStepLabel>
                    <div class="head">
                      <div class="header" [style.background]="colors1()">
                          <p class="titre"> 1. Infos personnelles</p>
                      </div>
                  </div>
                </ng-template>
                <div>
                    <form [formGroup]="interForm">
                      <div formGroupName="infopersonnel">
                        <p class="matri">Matricule: <span>item.tmp</span> </p>
                        <div class="grid">
                          <div class="photo">
                            <!-- <img class="image-upload" *ngIf="!url1==true" src="/assets/images/upload.png" alt=""> -->
                            <img class="image-upload" [src]="url1" height="60" alt="">
                            <input formControlName="photo" class="buttonphoto1" type="file" (change)="readUrl1($event)">
                          </div>
                          <div class="others">
                            <div class="infoinput1">
                              <input type="text" [value]="item.cni" formControlName="numeroCni" placeholder="Numero CNI">
                            </div>
                            <div class="infoinput2">
                              <input type="text" [value]="item.prenom" formControlName="prenom" placeholder="Prenom">
                              <input class="input3" [value]="item.nom" type="text" formControlName="nom" placeholder="Nom">
                            </div>
                            <div class="infoinput1">
                              <input type="text" [value]="item.email" formControlName="email" placeholder="Email">
                            </div>
                            <div class="infoinput2">
                              <input type="text" [value]="item.Nais" formControlName="dateNais" placeholder="Date de Naissance">
                              <input class="input3" [value]="item.lieuNais" type="text" formControlName="lieuNais" placeholder="Lieu de Naissance">
                            </div>
                            <div class="infoinput2">
                              <input type="text" [value]="item.genre" formControlName="genre" placeholder="Genre">
                              <input class="input3" [value]="item.categorie" type="text" formControlName="situationmatri" placeholder="Situation Matrimoniale">
                            </div>
                            <div class="infoinput2">
                              <input type="text" [value]="item.poste" formControlName="diplome" placeholder="Diplome">
                              <input class="input3" [value]="item.poste" type="text" formControlName="ecole" placeholder="Université et Ecole">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="buttons">
                        <button class="button1" type="button">Annuler</button>
                        <button class="button2" (click)="submitted1()" type="submit" mat-button matStepperNext>Suivant</button>
                      </div>
                    </form>
                </div>
              </mat-step>
  
              <mat-step [stepControl]="interForm" >
                <ng-template matStepLabel>
                    <div class="head">
                        <div class="header" [style.background]="colors2()">
                            <p class="titre"> 2. Contrat</p>
                          </div>
                    </div> 
                  </ng-template>
                <div>
                  <form [formGroup]="interForm">
                    <div formGroupName="contrat">
                      <p class="matri">Matricule: <span>{{matricule}}</span> </p>
                      <div class="grid">
                        <div class="photo">
                          <!-- <img class="image-upload" *ngIf="!url2==true" src="" alt=""> -->
                          <img class="image-upload" [src]="url2" height="60" alt="">
                          <input formControlName="filecontrat"  class="buttonphoto2" type="file" (change)="readUrl2($event)" >
                        </div>
                        <div class="others">
                          <div class="contratinput2">
                            <select class="select5" formControlName="type">
                              <option class="option" value=""[ngValue]="som" >{{item.categorie}}</option>
                              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                            </select>
                            <select class="select6" formControlName="agence" placeholder="Agence d'interim">
                              <option class="option" value="" [ngValue]="som">{{item.agence}}</option>
                              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                            </select>
                          </div>
                          <div class="contratinput2">
                            <input type="text" [value]="item.dateFin | date:'dd/MM/yyyy'" formControlName="dateDebut" placeholder="Date Début">
                            <input class="input3" [value]="item.dateDebut | date:'dd/MM/yyyy'" type="text" formControlName="dateFin" placeholder="Date Fin">
                          </div> 
                          <div class="contratinput2">
                            <input type="text" [value]="item.categorie" formControlName="categorie" placeholder="Catégorie">
                            <input class="input3" [value]="item.matricule" type="text" formControlName="salaire" placeholder="Montant Salaire Brut">
                          </div>
                          <div class="contratinput2">
                            <select class="select5" formControlName="structure">
                              <option class="option" value="" [ngValue]="som">{{item.structure}}</option>
                              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                            </select>
                            <select class="select6" formControlName="direction">
                              <option class="option" value="" [ngValue]="som">{{item.direction}}</option>
                              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                            </select>
                          </div>
                          <div class="contratinput2">
                            <select class="select5" formControlName="departement">
                              <option class="option" value="" [ngValue]="som">{{item.departement}}</option>
                              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                            </select>
                            <select class="select6" formControlName="service">
                              <option class="option" value="" [ngValue]="som">{{item.service}}</option>
                              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                            </select>
                          </div>
                      </div>
                      </div>
                    </div>
                    <button class="button1"  type="button" mat-button matStepperPrevious>Précédent</button>
                    <button class="button2" (click)="submitted2()" type="submit"  mat-button matStepperNext>Suivant</button>
                </form>
                </div>
              </mat-step>
  
              <mat-step [stepControl]="interForm" label="Email" >
                <ng-template matStepLabel>
                    <div class="head">
                        <div class="header" [style.background]="colors3()">
                            <p class="titre"> 3. Poste</p>
                          </div>
                      </div>
                  </ng-template>
                <div>
                  <div *ngIf="!submited">
                    <form [formGroup]="interForm">
                      <div formGroupName="poste">
                        <div class="center">
                          <div class="posteinput2">
                            <input type="text" [value]="item.poste" formControlName="titre" placeholder="Titre du Poste">
                            <select class="select6" formControlName="matriculemanager">
                              <option class="option" value="" [ngValue]="som">{{item.matricule}}</option>
                              <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                            </select>
                          </div>
                          <div class="fiche-et-pv">
                            <div class="photo">
                              <img class="image-upload" *ngIf="!url3==true" src="/assets/images/upload.png" alt="">
                              <img class="image-upload" [src]="url3" height="60" alt="">
                              <input formControlName="ficheposte" class="buttonphoto3" type="file" (change)="readUrl3($event)" >
                            </div>
                            <div class="photo">
                              <img class="image-upload" *ngIf="!url4==true" src="/assets/images/upload.png" alt="">
                              <img class="image-upload" [src]="url4" height="60" alt="">
                              <input formControlName="ficheposte" class="buttonphoto4" type="file" (change)="readUrl4($event)" >
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="button1" mat-button matStepperPrevious>Précédent</button>
                      <button class="button2" type="submit" (click)="submit()" matSteppperNext>Enregistrer</button>
                  </form>
                  </div>
                  <div class="message" *ngIf="submited" >
                    <div class="grid1">
                      <div class="image">
                        <img class="image-valide" src="../assets/images/valide.png" alt="">
                      </div>
                      <div class="text">
                        <p class="p1">
                          L’agent <span>Mouhamadou Lamine MBODJI</span>  a été ajouté avec succès à la liste des interimaires pour une durée de <span>7 mois</span>. <br> Une notification sera envoyée à <span>son manageur</span> et à l’<span>agence d’interim</span>.
                        </p>
                      </div>
                    </div>
                    <button class="button3" type="button" (click)="removeItem()" (click)="stepper.reset()">Ajouter un autre</button>
                    <button class="button4" (click)="removeItem()" routerLink="/accueil/souscontrat">Liste interimaires</button>
                    <button class="button5" (click)="removeItem()" routerLink="/accueil/homedrh">Tableau de bord</button>
                  </div>
                </div>
              </mat-step>
  
            </mat-horizontal-stepper>
            <div [style.border-left]="getcolor1()" class="triangle1"></div>
            <div [style.border-left]="getcolor2()" class="triangle2"></div>
            <div [style.border-left]="getcolor3()" class="triangle3"></div>
          </div>
      </div>
  </div>
  </div>