.all-container {
    // display: grid;
    // grid-template-columns: 1fr 290px;
    background-color: #f5f6f9;
}
.detail1 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin: 0;
}
.tableau {
    margin-right: 0px;
    background-color: white;
    padding: 10px;
    position: relative;
}
.exporter{
    display: flex;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 25px;
}
.export{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 17px;
}
.csv {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    p {
        margin-top: 12px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
.filtrer {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    .filtre {
        width: 90px;
        margin-top: 1px;
        margin-bottom: 0;
        margin-left: 10px;
        border: none;
        font-size: 16px;
        outline: none;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}
table {
    border-collapse: collapse;;
    width: 100%;
    margin-top: 50px;
}
  
  th {
    text-align: center;
   // padding: 8px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  td {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .type {
    display: flex;
    width: 60px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
  .type2 {
    display: flex;
    width: 40px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
  .updown {
    width: 20px;
    margin-top: 10px;
    margin-left: 0px;
  }
  tr {
    height: 50px;
    border: 1px solid #f5f6f9;
    border-radius: 100%;
    margin-top: 20px;
  }
  .head{
      background-color: #f5f6f9;
  }
  .id {
      width: 50px;
  }
.photo {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
  jw-modal {
      position: relative;
      h1{
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #222222;
        margin-top: 30px;
        margin-left: 30px;
      }
      .clear {
        width: 16px;
        height: 16px;
        margin-top: 10px;
        margin-right: 30px;
        font-weight: bold;
        position: absolute;
        right: 5%;
        top: 5%;
      }
  }
.forms {
    width: 260px;
    margin: 50px auto;
    select {
        width: 253px;
        height: 41px;
        margin-top: 30px;
        background-color: #f5f6f9;
        outline: none;
        border: 1px solid #d8d8d8;
        option {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 10px;
            letter-spacing: 0.07px;
            color: #8e8e8e;
            margin-top: 10px;
            text-align: center;
        }
    }
}

.bouton {
    width: 100px;
    margin: 0 auto;
    margin-top: 60px;
}
.button {
    width: 98px;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    font-family: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    outline: none;
}
.pagination {
    width: 400px;
    margin: 0 auto;
}
.error-content-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.error-image {
    width: 150px;
    height: 150px;
}
.error-text{
    text-align: center;
    color: #ff0000;
    font-size: 28px;
}
.error-message-admin{
    text-align: center;
    font-size: 18px;
}
.clear-error {
    width: 10px;
    height: 10px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 5px;
}
.error-content-button{
    width: 50px;
    margin: 0 auto;
}
.error-button{
    width: 50px;
    height: 30px;
    font-size: 16px;
    color: #ff0000;
    background-color: #f5f6f9;
    border-radius: 5px;
    outline: none;
    border: solid 1px #ff0000;
}
  @media (max-width: 991px) {
    .exporter{
        display: flex;
        margin-right: 30px;
        position: absolute;
        right: 0;
        top: 60px;
    }
}


@media (max-width: 991px) {
    .chiffre-aside {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1px;
        background-color: white;
        padding: 0px;
        margin-top: 10px;
        border-bottom: 1px solid #f5f6f9;
    }
    .grid-container-aside {
        grid-template-columns: 55px 1fr 55px;
    }
    .grid-container1-aside {
        grid-template-columns: 1fr 125px;
    }
    .all-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "tableau"
          "aside";
        grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
    }
    th {
        font-size: 8px;
    }
    td { 
        font-size: 8px;
    }
    .pagination {
        width: 250px;
        margin: 0 auto;
    }
    .detail1 {
        font-size: 14px;
        margin: 0;
    }
    .tableau {
        margin-top: 10px;
        margin-right: 0px;
        padding: 10px;
    }
    .exporter{
        display: flex;
        margin-right: 10px;
        position: absolute;
        right: 0;
        top: 30px;
    }
    .export{
        font-size: 10px;
        margin-top: 17px;
    }
    .csv {
        display: flex;
        margin-left: 20px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 30px;
        border-radius: 5px;
        p {
            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 0;
            margin-left: 10px;
            font-size: 12px;
        }
        mat-icon{
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 0;
            font-size: 20px;
        }
    }
    .filtrer {
        display: flex;
        margin-left: 20px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 30px;
        border-radius: 5px;
        .filtre {
            width: 80px;
            margin-top: 1px;
            margin-bottom: 0;
            margin-left: 10px;
            border: none;
            font-size: 12px;
            outline: none;
        }
        mat-icon{
            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 0;
            font-size: 20px;
        }
    }
    .button-aside {
        width: 100px;
        height: 30px;
        font-size: 14px;
      }
      .button1-aside {
          width: 100px;
          height: 30px;
          font-size: 14px;
      }
      .prenom-aside {
          font-size: 12px;
        }
        .poste-aside {
          font-size: 10px;
        }
        .tmp-aside {
          font-size: 10px;
        }
    .updown {
        width: 15px;
        margin-top: 0px;
        margin-left: 0px;
    }
}