<div class="all-container">
    <div class="tableau">
        <p class="detail1" id="mydesc">Liste des managers</p>
        <div class="exporter">
            <p class="export">Exporter</p>
            <div class="csv" style="cursor: pointer;">
                <p class="csv1">CSV</p>
                <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
            </div>
            <div class="filtrer" style="cursor: pointer;">
                <input class="filtre" type="text" [(ngModel)]="filterterm" placeholder="Filtre">
                <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
            </div>
        </div>
        <table style="overflow-x:auto;" aria-describedby = "mydesc">
            <thead>
                <tr class="head">
                    <th class="id1" id="matricule">#</th>
                    <th class="typ" id="prenom">
                        <div class="type">
                            <p>Prenom</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th class="typ" id="nom">
                        <div class="type">
                            <p>Nom</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th *ngIf="scrWidth>991" id="profil">Profil</th>
                    <th id="direction">Direction</th>
                    <th id="dep">Dep/serv</th>
                    <th id="nbr">Nbre Interimaires</th>
            </tr>
            </thead>
            <tbody>
                <tr (click)="openDetail(p)" style="cursor: pointer;" *ngFor="let p of datas | filter:filterterm | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                    <td class="id1">{{p.id}}</td>
                    <td>{{p.prenom}}</td>
                    <td>{{p.nom}}</td>
                    <td *ngIf="scrWidth>991"> <img alt="" class="photo" src="{{p.photo}}"></td>
                    <td>{{p.direction.libelle}}</td>
                    <td>{{p.structure.departement}}/{{p.service}}</td>
                    <td> <p>{{p.nbreInterimaires}}</p> </td>
                </tr>
            </tbody>
            
        </table>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
    <div class="aside">
        <div class="chiffre-aside" style="margin-left: auto;margin-right: 0;">
            <div class="elmt-aside" >
                <div href="">
                    <p class="titre-aside">Présents</p>
                    <br>
                    <p class="nombre-aside">820</p>
                </div>
            </div>
            <div class="elmt1-aside" title="messages">
                <div href="">
                    <p class="titre-aside">Malades</p>
                    <br>
                    <p class="nombre-aside">11</p>
                </div>
            </div>
            <div class="elmt2-aside" >
                <div href="">
                    <p class="titre-aside">Congés</p>
                    <br>
                    <p class="nombre-aside">04</p>
                </div>
            </div>
        </div>
        
        
        <div class="interi-aside">
            <p class="dernier-aside">Nos dernières recrues</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <img alt="" class="photo-aside" src="http://10.137.16.67:8053/{{p.photo}}">
                        </div>
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.prenom}} </p>
                            <p class="poste-aside"> {{p.poste}} </p>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp-aside" >{{p.matricule}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button-aside" routerLink="/accueil/newinter">Voir le liste</button>
        </div>
        
        <div class="annonce-aside">
            <p class="dernier-aside">Avis de recrutement</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container1-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.poste}} </p>
                            <div class="dep-aside">
                                <p class="serv-aside"> {{p.direction}}/ </p>
                                <p class="serv-aside"> {{p.pole}}/ </p>
                                <p class="serv-aside"> {{p.departement}}/ </p>
                                <p class="serv-aside"> {{p.service}} </p>
                            </div>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp1-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button1-aside" routerLink="/accueil/offre">Voir le liste</button>
        </div>
    </div>
</div>