.all-container {
    background-color: #f5f6f9;
}
.demande {
    background-color: white;
    margin-right: 0px;
    padding: 10px;
}
.demande-header {
    display: grid;
    grid-template-columns: 1fr 150px;
}
.demande-button {
    background-color: white;
    color: #ff7900;
    border: 1px solid #ff7900;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
}
.detail{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 0;
}
.button1 {
    width: 160px;
    height: 30px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
.button2 {
    width: 180px;
    height: 30px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    margin-top: 10px;
}
.button3 {
    width: 90px;
    height: 30px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    margin-top: 10px;
}
.button4 {
    width: 160px;
    height: 30px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    margin-top: 10px;
}
.tableau {
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    position: relative;
}
.exporter{
    display: flex;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 20px;
}
.export{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 17px;
}
.csv {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
    p {
        margin-top: 8px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    mat-icon{
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
.filtrer {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
    .filtre {
        width: 90px;
        margin-top: 1px;
        margin-bottom: 0;
        margin-left: 10px;
        border: none;
        font-size: 16px;
        outline: none;
    }
    mat-icon{
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}
table {
    border-collapse: collapse;;
    width: 100%;
    margin-top: 50px;
}
  
  th {
    text-align: center;
   // padding: 8px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  td {
    text-align: center;
  //  padding: 4px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .type {
    display: flex;
    width: 50px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
  .updown {
    margin-top: 10px;
    margin-left: 20px;
  }
  tr {
    height: 50px;
    border: 1px solid #f5f6f9;
    border-radius: 100%;
    margin-top: 20px;
  }
  .head{
      background-color: #f5f6f9;
  }
  .id {
      width: 50px;
  }


//modal 
jw-modal {
    position: relative;
 }
 .clear {
    width: 16px;
    height: 16px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
 }
 .all{
    width: 550px;
    margin: 20px auto;
 }
 h1 {
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.12px;
    color: #222222;
 }
 input {
    padding-left: 10px;
    outline: none;
 }
 .input2 input {
    width: 245px;
    height: 41px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin-bottom: 20px;
 }
 .input3 {
    margin-left: 20px;
 }
 .sele1 {
     width: 540px;
 }
 .custom-select {
    width: 540px;
    height: 41px;
    margin-bottom: 20px;
    background-color: #f5f6f9;
    outline: none;
    border: 1px solid #d8d8d8;
 }
 option {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 10px;
    letter-spacing: 0.07px;
    color: #8e8e8e;
    margin-top: 10px;
    text-align: center;
    width: 240px !important;
}
.motif-demande {
    width: 527px;
    height: 80px;
    outline: none;
    padding: 5px;
}
 .input2 .input4 {
    width: 155px;
    height: 35px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin-bottom: 20px;
    margin-left: 20px;
 }
 .boutonsea {
    width: 140px;
    margin: 10px auto;
 }
 .buttonsea {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.2px;
    color: #ffffff;
    background-color: #000000;
    width: 139px;
    height: 50px;
 }
 .content-error-msg{
    width: 300px;
    margin-left: 0px;
  }
  .error-alert{
    color: #ff0000;
    font-size: 12px;
  }

  .error-content-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.error-image {
    width: 160px;
    height: 150px;
    background-image: url("../../../../assets/images/error-message.png");
    background-size: cover;
}
.error-text{
    text-align: center;
    color: #ff0000;
    font-size: 28px;
}
.error-message-admin{
    text-align: center;
    font-size: 18px;
}
.clear-error {
    width: 10px;
    height: 10px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 5px;
}
.error-content-button{
    width: 50px;
    margin: 0 auto;
}
.error-button{
    width: 50px;
    height: 30px;
    font-size: 16px;
    color: #ff0000;
    background-color: #f5f6f9;
    border-radius: 5px;
    outline: none;
    border: solid 1px #ff0000;
}
@media (max-width: 991px) {
    .chiffre-aside {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1px;
        background-color: white;
        padding: 0px;
        margin-top: 10px;
        border-bottom: 1px solid #f5f6f9;
    }
    .grid-container-aside {
        grid-template-columns: 55px 1fr 55px;
    }
    .grid-container1-aside {
        grid-template-columns: 1fr 125px;
    }
    .all-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "tableau"
          "aside";
    }
    .demande {
        margin-right: 0;
        margin-top: 10px;
    }
    .tableau {
        margin-right: 0;
        padding: 2px;
    }
    .button-aside {
        font-size: 14px;
        height: 40px;
    }
    .button1-aside {
        font-size: 14px;
        height: 40px;
    }
    .button1 {
        font-size: 14px;
        width: 150px;
        height: 40px;
    }
    .button2 {
        font-size: 14px;
        width: 150px;
        height: 40px;
        margin-left: 10px;
    }
    .button3 {
        font-size: 14px;
        width: 100px;
        height: 40px;
    }
    .button4 {
        font-size: 14px;
        width: 150px;
        height: 40px;
    }
    .exporter {
        margin-top: 10px;
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: 5px;
        top: 10px;
    }
    .csv {
        display: flex;
        margin-left: 10px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 35px;
        border-radius: 5px;
        p {
            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 0;
            margin-left: 10px;
        }
        mat-icon{
            margin-top: 10px;
            margin-right: 5px;
            margin-bottom: 0;
            font-size: 15px;
        }
    }
    .filtrer {
        display: flex;
        margin-left: 20px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 35px;
        border-radius: 5px;
        .filtre {
            width: 90px;
            margin-top: 1px;
            margin-bottom: 0;
            margin-left: 10px;
            border: none;
            font-size: 16px;
            outline: none;
        }
        mat-icon{
            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
    td {
        font-size: 10px;
    }

    input {
        padding-left: 10px;
        outline: none;
     }
     .input2 input {
        width: 125px;
        height: 31px;
        background-color: #f5f6f9;
        border-radius: 1px;
        border: solid 1px #d8d8d8;
        margin-bottom: 10px;
     }
     .input3 {
        margin-left: 10px;
     }
     .sele1 {
         width: 290px;
     }
     .custom-select {
        width: 288px;
        height: 31px;
        margin-bottom: 10px;
        background-color: #f5f6f9;
        outline: none;
        border: 1px solid #d8d8d8;
     }
     option {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 10px;
        letter-spacing: 0.07px;
        color: #8e8e8e;
        margin-top: 10px;
        text-align: center;
        width: 80px !important;
    }
    .motif-demande {
        width: 277px;
        height: 80px;
    }
    
     .boutonsea {
        width: 100px;
        margin: 10px auto;
     }
     .buttonsea {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: -0.2px;
        color: #ffffff;
        background-color: #000000;
        width: 100px;
        height: 30px;
     }
     .all {
         width: 290px;
     }
     h1 {
         font-size: 16px;
     }
    .clear {
        width: 16px;
        height: 16px;
        font-weight: bold;
        position: absolute;
        right: 30px;
        top: 20px;
    }
}