<div class="all-container">
    <div class="all">
        <div class="tableau">
            <p class="detail1" id="mydesc">Liste des Demandes</p>
            <div  *ngIf="successCode == 202" class="content-vide-objectif">
                <p class="vide-objectif">Il n'y a aucune demande éffectuée</p>
            </div>
            <div *ngIf="successCode == 200" class="exporter">
                <form [formGroup]="filterForm">
                    <div class="exporter-form">
                        <div class="content-input-extraction">
                            <div class="filtrer-mois">
                                <p class="label-input" for="titre">Type: </p>
                                <select  formControlName="type" class="select-mois" >
                                    <option value="null">Aucun Choix</option>
                                    <option *ngFor="let data of listeDemande"  [value]="data.id">{{data.libelle}}</option>
                                </select>
                            </div>
                            <div class="filtrer-mois">
                                <p class="label-input" for="titre">Statut: </p>
                                <select  formControlName="etat" class="select-mois" >
                                    <option value="null">Aucun Choix</option>
                                    <option *ngFor="let data of listeEtat"  [value]="data.id">{{data.etat}}</option>
                                </select>
                            </div>
                            <div class="content-extraction">
                                <mat-icon class="icon-search" (click)="gty(page)" fontSet="material-icons-outlined" >search</mat-icon>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <table *ngIf="successCode == 200" style="overflow-x:auto;" aria-describedby = "mydesc">
                <thead>
                    <tr class="head">
                        <th class="typ" id="prenom">
                            <div class="type">
                                <p>Prenom</p> 
                            </div>
                        </th>
                        <th class="typ" id="nom">
                            <div class="type">
                                <p>Nom</p> 
                            </div>
                        </th>
                        <th id="presence">Type</th>
                        <th id="attestation">Motif</th>
                        <th id="paiement">Date Debut</th>
                        <th id="date">Date Fin</th>
                        <th id="input">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of dd | filter:filterterm | paginate: {  itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                        }; let i = index">
                        <td>{{p.prenom}}</td>
                        <td>{{p.nom}}</td>
                        <td> {{p.typeDemande}}</td>
                        <td><button  class="buttons1" (click)="openModal('custom-modal-'+p.id)">Afficher</button></td>
                        <td>{{p.dateDebut | date: 'dd/MM/yyyy'}}</td>
                        <td>{{p.dateFin | date: 'dd/MM/yyyy'}}</td>
                        <td >
                            <button (click)="valider(p.reference)" *ngIf="user == 'AGN' && p.etat == 0" class="valider-attestation">Valider</button>
                            <button (click)="rejeter(p.reference)" *ngIf=" user == 'AGN' && p.etat == 0" class="rejeter-attestation">Rejeter</button>
                            <span *ngIf="p.etat == 1">déja validé</span>
                            <span *ngIf="p.etat == 2">déja rejeté</span>
                            <span *ngIf="p.etat == 0 && user != 'AGN'">en attente</span>
                        </td>
                        <!--modal1-->
                        <div class="modal">
                            <jw-modal id="custom-modal-{{p.id}}">
                                <div class="tab">
                                    <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-'+p.id);" class="clear">clear</mat-icon>
                                    <p class="motif-titre">Motif de la demande</p>
                                    <p class="dtl1">{{p.description}}</p>
                                </div>
                            </jw-modal>
                        </div>
                        <!--modal1-->
                    </tr>
                </tbody>
                
            </table>
            <div *ngIf="successCode == 200" class="pagination">
                <div>
                    <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
                </div>
                <!-- <div class="button-valider-content">
                    <button class="button-validation-demende" (click)="getCheckedItemList()">Valider</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
