.demande {
    background-color: white;
    margin-top: 10px;
    padding: 30px;
}
.detail{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #222222;
    margin-top: 0;
}
.button1 {
    width: 177px;
    height: 50px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}
.button2 {
    width: 199px;
    height: 50px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
}
.button3 {
    width: 107px;
    height: 50px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
}
.button4 {
    width: 179px;
    height: 50px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
}
.tableau {
    margin-top: 20px;
    background-color: white;
    padding: 30px;
    position: relative;
}
.exporter{
    display: flex;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 20px;
}
.export{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 17px;
}
.csv {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    p {
        margin-top: 12px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
.filtrer {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    .filtre {
        width: 90px;
        margin-top: 1px;
        margin-bottom: 0;
        margin-left: 10px;
        border: none;
        font-size: 16px;
        outline: none;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}
table {
    border-collapse: collapse;;
    width: 100%;
    margin-top: 50px;
}
  
  th {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  td {
    text-align: center;
    padding: 8px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .type {
    display: flex;
    width: 50px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
  .updown {
    margin-top: 10px;
    margin-left: 20px;
  }
  tr {
    height: 50px;
    border: 1px solid #f5f6f9;
    border-radius: 100%;
    margin-top: 20px;
  }
  .head{
      background-color: #f5f6f9;
  }
  .id {
      width: 50px;
  }
  