<div class="demande">
    <p class="detail">Mes demandes</p>
    <div>
        <button  class="button1">Congés Maladie</button>
    <button  class="button2">Convenance perso</button>
    <button  class="button3">Mission</button>
    <button  class="button4">Congés Annuels</button>
    </div>
</div>
    <div class="tableau">
        <p class="detail">Liste des interimaires sous contrat</p>
        <div class="exporter">
            <p class="export">Exporter</p>
            <div class="csv">
                <p class="csv1">CSV</p>
                <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
            </div>
            <div class="filtrer" >
                <p class="filtre" [(ngModel)]="filterterm">Filtre</p>
                <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
            </div>
        </div>
        <table style="overflow-x:auto;">
            <thead>
                <tr class="head">
                    <th class="id1">#</th>
                    <th class="typ">
                        <div class="type">
                            <p>type</p> 
                            <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                        </div>
                    </th>
                    <th>Etat</th>
                    <th>Date début</th>
                    <th>Date fin</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of datas | filter:filterterm | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                    <td class="id1">{{p.id}}</td>
                    <td>{{p.prenom}}</td>
                    <td>{{p.nom}}</td>
                    <td>{{p.dateDebut}}</td>
                    <td>{{p.dateFin}}</td>
                </tr>
            </tbody>
            
        </table>
        <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
    </div>

