.all-container {
    display: grid;
    grid-template-columns: 1fr 350px;
    background-color: #f5f6f9;
}
.all {
    margin-right: 10px;
    background-color: white;
    padding: 30px;
}
.detail {
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #222222;
    margin-top: 0;
}
.bouton {
    width: 320px;
    margin: 50px auto;
}
.button {
    display: flex;
    width: 319px;
    height: 50px;
    margin-top: 60px;
    mat-icon {
        margin-top: 10px;
    }
    background: white;
    border: 3px solid #000000;
    p {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: -0.2px;
        color: #000000;
        margin-top: 12px;
        margin-left: 10px;
    }
}
.label-form {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
}
.input-form {
    width: 250px;
    font-size: 22px;
    height: 41px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin-bottom: 15px;
    outline: none;
    padding: 5px;
}
.buttob-envoyer {
    height: 40px;
    width: 90px;
    color: #ff7900;
    border: 1px solid #ff7900;
    background-color: white;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}
.form-add-manager {
    margin-top: 20px;
}
.manager {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1px;
}
.image {
    position: relative;
}
.image-manager {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 40px;
    border: solid 3px #009393;
}
.information{
    margin-top: 60px;
    margin-left: 10px;
}
.nom {
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    color: #222222;
    margin: 0;
}
.poste {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.13px;
    color: #222222;
    margin-top: 10px;
    margin-bottom: 0;
}
.matricule{
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    color: #222222;
    margin-top: 10px;
}
.content-button-valider {
    width: 90px;
    margin: 20px auto;
}
//  aside scss

.chiffre-aside{
    position: relative;
    right: 0;
    display: flex;
   background-color: #ffffff;
 }
 

 .chiffre-aside .elmt-aside{
    position: relative;
    padding: 13px 32px 0px 32px;
    border-left: solid 2px #f5f6f9;
 }
 .chiffre-aside .elmt1-aside{
   position: relative;
   padding: 13px 35px 0px 39px;
   border-left: solid 1px #f5f6f9;
   border-right: solid 1px #f5f6f9;
}
.chiffre-aside .elmt2-aside{
    position: relative;
    padding: 13px 30px 0px 35px;
}
 .icon-aside {
    width: 40px;
    height: 40px;
 }
.nombre-aside {
  margin-top: 0px;
  font-family: FuturaBT;
  font-size: 28px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  text-align: center;
  margin-bottom: 5px;
}
.titre-aside {
    opacity: 0.7;
    font-family: Futura;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.interi-aside {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px 20px 15px 20px;
}
.dernier-aside {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 30px;
}
.grid-container-aside {
    display: grid;
    grid-template-columns: 45px 200px 45px;
    grid-gap: 1px;
    background-color: white;
    padding: 0px;
    margin-top: 10px;
    border-bottom: 1px solid #f5f6f9;
}
.photo-aside {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.prenom-aside {
    margin-top: 0;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.poste-aside {
    margin-top: -8px;
    margin-left: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.tmp-aside {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #f03737;
}
.button-aside {
    width: 132px;
    height: 50px;
    background-color: #f16e00;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 80px;
    cursor: pointer;
    outline: none;
}
.annonce-aside {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px 20px 15px 20px;
}
.grid-container1-aside {
    display: grid;
    grid-template-columns: 210px 100px;
    grid-gap: 1px;
    background-color: white;
    padding: 0px;
    margin-top: 10px;
    border-bottom: 1px solid #f5f6f9;
}
.dep-aside {
    display: flex;
    margin-left: 10px;
}
.serv-aside {
    margin-top: -8px;
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
}
.button1-aside {
    width: 132px;
    height: 50px;
    background-color: #32c832;
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 80px;
    cursor: pointer;
    outline: none;
}
.tmp1-aside {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #009393;
}
.manager-aside {
    margin: 0 auto;
    width: 140px;
    img{
        width: 139px;
        height: 139px;
    }
    
}
.nom-aside {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
    text-align: center;
    color: #222222;
    margin-bottom: 0;
}
.postem-aside{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #222222;
    margin-top: 5px;
}
@media (max-width: 991px) {
    .chiffre-aside {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1px;
        background-color: white;
        padding: 0px;
        margin-top: 10px;
        border-bottom: 1px solid #f5f6f9;
    }
    .grid-container-aside {
        grid-template-columns: 55px 1fr 55px;
    }
    .grid-container1-aside {
        grid-template-columns: 1fr 125px;
    }
    .all-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "tableau"
          "aside";
        grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
    }
    .all {
        margin-top: 10px;
        margin-right: 0px;
        background-color: white;
        padding: 10px;
    }
    .detail {
        font-size: 26px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        color: #222222;
        margin-top: 0;
    }
    .bouton {
        width: 280px;
        margin: 50px auto;
    }
    .button {
        display: flex;
        width: 240px;
        height: 40px;
        margin-top: 60px;
        mat-icon {
            margin-top: 5px;
        }
        background: white;
        border: 3px solid #000000;
        p {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: -0.2px;
            color: #000000;
            margin-top: 12px;
            margin-left: 10px;
        }
    }
    .manager {
        grid-template-columns: 1fr;
        grid-template-areas:
          "image"
          "information";
        margin-left: 10px;
    }
    .image {
        width: 180px;
        margin: 0 auto;
    }
    .image-manager {
        width: 170px;
        height: 170px;
        object-fit: contain;
        border-radius: 20px;
        border: solid 3px #009393;
    }
    .information{
        margin-top: 10px;
    }
    .nom {
        font-size: 20px;
    }
    .poste {
        font-size: 16px;
    }
    .matricule{
        font-size: 20px;
    }
    .input-form {
        width: 220px;
        font-size: 20px;
        height: 31px;
        background-color: #f5f6f9;
        border-radius: 1px;
        border: solid 1px #d8d8d8;
        margin-bottom: 15px;
        outline: none;
        padding: 5px;
    }
    .buttob-envoyer {
        height: 30px;
        width: 90px;
        color: #ff7900;
        border: 1px solid #ff7900;
        background-color: white;
        outline: none;
        cursor: pointer;
        font-weight: 600;
    }
    .content-button-valider {
        width: 90px;
        margin: 10px auto;
    }
}