<div class="all-container">
    <div class="all">
        <div class="large">
            <p class="detail">Détails</p>
            <p>{{p}}</p>
            <div class="bouton"  >
                <button class="button" type="button" > <mat-icon>upload</mat-icon> <p>Charger fichier XLS, CSV, SQL</p></button>
            </div>
            <div class="form-add-manager-matricule">
                <form [formGroup]="matriculeForm">
                    <div class="content-input">
                        <p class="label-form">Matricule</p>
                        <input class="input-form" formControlName="matricule" type="text">
                    </div>
                    <div class="content-button">
                        <button (click)="submitted1()" class="buttob-envoyer">Envoyer</button>
                    </div>
                </form>
            </div>
            <div *ngIf="show" class="form-add-manager">
                <form [formGroup]="userForm">
                    <div class="manager">
                        <div class="image">
                            <img class="image-manager" src="../assets/images/manager.png" alt="">
                        </div>
                        <div class="information">
                            <p class="nom">{{item.manager}}</p>
                            <p class="poste">{{item.postem}}</p>
                            <p class="matricule">{{item.matricule}}</p>
                        </div>
                    </div>
                    <div class="content-button-valider">
                        <button (click)="submitted2()"  class="buttob-envoyer">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="chiffre-aside" style="margin-left: auto;margin-right: 0;">
            <div class="elmt-aside" >
                <div href="">
                    <p class="titre-aside">Présents</p>
                    <br>
                    <p class="nombre-aside">820</p>
                </div>
            </div>
            <div class="elmt1-aside" title="messages">
                <div href="">
                    <p class="titre-aside">Malades</p>
                    <br>
                    <p class="nombre-aside">11</p>
                </div>
            </div>
            <div class="elmt2-aside" >
                <div href="">
                    <p class="titre-aside">Congés</p>
                    <br>
                    <p class="nombre-aside">04</p>
                </div>
            </div>
        </div>
        
        
        <div class="interi-aside">
            <p class="dernier-aside">En fin de contrat</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <img alt="" class="photo-aside" src="../assets/images/{{p.photo}}">
                        </div>
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.prenom}} </p>
                            <p class="poste-aside"> {{p.poste}} </p>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button-aside" routerLink="/accueil/newinter">Voir le liste</button>
        </div>
        
        <div class="annonce-aside">
            <p class="dernier-aside">Avis de recrutement</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container1-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.poste}} </p>
                            <div class="dep-aside">
                                <p class="serv-aside"> {{p.direction}}/ </p>
                                <p class="serv-aside"> {{p.pole}}/ </p>
                                <p class="serv-aside"> {{p.departement}}/ </p>
                                <p class="serv-aside"> {{p.service}} </p>
                            </div>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp1-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button1-aside" routerLink="/accueil/offre">Voir le liste</button>
        </div>
      </div>
</div>