<div class="all-container">
    <div class="all">
        <div class="large">
            <p class="detail">Détails</p>
            <p class="texte-manager">{{p}}</p>
            <div class="bouton"  >
                <button class="button" type="button" > <mat-icon>upload</mat-icon> <p>Charger fichier XLS, CSV, SQL</p></button>
                <div class="content-button-valider">
                    <button class="button-valider">Valider</button>
                </div>
            </div>
            <div class="form-add-manager-matricule">
                <form [formGroup]="matriculeForm">
                    <div class="content-input">
                        <p class="label-form">Matricule</p>
                        <input class="input-form" formControlName="matricule" type="text">
                    </div>
                    <div class="content-button">
                        <button (click)="submitted1()" class="button-envoyer">Envoyer</button>
                    </div>
                </form>
                <p class="info-manager"></p>
            </div>
            <div *ngIf="show" class="form-add-manager">
                <form [formGroup]="userForm">
                    <div class="manager">
                        <div class="image">
                            <img class="image-manager" src="../assets/images/manager.png" alt="">
                        </div>
                        <div class="information">
                            <p class="nom">{{item.manager}}</p>
                            <p class="poste">{{item.postem}}</p>
                            <p class="matricule">{{item.matricule}}</p>
                        </div>
                    </div>
                    <div class="content-button-valider">
                        <button (click)="submitted2()"  class="buttob-envoyer">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <img class="error-image" src="../../../assets/images/error-message.png" alt="">
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>