<div class="all-container">
    <div class="all">
        <div class="tableau">
            <p class="detail1" id="mydesc">Liste des Demandes</p>
            <div class="button-valider-content">
                <button class="button-validation-demende" (click)="getCheckedItemList()">Valider</button>
            </div>
            <table style="overflow-x:auto;" aria-describedby = "mydesc">
                <thead>
                    <tr class="head">
                        <th *ngIf="scrWidth>991" class="id1" id="manager">#</th>
                        <th class="typ" id="prenom">
                            <div class="type">
                                <p>Prenom</p> 
                            </div>
                        </th>
                        <th class="typ" id="nom">
                            <div class="type">
                                <p>Nom</p> 
                            </div>
                        </th>
                        <th id="presence">Type</th>
                        <th id="attestation">Motif</th>
                        <th id="paiement">Date Debut</th>
                        <th id="date">Date Fin</th>
                        <th id="input"><input 
                              
                             [(ngModel)]="selectedAll"
                             (change)="selectAll();"
                             type="checkbox"/></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of dd | filter:filterterm | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                        <td *ngIf="scrWidth>991" class="id1">{{p.id}}</td>
                        <td>{{p.prenom}}</td>
                        <td>{{p.nom}}</td>
                        <td> {{p.poste}}</td>
                        <td><button  class="buttons1" (click)="openModal('custom-modal-'+p.id)">Afficher</button></td>
                        <td>{{p.dateDebut | date: 'dd/MM/yyyy'}}</td>
                        <td>{{p.dateFin | date: 'dd/MM/yyyy'}}</td>
                        <td><input type="checkbox"
                                [checked]="p.statut"
                                [(ngModel)]="p.statut"
                                [value]="p.id" 
                                (change)="checkIfAllSelected();"/>
                            </td>
                        <!--modal1-->
                        <div class="modal">
                            <jw-modal id="custom-modal-{{p.id}}">
                                <div class="tab">
                                    <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-'+p.id);" class="clear">clear</mat-icon>
                                    <p class="dtl1">{{p.libele}}</p>
                                    <p class="dtl1">{{p.adresse}}</p>
                                </div>
                            </jw-modal>
                        </div>
                        <!--modal1-->
                    </tr>
                </tbody>
                
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="chiffre-aside" style="margin-left: auto;margin-right: 0;">
            <div class="elmt-aside" >
                <div href="">
                    <p class="titre-aside">Présents</p>
                    <br>
                    <p class="nombre-aside">820</p>
                </div>
            </div>
            <div class="elmt1-aside" title="messages">
                <div href="">
                    <p class="titre-aside">Malades</p>
                    <br>
                    <p class="nombre-aside">11</p>
                </div>
            </div>
            <div class="elmt2-aside" >
                <div href="">
                    <p class="titre-aside">Congés</p>
                    <br>
                    <p class="nombre-aside">04</p>
                </div>
            </div>
        </div>
        
        
        <div class="interi-aside">
            <p class="dernier-aside">En fin de contrat</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <img alt="" class="photo-aside" src="../assets/images/{{p.photo}}">
                        </div>
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.prenom}} </p>
                            <p class="poste-aside"> {{p.poste}} </p>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button-aside" routerLink="/accueil/newinter">Voir le liste</button>
        </div>
        
        <div class="annonce-aside">
            <p class="dernier-aside">Avis de recrutement</p>
            <div *ngFor="let p of datas | slice:0:4; let i = index">
                <div class="list-aside">
                    <div style="cursor: pointer;" class="grid-container1-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                        <div  class="item4-aside" >
                            <p class="prenom-aside"> {{p.poste}} </p>
                            <div class="dep-aside">
                                <p class="serv-aside"> {{p.direction}}/ </p>
                                <p class="serv-aside"> {{p.pole}}/ </p>
                                <p class="serv-aside"> {{p.departement}}/ </p>
                                <p class="serv-aside"> {{p.service}} </p>
                            </div>
                        </div>
                        <div  class="item4-aside"> 
                            <p class="tmp1-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <button  class="button1-aside" routerLink="/accueil/offre">Voir le liste</button>
        </div>
    </div>
</div>