.all-container {
    // display: grid;
    // grid-template-columns: 1fr 290px;
    background-color: #f5f6f9;
}
.all {
    background-color: white;
    margin-right: 0px;
}
.progres {
    background-color: white;
    height: 82px;
    padding: 5px 40px;
    margin-top: 10px;
}
.duree{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin-top: 5px;
    margin-bottom: 0;
}
.bar{
    width: 100%;
    position: relative;
    margin-top: 15px;
}
#progress_bar{
    margin-bottom: 20px;
    height:30px;
    background-color: #f5f6f9;
}

#green_bar{
    height:30px;
    float:left;
    overflow:hidden;
    background:#009393;
}
.per{
    height: 25px;
    position: absolute;
    top: -10px;
    left: 190px;
    color: white;
}
.datefin {
    text-align: right;
}
.detail1 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #222222;
    margin: 0;
}
.tableau {
    margin-top: 0px;
    background-color: white;
    padding: 5px;
    position: relative;
}
.exporter{
    display: flex;
    margin-right: 15px;
    position: absolute;
    right: 0;
    top: 45px;
}
.export{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 17px;
}
.csv {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    p {
        margin-top: 12px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
.bouton1{
    margin-top: 5px;
}
.button1 {
    width: 82px;
    height: 35px;
    background-color: #f16e00;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.2px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.button2 {
    width: 80px;
    height: 35px;
    background-color: #cccccc;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.2px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.button3 {
    width: 110px;
    height: 35px;
    background-color: #cccccc;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.2px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.filtrer {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid #f5f6f9;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    .filtre {
        width: 90px;
        margin-top: 1px;
        margin-bottom: 0;
        margin-left: 10px;
        border: none;
        font-size: 16px;
        outline: none;
    }
    mat-icon{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}
table {
    border-collapse: collapse;;
    width: 100%;
    margin-top: 5px;
}
  
  th {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
  td {
    text-align: center;
    padding: 8px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .motif-titre {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .type {
    display: flex;
    width: 50px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
  .updown {
    margin-top: 10px;
    margin-left: 20px;
  }
  tr {
    height: 50px;
    border: 1px solid #f5f6f9;
    border-radius: 100%;
    margin-top: 20px;
  }
  .head{
      background-color: #f5f6f9;
  }
  .id {
      width: 50px;
  }
.photo {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
input[type=checkbox] {
    width: 15px;
    height: 15px;
    font-size: 15px;
    margin: 0;
}
  input[type=checkbox]:after {
    content: " ";
    background-color: white;
    display: inline-block;
    visibility: visible;
  }
  input[type=checkbox]:checked:after {
    content: "\2714";
    color: white;
    background-color: #ff7900;
    width: 13px;
    padding-left: 2px;
  }
    input:checked:after {
        background-color: #f3aa21;
        color: #f16e00;
    }
  jw-modal {
      position: relative;
      h1{
        font-size: 21px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #222222;
        margin-top: 0px;
        margin-left: 30px;
      }
      .clear {
        width: 16px;
        height: 16px;
        margin-top: 10px;
        margin-right: 30px;
        font-weight: bold;
        position: absolute;
        right: 5px;
        top: 5px;
      }
  }
.forms {
    width: 260px;
    margin: 50px auto;
    select {
        width: 253px;
        height: 41px;
        margin-top: 30px;
        background-color: #f5f6f9;
        outline: none;
        border: 1px solid #d8d8d8;
        option {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 10px;
            letter-spacing: 0.07px;
            color: #8e8e8e;
            margin-top: 10px;
            text-align: center;
        }
    }
}

.bouton {
    width: 100px;
    margin: 0 auto;
    margin-top: 60px;
}
.button {
    width: 98px;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    font-family: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    outline: none;
}
.pagination {
    width: 400px;
    margin: 0 auto;
}
.status {
    width: 13px;
    height: 13px;
    margin-left: 10px;
}

.etat {
    display: flex;
    width: 90px;
    margin: 0 auto;
}
.etat1 {
    margin-left: 10px;
}
.buttons1 {
    width: 70px;
    height: 20px;
    background-color: white;
    border: none;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
}
.btns2 {
    width: 150px;
    margin: 0px auto;
}
.btn2 {
    width: 142px;
    height: 50px;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -0.1px;
    text-align: center;
    color: #000000;
    border: none;
    background-color: #32c832;
    margin-top: 7px;
}
.button-valider-content {
    position: absolute;
    top: 5px;
    right: 5px;
}
.button-validation-demende {
    width: 90px;
    height: 25px;
    outline: none;
    border: none;
    color: white;
    background-color: #ff7900;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 1100px) {
    .export{
        font-size: 10px;
        margin-top: 17px;
    }
    .csv {
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 25px;
        border-radius: 5px;
        width: 35px;
        p {
            margin-top: 8px;
            margin-right: 0px;
            margin-bottom: 0;
            margin-left: 5px;
            font-size: 8px;
        }
        mat-icon{
            margin-top: 5px;
            margin-right: 2px;
            margin-bottom: 0;
            font-size: 15px;
            width: 15px;
        }
    }
    .bouton1{
        margin-top: 5px;
    }
    .button1 {
        width: 35px;
        height: 20px;
        background-color: #f16e00;
        border: none;
        color: white;
        font-size: 8px;
        margin-left: 5px;
    }
    .button2 {
        width: 35px;
        height: 20px;
        background-color: #cccccc;
        border: none;
        color: white;
        font-size: 8px;
        margin-left: 5px;
    }
    .button3 {
        width: 50px;
        height: 20px;
        background-color: #cccccc;
        border: none;
        color: white;
        font-size: 8px;
        margin-left: 5px;
    }
    .filtrer {
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 25px;
        border-radius: 5px;
        .filtre {
            width: 40px;
            margin-top: 1px;
            margin-bottom: 0;
            margin-left: 5px;
            border: none;
            font-size: 10px;
            outline: none;
        }
        mat-icon{
            margin-top: 5px;
            margin-right: 2px;
            margin-bottom: 0;
            font-size: 15px;
            width: 15px;
        }
    }
}
@media (max-width: 991px) {
    .chiffre-aside {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1px;
        background-color: white;
        padding: 0px;
        margin-top: 10px;
        border-bottom: 1px solid #f5f6f9;
    }
    .grid-container-aside {
        grid-template-columns: 55px 1fr 55px;
    }
    .grid-container1-aside {
        grid-template-columns: 1fr 125px;
    }
    .all-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "tableau"
          "aside";
    }
    .exporter{
        display: flex;
        margin-right: 20px;
        position: absolute;
        right: 0;
        top: 20px;
    }
    .all {
        margin-top: 10px;
        margin-right: 0px;
    }
    .progres {
        background-color: white;
        height: 82px;
        padding: 5px 10px;
        margin-top: 10px;
    }
    .duree{
        font-size: 10px;
       // margin-top: 5px;
        margin-bottom: 0;
    }
    .bar{
        width: 100%;
        position: relative;
        margin-top: 15px;
    }
    #progress_bar{
        margin-bottom: 20px;
        height:20px;
        background-color: #f5f6f9;
    }
    
    #green_bar{
        height:20px;
        float:left;
        overflow:hidden;
        background:#009393;
    }
    .per{
        height: 25px;
        position: absolute;
        top: -10px;
        left: 90px;
        color: white;
        p{
            font-size: 12px;
        }
    }
    .datefin {
        text-align: right;
    }
    .detail1 {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .tableau {
        margin-top: 5px;
        background-color: white;
        padding: 5px;
        position: relative;
    }
    .export{
        font-size: 10px;
        margin-top: 17px;
    }
    .csv {
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 25px;
        border-radius: 5px;
        width: 35px;
        p {
            margin-top: 8px;
            margin-right: 0px;
            margin-bottom: 0;
            margin-left: 5px;
            font-size: 8px;
        }
        mat-icon{
            margin-top: 5px;
            margin-right: 2px;
            margin-bottom: 0;
            font-size: 15px;
            width: 15px;
        }
    }
    .bouton1{
        margin-top: 5px;
    }
    .button1 {
        width: 35px;
        height: 20px;
        background-color: #f16e00;
        border: none;
        color: white;
        font-size: 8px;
        margin-left: 5px;
    }
    .button2 {
        width: 35px;
        height: 20px;
        background-color: #cccccc;
        border: none;
        color: white;
        font-size: 8px;
        margin-left: 5px;
    }
    .button3 {
        width: 50px;
        height: 20px;
        background-color: #cccccc;
        border: none;
        color: white;
        font-size: 8px;
        margin-left: 5px;
    }
    .filtrer {
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 25px;
        border-radius: 5px;
        .filtre {
            width: 40px;
            margin-top: 1px;
            margin-bottom: 0;
            margin-left: 5px;
            border: none;
            font-size: 10px;
            outline: none;
        }
        mat-icon{
            margin-top: 5px;
            margin-right: 2px;
            margin-bottom: 0;
            font-size: 15px;
            width: 15px;
        }
    }
    table {
        border-collapse: collapse;;
        width: 100%;
        margin-top: 50px;
    }
      
      th {
        text-align: center;
        padding: 8px;
        font-size: 7px;
      }
      td {
        text-align: center;
        padding: 8px;
        font-size: 7px;
      }
      .type {
        display: flex;
        width: 25px;
        margin: 0 auto;
        p {
            text-align: center;
            margin-top: 15px;
        }
      }
      .updown {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 15px;
      }
      tr {
        height: 50px;
        border: 1px solid #f5f6f9;
        border-radius: 100%;
        margin-top: 20px;
      }
      .head{
          background-color: #f5f6f9;
      }
      .id {
          width: 50px;
      }
    .photo {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }
    input[type=checkbox] {
        width: 10px;
        height: 10px;
        font-size: 10px;
        margin: 0;
    }
      input[type=checkbox]:after {
        content: " ";
        background-color: white;
        display: inline-block;
        visibility: visible;
      }
      input[type=checkbox]:checked:after {
        content: "\2714";
        color: white;
        background-color: #ff7900;
        width: 13px;
        padding-left: 2px;
      }
     
    input:checked:after {
        background-color: #f3aa21;
        color: #f16e00;
    }
      jw-modal {
          position: relative;
          h1{
            font-size: 21px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: #222222;
            margin-top: 0px;
            margin-left: 30px;
          }
          .clear {
            width: 16px;
            height: 16px;
            margin-top: 10px;
            margin-right: 30px;
            font-weight: bold;
            position: absolute;
            right: 35px;
            top: 40px;
          }
      }
    .forms {
        width: 260px;
        margin: 50px auto;
        select {
            width: 253px;
            height: 41px;
            margin-top: 30px;
            background-color: #f5f6f9;
            outline: none;
            border: 1px solid #d8d8d8;
            option {
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 10px;
                letter-spacing: 0.07px;
                color: #8e8e8e;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    
    .bouton {
        width: 100px;
        margin: 0 auto;
        margin-top: 60px;
    }
    .button {
        width: 98px;
        height: 50px;
        background-color: black;
        border: none;
        color: white;
        padding: 15px 22px;
        text-align: center;
        text-decoration: none;
        font-family: bold;
        display: inline-block;
        font-size: 16px;
        margin: 4px auto;
        cursor: pointer;
        outline: none;
    }
    .pagination {
        width: 280px;
        margin: 0 auto;
    }
    .status {
        width: 10px;
        height: 10px;
        margin-left: 0px;
    }
    
    .etat {
        display: flex;
        width: 35px;
        margin: 0 auto;
    }
    .etat1 {
        margin-left: 2px;
        margin-top: 1px;
    }
    .buttons1 {
        width: 40px;
        height: 20px;
        padding: 2px 2px;
        font-size: 8px;
        border: 1px solid black;
    }
    .btns2 {
        width: 150px;
        margin: 0px auto;
    }
    .btn2 {
        width: 142px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: -0.1px;
        text-align: center;
        color: #000000;
        border: none;
        background-color: #32c832;
        margin-top: 7px;
    }
    .button-aside {
        width: 100px;
        height: 30px;
        font-size: 14px;
      }
      .button1-aside {
          width: 100px;
          height: 30px;
          font-size: 14px;
      }
      .prenom-aside {
        font-size: 12px;
      }
      .poste-aside {
        font-size: 10px;
      }
      .tmp-aside {
        font-size: 10px;
      }
}