<div class="all-container" >
    <div class="all" *ngIf="!showHome">
        <div class="content-web">
            <p routerLink="/accueil/homedrh" class="bien">Bienvenue Amadou!</p>
            <p class="alert">Vous n’avez pas encore fait votre demande de suvention restauration. <span routerLink="/accueil/alertes" style="cursor: pointer; outline: none;">Je fais ma demande</span></p>
            <div class="progres">
                <p class="duree">Contrat <span>5 mois ( 35 jours</span> restant )</p>
                <div class="barcontrat">
                    <div id="progress_bar">
                        <div id="green_bar" [style.width]="getwidth()">&nbsp;</div>
                    </div>
                    <div class="position" [style.left]="getposition()">
                    </div>
                </div>
                <p class="datefin">12 Dec 2020</p>
            </div>
            <div class="detail-donnees">
                <div class="elmt" >
                    <div class="tit1">
                        <div class="titre">
                            <img alt="" src="../assets/images/restaurant.png">
                            <p>Paiement</p>
                        </div>
                    </div>
                    <div class="nombre">
                        <img alt="" src="../assets/images/en-attent-1.png">
                    </div>
                    <p class="mois">En attente</p>
                    <div class="bouton">
                        <button  class="button">Avril</button>
                    </div>
                </div>
                <div class="elmt1" title="messages">
                    <div class="tit2">
                        <div class="titre1">
                            <img alt="" src="../assets/images/guide.png">
                            <p>Demandes</p>
                        </div>
                    </div>
                    <div class="nombre1">
                        <p class="chiffr">5</p>
                    </div>
                    <p class="mois1">En attentes</p>
                    <div class="bouton">
                        <button routerLink="/accueil/demande" class="button">Détails</button>
                    </div>
                </div>
                <div class="elmt2" >
                    <div class="tit2">
                        <div class="titre2">
                            <img alt="" src="../assets/images/file.png">
                            <p>Attestations</p>
                        </div>
                    </div>
                    <div class="nombre2">
                        <p class="chiffr">1</p>
                    </div>
                    <p class="mois2">Disponible</p>
                    <div class="bouton">
                        <button routerLink="/accueil/listeattestation" class="button">Voir</button>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="main" *ngIf="showHome">
            <p routerLink="/accueil/home" class="bien">Bienvenue Amadou!</p>
            <p class="alert">Le contrat de <span class="inter" style="cursor: pointer;">Lamine MBODJI</span>  fini dans 10 jours.  <span class="alertes" style="cursor: pointer; outline: none;" routerLink="/accueil/alertes">Voir les autres alertes</span></p>
            <div class="detail1">
                <div class="elmt" >
                    <div class="tit">
                        <p class="total">Total Interimaires</p>
                        <p class="totaln">835</p>
                    </div>
                    <div class="per">
                        <div class="cercle">
                            <circle-progress
                            [percent]="progress"
                            [radius]="60"
                            [outerStrokeWidth]="40"
                            [innerStrokeWidth]="20"
                            [space] = "-32"
                            [outerStrokeColor]="'#ff7900'"
                            [innerStrokeColor]="'#009393'"
                            [outerStrokeLinecap]= "'square'"
                            [showTitle]="false"
                            [showUnits]="false"
                            [showSubtitle] = "false"
                            [animation]="true"
                            [animationDuration]="300"
                            [startFromZero]="false"
                            [responsive]="false"
                            ></circle-progress>
                        </div>
                        <div id="square"></div>
                        <div class="fl1">
                            <mat-icon >arrow_right</mat-icon>
                        </div>
                        <div id="square1"></div>
                        <div class="fl2">
                            <mat-icon >arrow_left</mat-icon>
                        </div>
                        <div class="point1"></div>
                        <div class="point2"></div>
                        <div class="femmes">
                            <div class="fem">
                                <p class="fn">315</p>
                                <p class="fe">Femmes</p>
                            </div>
                        </div>
                        <div class="hommes">
                            <div class="hom">
                                <p class="hn">520</p>
                                <p class="ho">Hommes</p>
                            </div>
                        </div>
                    </div>
                    <div class="lesbouton1">
                        <div  class="button1"> 
                            <div class="color"></div> 
                            <p>Homme</p>
                        </div>
                        <div  class="button2"> 
                            <div class="color"></div> 
                            <p>Femme</p>
                        </div>
                    </div>
        
                    <!--DIAGRAMME-->
        
                    <!--DIAGRAMME-->
                </div>
                <div class="elmt1" title="messages" *ngIf="scrWidth>991">
                    <div class="tit">
                        <p class="total">Variation de l’effectif</p>
                    </div>
                    <div class="filt">
                        <div class="filtrer1" style="cursor: pointer;">
                            <mat-icon class="i1" fontSet="material-icons-outlined">date_range</mat-icon>
                            <select class="select-mois" #leMois (change)='moisSelectionner(leMois.value)'>
                                <option class="option" value="" disabled selected hidden>Mois</option>
                                <option *ngFor="let p of mois" class="option" [value]="p.libelle">{{p.libelle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="diagra">
                        <div id="chart">
                            <apx-chart
                              [series]="chartOptions.series"
                              [chart]="chartOptions.chart"
                              [dataLabels]="chartOptions.dataLabels"
                              [plotOptions]="chartOptions.plotOptions"
                              [responsive]="chartOptions.responsive"
                              [xaxis]="chartOptions.xaxis"
                              [legend]="chartOptions.legend"
                              [fill]="chartOptions.fill"
                              [dataLabels]="chartOptions.dataLabels"
                            ></apx-chart>
                        </div>
                    </div>
                    <div class="lesbouton2">
                        <div  class="button3"> 
                            <div class="color"></div> 
                            <p>Finis</p>
                        </div>
                        <div  class="button4"> 
                            <div class="color"></div> 
                            <p>Nouveaux</p>
                        </div>
                        <div  class="button5"> 
                            <div class="color"></div> 
                            <p>Total</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="buttons1">
                <button  class="button7" routerLink="/accueil/statistique">Voir les statistiques</button>
            </div>
            <div class="tableau">
                <p class="total" id="mydesc">En fin de contrat ce mois</p>
                <div class="exporter">
                    <div class="filtrer" style="cursor: pointer;">
                        <input class="filtre" type="text" [(ngModel)]="filterterm" placeholder="Filtre">
                        <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
                    </div>
                </div>
                <table style="overflow-x:auto;" aria-describedby = "mydesc">
                    <thead>
                        <tr class="head">
                            <th class="id1" id="matricule">#</th>
                            <th class="typ" id="nom">
                                <div class="type">
                                    <p>Nom</p> 
                                    <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                                    
                                </div>
                            </th>
                            <th id="manager" *ngIf="scrWidth>991">Manager</th>
                            <th id="direction">Direction</th>
                            <th id="agence">Agence</th>
                            <th id="statut">Réintégrable</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of datas | filter:filterterm | slice:0:3; let i = index">
                            <td class="id1">{{p.id}}</td>
                            <td>{{p.prenom}} {{p.nom}}</td>
                            <td *ngIf="scrWidth>991"><img alt="" class="photo" src="{{p.photo}}"></td>
                            <td>{{p.direction.libelle}}</td>
                            <td>{{p.agence.nom}}</td>
                            <td> <div [style.background]="getColor(p)" class="statut"></div> <p class="stat" [style.color]="getColor(p)"> {{p.isAdmissible}}</p></td>
                        </tr>
                    </tbody>
                    
                </table>
                <div class="button">
                    <button  class="button6" routerLink="/accueil/fincontrat">Voir tout</button>
                </div>
            </div>
    </div>
    <div class="aside">
            <div *ngIf="showHome" class="chiffre-aside" style="margin-left: auto;margin-right: 0;">
                <div class="elmt-aside" >
                    <div href="">
                        <p class="titre-aside">Présents</p>
                        <br>
                        <p class="nombre-aside">820</p>
                    </div>
                </div>
                <div class="elmt1-aside" title="messages">
                    <div href="">
                        <p class="titre-aside">Malades</p>
                        <br>
                        <p class="nombre-aside">11</p>
                    </div>
                </div>
                <div class="elmt2-aside" >
                    <div href="">
                        <p class="titre-aside">Congés</p>
                        <br>
                        <p class="nombre-aside">04</p>
                    </div>
                </div>
            </div>
            <div *ngIf="showHome" class="interi-aside">
                <p class="dernier-aside">En fin de contrat</p>
                <div *ngFor="let p of datas | slice:0:4; let i = index">
                    <div class="list-aside">
                        <div style="cursor: pointer;" class="grid-container-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                            <div  class="item4-aside" >
                                <img alt="" class="photo-aside" src="../assets/images/{{p.photo}}">
                            </div>
                            <div  class="item4-aside" >
                                <p class="prenom-aside"> {{p.prenom}} {{p.nom}} </p>
                                <p class="poste-aside"> {{p.poste}} </p>
                            </div>
                            <div  class="item4-aside"> 
                                <p class="tmp-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <button  class="button-aside" routerLink="/accueil/newinter">Voir le liste</button>
            </div>
            <div *ngIf="!showHome">
                <div class="annonce-aside" *ngFor="let d of data">
                    <div  class="manager-detail-aside">
                        <p class="dernier-aside">Manager</p>
                        <div class="manager-aside">
                        <img src="../assets/images/manager.png" alt="">
                        </div>
                        <p class="nom-aside">{{d.manager}}</p>
                        <p class="postem-aside">{{d.postem}}</p>
                        <button  class="button-aside" routerLink="/accueil/manager">Afficher</button>
                    </div>
                </div>
            </div>
            <div class="annonce-aside">
                <p class="dernier-aside">Avis de recrutement</p>
                <div *ngFor="let p of datas | slice:0:4; let i = index">
                    <div class="list-aside">
                        <div style="cursor: pointer;" class="grid-container1-aside" [ngStyle]="{'border-bottom' : ((i > 2) ? 'none' : '1px solid #f5f6f9') }">
                            <div  class="item4-aside" >
                                <p class="prenom-aside"> {{p.poste}} </p>
                                <div class="dep-aside">
                                    <p class="serv-aside"> {{p.direction.libelle}}/ </p>
                                    <p class="serv-aside"> {{p.pole.libelle}}/ </p>
                                    <p class="serv-aside"> {{p.departement.libelle}}/ </p>
                                    <p class="serv-aside"> {{p.service.libelle}} </p>
                                </div>
                            </div>
                            <div  class="item4-aside"> 
                                <p class="tmp1-aside" >{{p.dateFin | date: 'dd/MM/yyyy'}}</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <button  class="button1-aside" routerLink="/accueil/offre">Voir le liste</button>
            </div>
    </div>
</div>
