<div class="all-container">
    <div class="all">
      <mat-icon class="bouton-retour" (click)="backClicked()">arrow_back</mat-icon>
      <div class="all1">
        <p class="ajouter">Modifier Interimaire</p>
          <div class="form" [formGroup]="interForm">
            <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
              <mat-step [stepControl]="interForm" >
                <ng-template matStepLabel>
                    <div class="head">
                      <div class="header" [style.background]="colora">
                        <p class="titre"> 1. Infos personnelles</p>
                      </div>
                  </div>
                </ng-template>
                <div>
                  <form [formGroup]="interForm">
                    <div>
                    <div class="grid">
                      <div class="photo">
                        <div *ngIf="!image" class="content-image-upload"></div>
                        <img class="image-upload" *ngIf="image" [src]="image"  alt="">
                        <input formControlName="photo" class="buttonphoto1" type="file" (change)="getPhoto($event.target)">
                      </div>
                      <div class="others">
                        <div class="infoinput1">
                          <p class="label-input1">Nationalité<span class="signe-obligatoire">*</span></p>
                          <input type="text" formControlName="nationalite" placeholder="Nationalité" [(ngModel)]="nationalite" readonly> 
                        </div>
                        <div class="infoinput2">
                          <div>
                            <p class="label-input1">Type de pièce <span class="signe-obligatoire">*</span></p>
                            <input type="text" formControlName="typePiece" [(ngModel)]="typePiece" readonly>
                          </div>
                          <div>
                            <p class="label-input2">Numéro de pièce <span class="signe-obligatoire">*</span></p>
                            <input class="input3" type="text" formControlName="numeroPiece" [(ngModel)]="numeroPiece" placeholder="Numero Pièce" readonly>
                          </div>
                        </div>
                        <div class="infoinput2">
                          <div>
                            <p class="label-input1">Prénom <span class="signe-obligatoire">*</span></p>
                            <input type="text" formControlName="prenom" placeholder="Prenom" [(ngModel)]="prenom">
                            <p class="error-require-input-search" *ngIf="videprenom">{{videprenom}}</p>
                            <p class="error-require-input-search" *ngIf="invalidprenom">{{invalidprenom}}</p>
                          </div>
                          <div>
                            <p class="label-input2">Nom <span class="signe-obligatoire">*</span></p>
                            <input class="input3" type="text" formControlName="nom" placeholder="Nom" [(ngModel)]="nom">
                            <p class="error-require-input-search" *ngIf="videnom">{{videnom}}</p>
                            <p class="error-require-input-search" *ngIf="invalidnom">{{invalidnom}}</p>
                          </div>
                        </div>
                        <div class="infoinput1">
                          <p class="label-input1">Email <span class="signe-obligatoire">*</span></p>
                          <input type="email" formControlName="email" placeholder="Email" [(ngModel)]="email">
                          <p class="error-require-input-search" *ngIf="videEmail">{{videEmail}}</p>
                          <p class="error-require-input-search" *ngIf="invalidEmail">{{invalidEmail}}</p>
                        </div>
                        <div class="infoinput1">
                          <p class="label-input1">Téléphone <span class="signe-obligatoire">*</span></p>
                          <input type="text" formControlName="telephone" placeholder="Téléphone" [(ngModel)]="telephone" readonly> 
                        </div>
                        <div class="infoinput1">
                          <p class="label-input1">Adresse</p>
                          <input type="text" formControlName="adresse" placeholder="Adresse" [(ngModel)]="adresse">
                        </div>
                        <div class="infoinput2">
                          <div>
                            <p class="label-input1">Date de Naissance <span class="signe-obligatoire">*</span></p>
                            <input type="date" formControlName="dateNaissance" placeholder="Date de Naissance" [(ngModel)]="dateNaissance">
                            <p class="error-require-input-search" *ngIf="videdateN">{{videdateN}}</p>
                          </div>
                          <div>
                            <p class="label-input2">Lieu de Naissance <span class="signe-obligatoire">*</span></p>
                            <input class="input3" type="text" formControlName="lieuNaissance" placeholder="Lieu de Naissance" [(ngModel)]="lieuNaissance">
                            <p class="error-require-input-search" *ngIf="videlieuN">{{videlieuN}}</p>
                          </div>
                        </div>
                        <div class="infoinput2">
                          <div>
                            <p class="label-input1">Sexe <span class="signe-obligatoire">*</span></p>
                            <select class="select5" formControlName="sexe" [(ngModel)]="sexe">
                              <option class="option" value="" disabled selected hidden>Genre</option>
                              <option *ngFor="let data of ListeSexe" [value]="data.libelle">{{data.libelle}}</option>
                            </select>
                            <p class="error-require-input-search" *ngIf="videsexe">{{videsexe}}</p>
                          </div>
                          <div>
                            <p class="label-input2">Situation matrimoniale</p>
                            <select class="select6"formControlName="sitmat" [(ngModel)]="sitmat">
                              <option class="option" value="" disabled selected hidden>Situation Matrimoniale</option>
                              <option *ngFor="let data of ListeSitmat" [value]="data.libelle">{{data.libelle}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="infoinput1">
                          <p class="label-input1">École ou Université</p>
                          <input type="text" formControlName="universite" placeholder="Université ou Ecole" [(ngModel)]="universite">
                        </div>
                        <div class="infoinput1">
                          <p class="label-input1">Diplome le plus élevé</p>
                          <select class="select-diplome"formControlName="diplome_eleve" [(ngModel)]="diplome_eleve">
                            <option class="option" value="diplome_eleve" disabled selected hidden>{{diplome_eleve}}</option>
                            <option *ngFor="let data of ListeDiplome" [value]="data.libelle">{{data.libelle}}</option>
                          </select>
                        </div>
                        <!-- <div class="infoinput1">
                          <p class="label-input1">Profession</p>
                          <input type="text"  list="professions" formControlName="profession" placeholder="Votre Profession" (change)="saveProfession($event)">
                          <datalist id="professions">
                            <option *ngFor="let c of listeFonction" [value]="c.libelle" >{{c.libelle}}</option>
                          </datalist>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="buttons">
                    <button class="button1" type="button">Annuler</button>
                    <button class="button2" (click)="submitted1()" matStepperNext type="button"  mat-button >Suivant</button>
                  </div>
                </form>
                </div>
              </mat-step>
  
              <mat-step [stepControl]="interForm" >
                <ng-template matStepLabel>
                    <div class="head">
                        <div class="header" [style.background]="colorb">
                            <p class="titre"> 2. Contrat</p>
                          </div>
                    </div> 
                  </ng-template>
                <div>
                  <form [formGroup]="contratForm">
                    <div>
                    <div class="grid" >
                      <div >
                        <div class="photo">
                          <button class="button-choisir-fichier" (change)="getFileContrat($event)">
                            Choisir Contrat <img class="button-choisir-fichier-image" src="../../../assets/images/pdf image.png" alt="">
                          </button>
                          <input formControlName="contratDoc"  class="buttonphoto2" type="file" (change)="getFileContrat($event)" >
                          <p class="fileName">{{contratName}}</p>
                        </div>
                      </div>
                      <div class="others">
                        <div class="contratinput2">
                          <div>
                            <p class="label-input1">Catégorie</p>
                            <select class="select5" formControlName="categorieId" [(ngModel)]="categorieId">
                              <option class="option" value="" disabled selected hidden>Catégorie</option>
                              <option *ngFor="let data of dataCategorie" [value]="data.id">{{data.libelle}}</option>
                            </select>
                          </div>
                          <div>
                            <p class="label-input2">Salaire Brut</p>
                            <input class="input3" type="text" formControlName="salaireBrut" [(ngModel)]="salaireBrut" placeholder="Montant Salaire Brut" readonly>
                          </div>
                        </div>
                        <div class="contratinput1">
                          <div>
                            <p class="label-input1">Numéro de bon de commande(BC)<span class="signe-obligatoire">*</span></p>
                            <input class="input-telephone-om" type="text" [(ngModel)]="num_bon_commande" formControlName="num_bon_commande" placeholder="Numéro de bon de commande">
                            <p class="error-require-input-search" *ngIf="videnumBC">{{videnumBC}}</p>
                          </div>
                        </div>
                        <div class="contratinput1">
                          <div>
                            <p class="label-input1">Date de fin de validité du bon de commande(BC)<span class="signe-obligatoire">*</span></p>
                            <input class="input-telephone-om" type="date" [(ngModel)]="date_bon_commande" formControlName="date_bon_commande" placeholder="Date de Fin (BC)">
                            <p class="error-require-input-search" *ngIf="videdateBC">{{videdateBC}}</p>
                          </div>
                        </div>
                        <div class="contratinput1">
                          <div>
                            <p class="label-input1">Numero Téléphone Orange Money <span class="signe-obligatoire">*</span></p>
                            <input class="input-telephone-om" type="number" [(ngModel)]="telephoneOM" formControlName="telephoneOM" placeholder="Téléphone OM">
                            <p class="error-require-input-search" *ngIf="videtelephoneOM">{{videtelephoneOM}}</p>
                            <p class="error-require-input-search" *ngIf="invalidtelephoneOM">{{invalidtelephoneOM}}</p>
                          </div>
                        </div>
                        <div class="contratinput2">
                          <div>
                            <p class="label-input1">Date de début</p>
                            <input type="date" formControlName="dateDebut" [(ngModel)]="dateDebut" placeholder="Date de Début">
                          </div>
                          <div>
                            <p class="label-input2">Date de fin</p>
                            <input class="input3" type="date" [(ngModel)]="dateFin" formControlName="dateFin" placeholder="Date de Fin">
                          </div>
                        </div>  
                        <div class="contratinput2">
                          <div>
                            <p class="label-input1">Société <span class="signe-obligatoire">*</span></p>
                            <select class="select5" #entite formControlName="societeId" [(ngModel)]="societeId" readonly>
                              <option class="option" value="" disabled selected hidden>Societe</option>
                              <option *ngFor="let data of dataSociete" [value]="data.id">{{data.libelle}}</option>
                            </select>
                          </div>
                          <!-- <div>
                            <p class="label-input2">Direction</p>
                            <select class="select6" #direction  formControlName="directionId" (change)="departementListe(direction.value)">
                              <option class="option" value="" disabled selected hidden>Direction</option>
                              <option *ngFor="let data of dataDirection" value="{{data.id}}">{{data.libelle}}</option>
                            </select>
                          </div> -->
                        </div>
                        <div class="contratinput2">
                          <!-- <div>
                            <p class="label-input1">Département</p>
                            <select class="select5" #departement formControlName="departementId" (change)="serviceListe(departement.value)">
                              <option class="option" value="" disabled selected hidden>Département</option>
                              <option *ngFor="let data of dataDepartement" value="{{data.id}}">{{data.libelle}}</option>
                            </select>
                          </div>
                          <div>
                            <p class="label-input2">Service</p>
                            <select class="select6"  formControlName="structureId">
                              <option class="option" value="" disabled selected hidden>Service</option>
                              <option *ngFor="let data of donneeService" value="{{data.id}}">{{data.libelle}}</option>
                            </select> 
                          </div> -->
                        </div>
                        <div class="contratinput2">
                          <div>
                            <p class="label-input1">Domaine</p>
                            <select class="select5" [(ngModel)]="domaineId" formControlName="domaineId">
                              <option class="option" value="" disabled selected hidden>Domaine</option>
                              <option *ngFor="let data of dataDomaine" value="{{data.id}}">{{data.libelle}}</option>
                            </select>
                          </div>
                          <div>
                            <p class="label-input2">Date signature</p>
                            <input class="input3" type="date" [(ngModel)]="dateSignature" formControlName="dateSignature" placeholder="Date de Signature">
                          </div>
                        </div>
                        <div class="contratinput2">
                          <div>
                            <p class="label-input1">Poste</p>
                            <input type="text" list="postes" [(ngModel)]="poste" (change)="savePoste($event)" formControlName="poste" placeholder="Titre du Poste">
                            <datalist id="postes">
                              <option *ngFor="let c of listeFonction" [value]="c.libelle" >{{c.libelle}}</option>
                            </datalist>
                          </div>
                          <div>
                            <p class="label-input2">Site</p>
                            <select class="select6" [(ngModel)]="site"  formControlName="site">
                              <option class="option" value="" disabled selected hidden>Site</option>
                              <option *ngFor="let data of dataSite" value="{{data.id}}">{{data.libelle}}</option>
                            </select> 
                          </div>
                        </div>
                    </div>
                    </div>
                  </div>
                  <button class="button1"  type="button" mat-button matStepperPrevious>Précédent</button>
                  <button class="button2" (click)="submitted2()" type="button"  mat-button matStepperNext>Suivant</button>
              </form>
                </div>
              </mat-step>
  
              <mat-step [stepControl]="interForm" label="Email" >
                <ng-template matStepLabel>
                    <div class="head">
                        <div class="header" [style.background]="colorc">
                            <p class="titre"> 3. Poste</p>
                          </div>
                      </div>
                  </ng-template>
                <div>
                  <div *ngIf="!submited">
                    <form [formGroup]="interForm">
                        <div>
                        <div class="center">
                          <div class="fiche-et-pv" >
                            <div class="otherfile" >
                              <input formControlName="fileCni" [(ngModel)]="fileCni" class="buttonCNI" type="file" (change)="getFileCni($event)" >
                              <p class="fileName">{{cniName}}</p>
                            </div>
                            <div class="otherfile" >
                              <input formControlName="fileFicheposte" [(ngModel)]="fileFicheposte" class="buttonphoto3" type="file" (change)="getFichePoste($event)" >
                              <p class="fileName">{{fichedeposteName}}</p>
                            </div>
                            <div class="otherfile" >
                              <input formControlName="fileproceverbal" [(ngModel)]="fileproceverbal" class="buttonphoto4" type="file" (change)="getProceVerbal($event)" >
                              <p class="fileName">{{proceverbalName}}</p>
                            </div>
                            <div class="otherfile" >
                              <input formControlName="fileCv" [(ngModel)]="fileCv" class="buttonphotoCv" type="file" (change)="getCv($event)" >
                              <p class="fileName">{{cvName}}</p>
                            </div>
                            <div class="otherfile" >
                              <input formControlName="fileVisiteContreVisite" [(ngModel)]="fileVisiteContreVisite" class="buttonphotoVisite" type="file" (change)="getVisiteContreVisite($event)" >
                              <p class="fileName">{{visiteContreVisiteName}}</p>
                            </div>
                          </div>
                          <div class="les-diplomes-content">
                            <div class="diplome-title">
                              <p class="diplome-title-text">Diplomes <span class="signe-obligatoire">*</span></p>
                              <p class="error-require-input-search" *ngIf="invaliddiplome">{{invaliddiplome}}</p>
                            </div>
                            <div class="liste-diplome">
                              <div >
                                <div class="liste-diplome-content">
                                  <input fomControlName="diplome1" class="buttondiplome" type="file" (change)="getDiplome1($event)" >
                                  <p class="diplomename">{{diplomeName1}}</p>
                                  <mat-icon class="add-diplome" fontSet="material-icons-outlined" (click)="addDiplome1()">add</mat-icon>
                                </div>
                                <div class="liste-diplome-content" [style.display]="selected1==true?'flex':'none'">
                                  <input fomControlName="diplome2" class="buttondiplome" type="file" (change)="getDiplome2($event)" >
                                  <p class="diplomename">{{diplomeName2}}</p>
                                  <mat-icon class="add-diplome" fontSet="material-icons-outlined" (click)="addDiplome2()">add</mat-icon>
                                  <mat-icon class="add-diplome"  (click)="deleteDiplome2()">delete</mat-icon>
                                </div>
                                <div class="liste-diplome-content" [style.display]="selected2==true?'flex':'none'">
                                  <input fomControlName="diplome3" class="buttondiplome" type="file" (change)="getDiplome3($event)" >
                                  <p class="diplomename">{{diplomeName3}}</p>
                                  <mat-icon class="add-diplome"  (click)="deleteDiplome3()">delete</mat-icon>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="content-error-msg" *ngIf="successMsg == false">
                        <p class="error-alert">{{ data?.message}}</p>
                     </div>
                      <button class="button1" mat-button matStepperPrevious>Précédent</button>
                      <button class="button2" type="button" (click)="submit()" matSteppperNext>Enregistrer</button>
                      <!-- <ngx-spinner></ngx-spinner> -->
                  </form>
                  </div>
                  <div class="message" *ngIf="submited" >
                    <div class="grid1">
                      <div class="image">
                        <img class="image-valide" src="../assets/images/valide.png" alt="">
                      </div>
                      <div class="text">
                        <p class="p1">
                          L’agent <span>{{data.data.interimaire.prenom}} {{data.data.interimaire.nom}}
                          </span>  a été ajouté avec succès à la liste des interimaires. <br> 
                          Une notification sera envoyée à la <span>Direction des Ressources Humaines</span> du <span>
                            GROUPE SONATEL</span>.
                        </p>
                      </div>
                    </div>
                    <button class="button3" type="button" (click)="removeItem()" (click)="stepper.reset()">Ajouter un autre</button>
                    <button class="button4" (click)="removeItem()" routerLink="/accueil/souscontrat">Liste interimaires</button>
                    <button class="button5" (click)="removeItem()" routerLink="/accueil/homedrh">Tableau de bord</button>
                  </div>
                </div>
              </mat-step>
  
            </mat-horizontal-stepper>
            <div [style.border-left]="color1" class="triangle1"></div>
            <div [style.border-left]="color2" class="triangle2"></div>
            <div [style.border-left]="color3" class="triangle3"></div>
          </div>
      </div>
  </div>
  </div>

  <!--modal1-->
<div class="modal">
  <sonatel-pma-errormodal id="error-modal-1">
      <div class="error-modal-all" >
          <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
          <div class="error-content-image">
            <div class="error-image"></div>
        </div>
          <p class="error-text">{{errorMsg}}</p>
          <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
          <div class="error-content-button">
              <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
          </div>
      </div>
  </sonatel-pma-errormodal>
</div>