<main>
    <div class="detail1">
        <div class="elmt" >
            <div class="tit">
                <p class="total">Total Interimaires</p>
                <p class="totaln">835</p>
            </div>
            <div class="per">
                <div class="cercle">
                    <circle-progress
                    [percent]="progress"
                    [radius]="60"
                    [outerStrokeWidth]="40"
                    [innerStrokeWidth]="20"
                    [space] = "-32"
                    [outerStrokeColor]="'#ff7900'"
                    [innerStrokeColor]="'#009393'"
                    [outerStrokeLinecap]= "'square'"
                    [showTitle]="false"
                    [showUnits]="false"
                    [showSubtitle] = "false"
                    [animation]="true"
                    [animationDuration]="300"
                    [startFromZero]="false"
                    [responsive]="false"
                    ></circle-progress>
                </div>
                <div id="square"></div>
                <div class="fl1">
                    <mat-icon >arrow_right</mat-icon>
                </div>
                <div id="square1"></div>
                <div class="fl2">
                    <mat-icon >arrow_left</mat-icon>
                </div>
                <div class="point1"></div>
                <div class="point2"></div>
                <div class="femmes">
                    <div class="fem">
                        <p class="fn">315</p>
                        <p class="fe">Femmes</p>
                    </div>
                </div>
                <div class="hommes">
                    <div class="hom">
                        <p class="hn">520</p>
                        <p class="ho">Hommes</p>
                    </div>
                </div>
            </div>
            <div class="lesbouton1">
                <div  class="button1"> 
                    <div class="color"></div> 
                    <p>Homme</p>
                </div>
                <div  class="button2"> 
                    <div class="color"></div> 
                    <p>Femme</p>
                </div>
            </div>
        </div>
        <div class="elmt1" title="messages1">
            <div class="graph1">
                <div class="tit">
                    <p class="total">Variation de l’effectif</p>
                </div>
                <div class="filt">
                    <div class="filtrer1" style="cursor: pointer;">
                        <mat-icon class="i1" fontSet="material-icons-outlined">date_range</mat-icon>
                        <p class="filtre">Mois</p>
                        <mat-icon class="i2" fontSet="material-icons-outlined">expand_more</mat-icon>
                    </div>
                </div>
                <div class="diagra">
                    <div id="chart">
                        <apx-chart
                          [series]="chartOptions.series"
                          [chart]="chartOptions.chart"
                          [dataLabels]="chartOptions.dataLabels"
                          [plotOptions]="chartOptions.plotOptions"
                          [responsive]="chartOptions.responsive"
                          [xaxis]="chartOptions.xaxis"
                          [legend]="chartOptions.legend"
                          [fill]="chartOptions.fill"
                          [dataLabels]="chartOptions.dataLabels"
                        ></apx-chart>
                    </div>
                </div>
                <div class="lesbouton2">
                    <div  class="button3"> 
                        <div class="color"></div> 
                        <p>Finis</p>
                    </div>
                    <div  class="button4"> 
                        <div class="color"></div> 
                        <p>Nouveaux</p>
                    </div>
                    <div  class="button5"> 
                        <div class="color"></div> 
                        <p>Total</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <div class="stat">
        <div class="elmt2" title="messages2">
            <div class="tit">
                <p class="total">Variation de l’effectif</p>
            </div>
            <div class="filt2">
                <div class="filtrer2" style="cursor: pointer;">
                    <mat-icon class="i1" fontSet="material-icons-outlined">date_range</mat-icon>
                    <p class="filtre">Services</p>
                    <mat-icon class="i2" fontSet="material-icons-outlined">expand_more</mat-icon>
                </div>
            </div>
            <div class="diagra1">
                <div id="chart1">
                    <apx-chart
                      [series]="chartOptions1.series"
                      [chart]="chartOptions1.chart"
                      [dataLabels]="chartOptions1.dataLabels"
                      [plotOptions]="chartOptions1.plotOptions"
                      [responsive]="chartOptions1.responsive"
                      [xaxis]="chartOptions1.xaxis"
                      [legend]="chartOptions1.legend"
                      [fill]="chartOptions1.fill"
                      [dataLabels]="chartOptions1.dataLabels"
                    ></apx-chart>
                </div>
            </div>
            <div class="lesbouton2">
                <div  class="button3"> 
                    <div class="color"></div> 
                    <p>Finis</p>
                </div>
                <div  class="button4"> 
                    <div class="color"></div> 
                    <p>Nouveaux</p>
                </div>
                <div  class="button5"> 
                    <div class="color"></div> 
                    <p>Total</p>
                </div>
            </div> 
        </div>
    </div>

</main>