<div class="tableau">
    <p class="detail1">Liste des interimaires fin de contrat</p>
    <div class="exporter">
        <p class="export">Exporter</p>
        <div class="csv" style="cursor: pointer;">
            <p class="csv1">CSV</p>
            <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
        </div>
        <div class="filtrer" style="cursor: pointer;">
            <p class="filtre" [(ngModel)]="filterterm">Filtre</p>
            <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
        </div>
    </div>
    <table style="overflow-x:auto;">
        <thead>
            <tr class="head">
                <th class="id1">#</th>
                <th class="typ">
                    <div class="type">
                        <p>Prenom</p> 
                        <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                    </div>
                </th>
                <th class="typ">
                    <div class="type">
                        <p>Nom</p> 
                        <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                    </div>
                </th>
                <th>Manager</th>
                <th>Direction</th>
                <th>Agence</th>
                <th>Admissible</th>
                <th>Fin de Contrat</th>
        </tr>
        </thead>
        <tbody>
            <tr (click)="openDetail(p)" style="cursor: pointer;" *ngFor="let p of datas | filter:filterterm | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                <td class="id1">{{p.id}}</td>
                <td>{{p.prenom}}</td>
                <td>{{p.nom}}</td>
                <td> <img class="photo" src="../assets/images/{{p.photo}}"></td>
                <td>{{p.direction}}</td>
                <td>{{p.agence}}</td>
                <td><div [style.background]="getcolor1(p)" class="status"></div></td>
                <td> <p [style.color]="getcolor(p)">{{p.dateFin  | date:'dd/MM/yyyy'}}</p> </td>
            </tr>
        </tbody>
        
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
    </div>
</div>

<!--modal-->
<div class="modal">
    <jw-modal id="custom-modal-1">
        <h1>Demande restauration</h1>
        <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-1');" class="clear">clear</mat-icon>
        <div>
            <form [formGroup]="demandeForm">
                <div class="forms">
                    <div class="mois">
                        <select class="custom-select" formControlName="moi">
                            <option value="" disabled selected hidden>Mois...</option>
                            <option *ngFor="let moi of mois" [ngValue]="moi">{{moi}}</option>
                         </select>
                    </div>
                    <div class="sommes">
                        <select class="custom-select" formControlName="somme">
                            <option value="" disabled selected hidden>Somme...</option>
                            <option *ngFor="let som of sommes" [ngValue]="som">{{som}}</option>
                        </select>
                    </div>
                    <div class="bouton">
                        <button (click)="onSubmit()" class="button">valider</button>
                    </div>
                </div>
            </form>
        </div>
    </jw-modal>
</div>