<div class="all" *ngIf="scrWidth>991">
    <div class="all2">
        <div class="login">
            <div class="logo" >
                <div class="img">
                    <img src="assets/images/orange.png" alt="">
                    <p>Gestion des Interimaires</p>
                </div>
            </div>
            <div class="forms">
                <form [formGroup]="loginForm">
                    <h3 class="passe">Mot de passe oublié</h3>
                    <div class="fiel">
                        <label class="label"for="fullname">Votre adresse email</label>
                        <input formControlName="username"  class="input-text" type="text" name="fullname" id="fullname" >
                    </div>
                    <button (click)="onSubmit()" class="button">Envoyer</button>
                    <p class="forget" routerLink="/login">Se connecter</p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="content-mobile" *ngIf="scrWidth<991">
    <div class="col-lg-3 col-6 forms-mobile">
        <form [formGroup]="loginForm">
            <h3 class="passe-mobile">Mot de passe oublié</h3>
            <div class="fiel-mobile">
                <label class="label-mobile" for="fullname">Votre adresse email</label>
                <input formControlName="username"  class="input-text-mobile" type="text" name="fullname" id="fullname" >
            </div>
            <button (click)="onSubmit()" class="button-mobile">Envoyer</button>
            <p class="forget-mobile" routerLink="/passwordforgetmail">Se connecter</p>
        </form>
    </div>
</div>