<body>
    <img class="imagebg" src="assets/images/rectangle.png" alt="" srcset="">
    <div class="block-img">
        <div class="orange" *ngIf="scrWidth>991">
            <img class="elmt" src="assets/images/group.png" alt="">
            <div class="logo">
                <img  class="image-logo" src="assets/images/logo.svg.webp" alt="">
                <span>Gestion des <br> Interimaires</span>
            </div>
        </div>
        <div>
            <div class="form">
                <form [formGroup]="loginForm">
                    <h3 class="title-form">Mot de passe oublié</h3>
                    <div class="fiel">
                        <label class="label"for="fullname">Votre adresse email</label>
                        <input formControlName="username"  class="input-text" type="text" name="fullname" id="fullname" >
                    </div>
                    <button (click)="onSubmit()" class="button">Enoyer</button>
                    <p class="forget" routerLink="/login">Se connecter</p>
                </form>
            </div>
        </div>
    </div>
</body>
