.all-container {
    background-color: #f5f6f9;
}
.demande {
    background-color: white;
    margin-right: 0px;
    padding: 10px;
    position: relative;
}

.input-extraction{
    width: 140px;
    outline: none;
    border: 1px solid #d8d8d8;
  }

.valider-attestation{
    background-color: #009393;
    color: #fff;
    font-size: 12px;
    height: 20px;
    width: 50px;
    border: none;
    outline: none;
}
.payer-attestation{
    background-color: #ff7900;
    color: #fff;
    font-size: 12px;
    height: 20px;
    width: 50px;
    border: none;
    outline: none;
}
.rejeter-attestation{
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    height: 20px;
    width: 50px;
    border: none;
    outline: none;
    margin-left: 5px;
}
.status-attestation-attente{
    font-size: 10px;
    color: #ff7900;
}
.status-attestation-valider{
    font-size: 10px;
    color: #009393;
}
.status-attestation-rejeter{
    font-size: 10px;
    color: #ff0000;
}
  .icon-search{
    margin-top: 20px;
    cursor: pointer;
  }

  .filtrer-mois {
    margin-right: 10px;
    margin-top: 5px;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
    p {
        margin-top: 0px;
        margin-bottom: 0;
        margin-left: 5px;
    }
    mat-icon{
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 0;
    }
  }
  .input-extraction{
    width: 140px;
    outline: none;
    border: 1px solid #d8d8d8;
  }
  .select-mois{
    max-width: 140px;
    min-width: 50px;
    border: 1px solid #d8d8d8;
    outline: none;
  }
.tableau {
    margin-top: 0px;
    background-color: white;
    position: relative;
}
.exporter{
    position: absolute;
    right: 0;
    top: 20px;
}
.content-input-extraction{
    display: flex;
}
.export{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    margin-top: 17px;
}


.input-annee{
    width: 90px;
}
.content-extraction{
    margin-left: 10px;
}
.button-extraire{
    margin: 10px;
    width: 110px;
    height: 30px;
    color: white;
    background-color: #ff7900;
    border: none;
    outline: none;
}
table {
    border-collapse: collapse;;
    width: 100%;
    margin-top: 50px;
}
  
  th {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }
tr:hover{
    background-color: #f5f6f9;
}
  td {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  tr {
    height: 30px;
    border: 1px solid #f5f6f9;
    border-radius: 100%;
    margin-top: 20px;
  }
  .head{
      background-color: #f5f6f9;
  }
  .detail1 {
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
    color: #222222;
    margin-top: 10px;
    margin-bottom: 15px;
  }
.button1 {
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
}
.type {
    display: flex;
    width: 50px;
    margin: 0 auto;
    p {
        text-align: center;
    }
  }
.updown {
    margin-top: 10px;
    margin-left: 0px;
}
.content-error-msg{
   // width: 300px;
    margin-left: 0px;
}
.error-alert{
    margin-left: 10px;
    margin-top: -10px;
    color: #ff0000;
    font-size: 10px;
}
.error-content-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.error-image {
    width: 160px;
    height: 150px;
    background-image: url("../../../../assets/images/error-message.png");
    background-size: cover;
}
.error-text{
    text-align: center;
    color: #ff0000;
    font-size: 28px;
}
.error-message-admin{
    text-align: center;
    font-size: 18px;
}
.clear-error {
    width: 10px;
    height: 10px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 5px;
}
.error-content-button{
    width: 50px;
    margin: 0 auto;
}
.error-button{
    width: 50px;
    height: 30px;
    font-size: 16px;
    color: #ff0000;
    background-color: #f5f6f9;
    border-radius: 5px;
    outline: none;
    border: solid 1px #ff0000;
}
@media (max-width: 991px) {
    .all-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "tableau"
          "aside";
        grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
    }
    th {
        text-align: center;
        font-size: 10px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #222222;
    }
    td {
        text-align: center;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }
    .filtrer-mois {
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        border: 1px solid #f5f6f9;
        padding: 0px;
        height: 30px;
        border-radius: 5px;
        p {
            margin-top: 6px;
            margin-bottom: 0;
            margin-left: 5px;
        }
        mat-icon{
            margin-top: 5px;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}