.imagebg{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
  }
  
  body{
    overflow-x: hidden;
    position: relative;
  }
  .block-img{
    margin-top: 5%;
    margin-left: 15%;
    position: relative;
   // background-color: rgba(0, 0, 0, 0.473);
    height: 80% !important;
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1px;
   // background-color: rgb(255, 255, 255);
    padding: 0px;
  }
  .orange {
    padding: 0%;
    width: 100%;
   // background: url('/assets/images/group.png') no-repeat center center fixed;
    background-size: cover;
  }
  .elmt{
    margin-left: 11%;
    width: 100%;
    height: 750px;
  }
  .logo{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 90px;
    height: 90px; 
  }
  .image-logo {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    display : block;
  }
  span {
    position: absolute;
    top: 95px;
    bottom : 0;
    margin-top: 15px;
    margin-left: -10px;
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
  }
  .logo {
    img, span {
        display: inline-block;
        vertical-align: bottom;
    }
  }
  
  .form{
    margin-top: 66px;
    height: 510px;
    width: 400px;
   /* width: 348px !important;
    min-width: 348px !important;
    max-width: 348px !important;
    height: 476px; */
    padding: 108px 20px 0px 50px; 
    background-color: rgba(232, 233, 234, 0.75); 
  }
  h3{
    font-size: 24px;
    color: #009393;
    margin-bottom: 20px;
    width: 150px;
  }
.lien {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    color: #000000;
    margin-top: 40px;
}
.ren {
    display: flex;
    .p1{
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.18px;
        color: #000000;
        
    }
    .p2 {
        margin-left: 5px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.18px;
        color: #009393;
    }
}
  .button {
    width: 347px;
    height: 61px;
    background-color: #009393;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
  }
  