<div class="all">
    <div class="all2">
        <div class="login">
            <div class="logo">
                <div class="img">
                    <img src="assets/images/logo.svg.webp" alt="">
                    <p>Gestion des Interimaires</p>
                </div>
            </div>
            <div class="forms">
                <p class="passe">Mot de passe oublié</p>
                <p class="lien">Un lien de reinitialisation vient d’être à votre adresse email. Merci de consulter votre boîte de messagerie pour vous connecter. </p>
                <p class="lie">Je n’ai pas reçu le courier, <span>renvoyer</span> </p>
                <button (click)="onSubmit()" class="button">Login</button>
            </div>
        </div>
    </div>
</div>
