<div class="all-container">
    <div class="compte">
        <div class="content-header">
            <div class="content-details">
                <p class="detail">Détails Utilisateur</p>
            </div>
        </div>-->
        <div class="grid-container" *ngIf="item">
            <div class="image">
                <div class="ima">
                    <img class="image-interimaire"  src="{{photo}}" alt="photo">
                   
                    <p class="prenom">{{dataUser?.prenom}} {{dataUser?.nom}}</p>
                    <p class="fonction">{{dataUser?.profil.libelle}}</p>
                </div>
            </div>
            <div class="info">
                <div class="lot1">
                    <p class="key">Numéro CNI: <span class="value">{{dataUser?.numeroPiece}}</span> </p>
                    <p class="key">Email: <span class="value">{{dataUser?.email}}</span> </p>
                    <p class="key">Téléphone: <span class="value">{{dataUser?.telephone}}</span> </p>
                    <p class="key">Fonction: <span class="value">{{dataUser?.fonction}}</span> </p>
                </div>
                <!--<div class="lot">
                    <p class="lot2">Catégorie: <span class="value">{{dataInter?.categorie.libelle}}</span> </p>
                    <p class="key">Agence Interim: <span class="value">{{dataInter?.agence.nom}}</span> </p>
                    <p class="key">Société: <span class="value">{{dataInter?.structure.libelle}}</span> </p>
                    <p class="key">Direction: <span class="value">{{dataInter?.structure.direction?.libelle}}</span> </p>
                    <p class="key">Département: <span class="value">{{dataInter?.structure.departement}}</span> </p>
                    <p class="key">Service: <span class="value">{{dataInter?.structure.service}}</span> </p>
                </div>-->
            </div>
        </div>
        <div class="lesbouton">
            <button class="button1" (click)="openModal('custom-modal-1')">Modifier</button>
            <button *ngIf="role == 'DRH'" class="button8" (click)="openModal('custom-modal-7')">Bloquer Utilisateur</button>
        </div>
    </div>
</div>

<!--modal 8-->
<div class="modal">
    <jw-modal id="custom-modal-1">
        <form [formGroup]="validerForm">
            <div class="tableau">
                <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-1');" class="clear">clear</mat-icon>
                <p class="dtl1">Modifier Utilisateur</p>
                <div class="input-v">
                    <p class="libelle-motif">Matricule</p>
                    <input class="input-valider" type="text" formControlName="matricule" placeholder="Matricule">
                </div>
                <div class="input-v">
                    <p class="libelle-motif">Email</p>
                    <input class="input-valider" type="text" formControlName="email" placeholder="Email">
                </div>
                <div class="input-v">
                    <p class="libelle-motif">Matricule</p>
                    <input class="input-valider" type="text" formControlName="matricule" placeholder="Matricule">
                </div>
                <div class="input-v">
                    <p class="libelle-motif">Email</p>
                    <input class="input-valider" type="text" formControlName="email" placeholder="Email">
                </div>
                <div class="btns3">
                    <button (click)="validerInterimaire() "  class="button5">Valider</button>
                </div>
            </div>
        </form>
    </jw-modal>
</div>


<!--modal7-->
<div class="modal">
    <jw-modal id="custom-modal-7">
        <div class="tableau">
            <mat-icon style="cursor: pointer;" (click)="closeModal('custom-modal-7');" class="clear">clear</mat-icon>
            <p class="dtl1">Bloquer {{prenom}} {{nom}}</p>
            <p class="text-droit">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Doloribus harum sapiente a voluptatum inventore consectetur 
                in ipsa explicabo est nulla at tempora doloremque eaque 
                veritatis consequuntur necessitatibus, eligendi recusandae quia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium molestiae alias dolores suscipit at voluptatibus
                reiciendis doloremque voluptate nemo quae unde deserunt temporibus 
                exercitationem aperiam, corporis recusandae incidunt ratione maxime?
            </p>
            <p class="text-droit">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Doloribus harum sapiente a voluptatum inventore consectetur 
                in ipsa explicabo est nulla at tempora doloremque eaque 
                veritatis consequuntur necessitatibus, eligendi recusandae quia!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium molestiae alias dolores suscipit at voluptatibus
                reiciendis doloremque voluptate nemo quae unde deserunt temporibus 
                exercitationem aperiam, corporis recusandae incidunt ratione maxime?
            </p>
            <div class="content-motif">
                <p class="libelle-motif">Motif pour Bloquer {{prenom}} {{nom}}</p>
                <textarea class="textarea-motif" name="motif"  placeholder="Motif de Bannir l'intérimaire"></textarea>
            </div>
            <div class="btns3">
                <button (click)="arretContrat()"  class="button8">Bloquer</button>
            </div>
        </div>
    </jw-modal>
</div>