@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f6f9;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr /*350px */;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
    height: 100vh;
}

app-header {
    height: 70px;
    color: black;
    font-size: 14px;
    grid-area: header;
    text-align: center;
    background-color: #ffffff;
  }
  
  app-nav {
    color: black;
    grid-area: nav;
    margin-top: -5px;
    background-color: #ffffff;
  }
  
  app-main {
    grid-area: content;
    background-color: #ffffff;
    padding: 20px;
  }
  
  app-aside {
    grid-area: side;
    margin-right: 0.8rem;
    margin-top: 10px;
  }

  ul li a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
  }
  .ngx-pagination {
    padding-left: 0px !important;
    outline: none !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #f16e00 !important;
    outline: none !important;
  }
  
  .ngx-pagination .current:hover {
    background: #f5f6f9 !important;
    outline: none !important;
  }
.mat-stepper-horizontal .mat-horizontal-stepper-header {
    height:auto;
    padding: 0;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  padding: 0 !important;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
  padding: 0 !important;
}
.mat-step-header .mat-step-icon {
  display: none !important;
}
.mat-step {
  padding: 0;
  margin: 0;
}
.mat-stepper-horizontal-line {
  display: none;
}
  @media (max-width: 991px) {
    app-nav{
      height: 0px;
    } 
    app-header {
      height: 35px;
      background-color: white;
    }
    app-aside {
      margin: 0;
    }

    .container {
      display: block;
      background-color: #f5f6f9;
    }
    .ngx-pagination {
      font-size: 10px;
    }
    .mat-horizontal-content-container {
      overflow: hidden;
      padding: 0 5px 10px 5px !important;
  }
}
html, body { height: 100%; width: 100%;}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }