@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f6f9;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 190px 1fr 290px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 7px;
    grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
    height: 100vh;
}

app-header {
    height: 60px;
    color: black;
    font-size: 14px;
    grid-area: header;
    text-align: center;
    background-color: #ffffff;
  }
  
  app-nav {
    color: black;
    grid-area: nav;
    margin-top: -5px;
    background-color: #ffffff;
    height: 650px;
  }
  
  app-main {
    grid-area: content;
    background-color: #ffffff;
    padding: 20px;
  }
  
  app-aside {
    grid-area: side;
    margin-right: 0.8rem;
    margin-top: 10px;
  }

  ul li a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
  }
  .ngx-pagination {
    padding-left: 0px !important;
    outline: none !important;
    margin-bottom: 0px !important;
    font-size: 14px;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #f16e00 !important;
    outline: none !important;
  }
  
  .ngx-pagination .current:hover {
    background: #f5f6f9 !important;
    outline: none !important;
  }
.mat-stepper-horizontal .mat-horizontal-stepper-header {
    height:auto;
    padding: 0;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  padding: 0 !important;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
  padding: 0 !important;
}
.mat-step-header .mat-step-icon {
  display: none !important;
}
.mat-step {
  padding: 0;
  margin: 0;
}
.mat-stepper-horizontal-line {
  display: none;
}
.mat-horizontal-content-container {
  overflow: hidden;
 padding: 0 5px 10px 5px !important;
}

//  aside scss

.chiffre-aside{
  position: relative;
  right: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
 background-color: #ffffff;
}


.chiffre-aside .elmt-aside{
  position: relative;
  padding: 5px 12px 0px 12px;
  border-left: solid 2px #f5f6f9;
}
.chiffre-aside .elmt1-aside{
 position: relative;
 padding: 5px 15px 0px 19px;
 border-left: solid 1px #f5f6f9;
 border-right: solid 1px #f5f6f9;
}
.chiffre-aside .elmt2-aside{
  position: relative;
  padding: 1px 15px 0px 15px;
}
.icon-aside {
  width: 40px;
  height: 40px;
}
.nombre-aside {
margin-top: 0px;
font-family: FuturaBT;
font-size: 22px;
font-weight: 900;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #222222;
text-align: center;
margin-bottom: 5px;
}
.titre-aside {
  opacity: 0.7;
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.interi-aside {
  margin-top: 10px;
  background-color: #ffffff;
  padding: 5px;
}
.dernier-aside {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #222222;
  margin-top: 0;
  margin-bottom: 15px;
}
.grid-container-aside {
  display: grid;
  grid-template-columns: 40px 175px 55px;
  grid-gap: 1px;
  background-color: white;
  padding: 0px;
  margin-top: 10px;
  border-bottom: 1px solid #f5f6f9;
}
.photo-aside {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.prenom-aside {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0px;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  width: 190px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.poste-aside {
  margin-top: 8px;
  margin-left: 0px;
  font-size: 10px;
  width: 140px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.tmp-aside {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #f03737;
}
.button-aside {
  width: 132px;
  height: 30px;
  background-color: #f16e00;
  border: none;
  color: white;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  margin-top: 4px;
  cursor: pointer;
  outline: none;
}
.content-button-aside {
  width: 132px;
  margin: 0 auto;
}
.annonce-aside {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 5px;
}
.grid-container1-aside {
  display: grid;
  grid-template-columns: 210px 70px;
  grid-gap: 1px;
  background-color: white;
  padding: 0px;
  margin-top: 10px;
  border-bottom: 1px solid #f5f6f9;
}
.dep-aside {
  display: flex;
  margin-left: 0px;
}
.serv-aside {
  margin-top: 8px;
  opacity: 0.7;

  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}
.button1-aside {
  width: 132px;
  height: 30px;
  background-color: #32c832;
  border: none;
  color: black;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  margin-top: 4px;
  margin-left: 0px;
  cursor: pointer;
  outline: none;
}
.tmp1-aside {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #009393;
}
.manager-aside {
  margin: 0 auto;
  width: 130px;
  img{
      width: 129px;
      height: 129px;
  }
  
}
.nom-aside {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  text-align: center;
  color: #222222;
  margin-bottom: 0;
}
.postem-aside{
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #222222;
  margin-top: 5px;
}

  @media (max-width: 991px) {
    app-nav{
      height: 0px;
    } 
    app-header {
      height: 35px;
      background-color: white;
    }
    app-aside {
      margin: 0;
    }

    .container {
      display: block;
      background-color: #f5f6f9;
    }
    .ngx-pagination {
      font-size: 10px;
    }
    .mat-horizontal-content-container {
      overflow: hidden;
     padding: 0 5px 10px 5px !important;
    }
    .grid-container-aside {
      display: grid;
      grid-template-columns: 40px 1fr 55px;
      grid-gap: 1px;
      background-color: white;
      padding: 0px;
      margin-top: 10px;
      border-bottom: 1px solid #f5f6f9;
    }
    .grid-container1-aside {
      display: grid;
      grid-template-columns: 1fr 70px;
      grid-gap: 1px;
      background-color: white;
      padding: 0px;
      margin-top: 10px;
      border-bottom: 1px solid #f5f6f9;
    }
}
html, body { height: 100%; width: 100%;}



