<div class="tableau">
    <p class="detail1">Liste des interimaires sous contrat</p>
    <div class="exporter">
        <p class="export">Exporter</p>
        <div class="csv" style="cursor: pointer;">
            <p class="csv1">CSV</p>
            <mat-icon fontSet="material-icons-outlined">unfold_more</mat-icon>
        </div>
        <div class="filtrer" style="cursor: pointer;">
            <input class="filtre" type="text" [(ngModel)]="filterterm" placeholder="Filtre">
            <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
        </div>
    </div>
    <table style="overflow-x:auto;">
        <thead>
            <tr class="head">
                <th class="id1">#</th>
                <th class="typ">
                    <div class="type">
                        <p>Prenom</p> 
                        <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                    </div>
                </th>
                <th class="typ">
                    <div class="type">
                        <p>Nom</p> 
                        <mat-icon class="updown" fontSet="material-icons-outlined">unfold_more</mat-icon>
                    </div>
                </th>
                <th>Manager</th>
                <th>Direction</th>
                <th>Agence</th>
                <th>Fin de Contrat</th>
        </tr>
        </thead>
        <tbody>
            <tr (click)="openDetail(p)" style="cursor: pointer;" *ngFor="let p of datas | filter:filterterm | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                <td class="id1">{{p.id}}</td>
                <td>{{p.prenom}}</td>
                <td>{{p.nom}}</td>
                <td> <img class="photo" src="../assets/images/{{p.photo}}"></td>
                <td>{{p.direction}}</td>
                <td>{{p.agence}}</td>
                <td> <p [style.color]="getcolor(p)">{{p.dateFin  | date:'dd/MM/yyyy'}}</p> </td>
            </tr>
        </tbody>
        
    </table> 
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
    </div>
</div>