<div class="all-container">
    <div class="tableau">
        <p class="detail1" id="mydesc">Liste des interimaires en attente</p>
        <div class="exporter">
            <form [formGroup]="filterForm">
                <div class="exporter">
                    <div class="content-input-extraction">
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Société: </p>
                            <select type="number" formControlName="societe" #societe class="select-mois" (change)="directionsListe(societe.value)">
                                <option value="null">Aucun Choix</option>
                                <option *ngFor="let data of dataSociete"  [value]="data.id">{{data.libelle}}</option>
                            </select>
                        </div>
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Direction: </p>
                            <select  formControlName="direction" class="select-mois" >
                                <option value="null">Aucun Choix</option>
                                <option *ngFor="let data of dataDirection"  [value]="data.id">{{data.libelle}}</option>
                            </select>
                        </div>
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Agence: </p>
                            <select  formControlName="agence" class="select-mois" >
                                <option value="null">Aucun Choix</option>
                                <option *ngFor="let data of dataAgence"  [value]="data.id">{{data.nom}}</option>
                            </select>
                        </div>
                        <div class="filtrer-mois">
                            <p class="label-input" for="titre">Poste: </p>
                            <input type="text" class="input-extraction" list="professions" formControlName="poste" (change)="saveProfession($event)">
                            <datalist id="professions">
                              <option *ngFor="let c of listeFonction" [value]="c.libelle" >{{c.libelle}}</option>
                            </datalist>
                        </div>
                        <div class="content-extraction">
                            <mat-icon style="cursor: pointer;" class="icon-search" (click)="gty(page)" fontSet="material-icons-outlined" >search</mat-icon>
                        </div>
                        <!-- <div class="content-extraction">
                            <button (click)="extraireInter()" class="button-extraire">Extraire en CSV</button>
                        </div> -->
                    </div>
                    <div class="content-error-msg" *ngIf="successMsg == false">
                        <p class="error-alert">{{ data?.message}}: mois et année</p>
                    </div>
                </div>
            </form>
        </div>
        <table style="overflow-x:auto;" aria-describedby = "mydesc">
            <thead>
                <tr class="head">
                    <th class="typ" id="prenom">Prenom</th>
                    <th class="typ" id="nom">Nom</th>
                    <th id="manager">Fonction</th>
                    <th *ngIf="role != 'AGN'" id="direction">Direction</th>
                    <th *ngIf="role == 'DRH'" id="agence">Agence</th>
                    <th *ngIf="role == 'AGN'" id="direction">Email</th>
                    <th *ngIf="role == 'AGN'" id="direction">Téléphone</th>
                    <th *ngIf="role != 'AGN'" id="direction">Début Contrat</th>
                    <th *ngIf="role != 'AGN'" id="direction">Fin Contrat</th>
            </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;" *ngFor="let p of dataInter | filter:filterterm | paginate: { 
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                    }; let i = index">
                    <td (click)="openDetail(p.id)">{{p.prenom}}</td>
                    <td (click)="openDetail(p.id)">{{p.nom}}</td>
                    <td (click)="openDetail(p.id)">{{p.poste}}</td>
                    <td *ngIf="role != 'AGN'" (click)="openDetail(p.id)">{{p.direction}}</td>
                    <td *ngIf="role == 'DRH'" (click)="openDetail(p.id)">{{p.agence}}</td>
                    <td *ngIf="role == 'AGN'" (click)="openDetail(p.id)">{{p.email}}</td>
                    <td *ngIf="role == 'AGN'" (click)="openDetail(p.id)">{{p.telephone}}</td>
                    <td *ngIf="role != 'AGN'" (click)="openDetail(p.id)">{{p.debut_contrat}}</td>
                    <td *ngIf="role != 'AGN'" (click)="openDetail(p.id)">{{p.fin_contrat}}</td>
                </tr>
            </tbody>
            
        </table> 
        <div class="pagination">
            <pagination-controls (pageChange)="gty(page = $event)" previousLabel="Prcédent" nextLabel="Suivant"></pagination-controls>
        </div>
    </div>
</div>

<!--modal1-->
<div class="modal">
    <sonatel-pma-errormodal id="error-modal-1">
        <div class="error-modal-all" >
            <mat-icon style="cursor: pointer;" (click)="closeErrorModal('error-modal-1');" class="clear-error">clear</mat-icon>
            <div class="error-content-image">
                <div class="error-image"></div>
            </div>
            <p class="error-text">{{errorMsg}}</p>
            <p class="error-message-admin">Veuillez contacter l'administrateur du site à partir de la page paramètre</p> 
            <div class="error-content-button">
                <button (click)="closeErrorModal('error-modal-1');" class="error-button">Ok</button>
            </div>
        </div>
    </sonatel-pma-errormodal>
  </div>