<div class="all" *ngIf="scrWidth>991">
    <div class="all2">
        <div class="login">
            <div class="logo" >
                <div class="img">
                    <div class="content-image-orange"></div>
                    <p>Gestion des Interimaires</p>
                </div>
            </div>
            <div class="forms">
                <form [formGroup]="loginForm">
                    <h3 class="passe">Changer Mot de passe</h3>
                    <div class="fiel-mobile">
                        <label class="label-mobile" for="fullname">Nouveau Mot de Passe</label>
                        <input formControlName="password"  class="input-text-mobile" type="password" name="password" id="password" >
                    </div>
                    <div class="fiel-mobile">
                        <label class="label-mobile" for="fullname">Confirmation Mot de Passe</label>
                        <input formControlName="plainPassword"  class="input-text-mobile" type="password" name="plainPassword" id="plainPassword" >
                    </div>
                    <div *ngIf="successMsg.status != true">
                        <p class="error-alert">{{ successMsg?.message}}</p>
                    </div>
                    <div class="content-button">
                        <button (click)="onSubmit()" class="button">Confirmer</button>
                    </div>
                    <p class="forget" routerLink="/login">Se connecter</p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="content-mobile" *ngIf="scrWidth<991">
    <div class="col-lg-3 col-6 forms-mobile">
        <form [formGroup]="loginForm">
            <h3 class="passe-mobile">Changer Mot de passe</h3>
            <div class="fiel-mobile">
                <label class="label-mobile" for="fullname">Nouveau Mot de Passe</label>
                <input formControlName="password"  class="input-text-mobile" type="password" name="password" id="password" >
            </div>
            <div class="fiel-mobile">
                <label class="label-mobile" for="fullname">Confirmation Mot de Passe</label>
                <input formControlName="plainPassword"  class="input-text-mobile" type="password" name="plainPassword" id="plainPassword" >
            </div>
            <div class="content-button">
                <button (click)="onSubmit()" class="button">Confirmer</button>
            </div>
            <p class="forget" routerLink="/login">Se connecter</p>
        </form>
    </div>
</div>