.all-container {
    // display: grid;
    // grid-template-columns: 1fr 290px;
    grid-template-rows: 1fr auto;
    background-color: #f5f6f9;
}
.all {
    background-color: white;
    margin-right: 0px;
    padding: 10px;
    position: relative;
}
.bouton-ajout-user {
    position: absolute;
    top: 20px;
    right: 20px;
}
.button-add-user {
    color: #fff;
    background-color: #ff7900;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    height: 30px;
    width: 170px;
}
.parametre-text {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}
.parametre-header {
    display: flex;
}
.header-1 {
    height: 30px;
    width: 90px;
    cursor: pointer;
}
.header-2 {
    height: 30px;
    width: 150px;
    margin-left: 30px;
    cursor: pointer;
}
.parametre-header-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}
.content-securite {
    margin-top: 50px;
}
.label-input {
    font-size: 14px;
    margin: 0;
}
.parametre-input {
    width: 300px;
    height: 30px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
}
button{
    outline: none;
    cursor: pointer;
}
.valider-password {
    height: 30px;
    width: 90px;
    border-radius: 0;
    background-color: white;
    color: #ff7900;
    border: 1px solid #ff7900;
    font-weight: 600;
    font-size: 14px;
}
.enregistrer-password {
    height: 30px;
    width: 90px;
    border-radius: 0;
    background-color: white;
    color: #ff7900;
    border: 1px solid #ff7900;
    font-weight: 600;
    font-size: 14px;
}
.aide-assistance-video {
    display: flex;
    flex-wrap: wrap;
}
.video-play {
    max-width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
}
.message-change-password {
    margin-top: 50px;
    font-size: 16px;
    color: #ff7900;
    font-weight: 600;
}
.aide-assistance-header {
    display: flex;
}
.explication-header {
    border: 1px solid #d8d8d8;
    height: 30px;
    width: 130px;
    margin-right: 20px;
    cursor: pointer;
}
.content-aide-assistance {
    margin-top: 30px;
}
.aide-assistance-header-title {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
}
.libelle-assistanc {
    font-size: 14px;
}
.input-message {
    width: 350px;
    height: 114px;
    background-color: #f5f6f9;
    border-radius: 1px;
    border: solid 1px #d8d8d8;
    margin-bottom: 15px;
    outline: none;
    padding: 0;
}
.libelle-assistance {
    font-size: 12px;
}
.aide-assistance-contact {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f5f6f9;
}
.personne-a-contacter {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-top: 5px;
}
.image-personne {
    width: 40px;
    margin: 20px auto;
}
.la-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #009393;
}
.nom-complet {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 5px;
}
.fonction-person {
    font-size: 12px;
    color: #ff7900;
    margin: 5px 0;
}
.phone-email {
    font-size: 12px;
    margin: 5px 0 3px;
}
.content-error-msg{
    width: 300px;
    margin-left: 5px;
  }
  .error-alert{
    color: #ff0000;
    font-size: 12px;
  }

  .error-content-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.error-image {
    width: 160px;
    height: 150px;
    background-image: url("../../../assets/images/error-message.png");
    background-size: cover;
}
.error-text{
    text-align: center;
    color: #ff0000;
    font-size: 28px;
}
.error-message-admin{
    text-align: center;
    font-size: 18px;
}
.clear-error {
    width: 10px;
    height: 10px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 5px;
}
.error-content-button{
    width: 50px;
    margin: 0 auto;
}
.error-button{
    width: 50px;
    height: 30px;
    font-size: 16px;
    color: #ff0000;
    background-color: #f5f6f9;
    border-radius: 5px;
    outline: none;
    border: solid 1px #ff0000;
}
@media (max-width: 991px) {
    .chiffre-aside {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1px;
        background-color: white;
        padding: 0px;
        margin-top: 10px;
        border-bottom: 1px solid #f5f6f9;
    }
    .grid-container-aside {
        grid-template-columns: 55px 1fr 55px;
    }
    .grid-container1-aside {
        grid-template-columns: 1fr 125px;
    }
    .all-container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "tableau"
          "aside";
    }
    .all {
        margin-right: 0;
        margin-top: 10px;
        padding: 5px;
    }
    .parametre-header {
        display: flex;
    }
    .header-1 {
        height: 30px;
        width: 110px;
        cursor: pointer;
    }
    .header-2 {
        height: 30px;
        width: 160px;
        margin-left: 10px;
        cursor: pointer;
    }
    .parametre-header-title {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        margin-top: 5px;
    }
    .content-securite {
        margin-top: 20px;
    }
    .label-input {
        font-size: 12px;
        margin: 0;
    }
    .parametre-input {
        width: 250px;
        height: 30px;
        margin: 10px auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    button{
        outline: none;
        cursor: pointer;
    }
    .valider-password {
        height: 30px;
        width: 100px;
        font-weight: 600;
        font-size: 12px;
    }
    .enregistrer-password {
        height: 30px;
        width: 100px;
        font-weight: 600;
        font-size: 12px;
    }
    .aide-assistance-video {
        display: flex;
        flex-wrap: wrap;
    }
    .video-play {
        max-width: 250px;
        margin-right: 10px;
        margin-bottom: 10px;
        outline: none;
    }
    .message-change-password {
        margin-top: 30px;
        font-size: 14px;
        color: #ff7900;
        font-weight: 600;
    }
    .aide-assistance-header {
        display: flex;
    }
    .explication-header {
        border: 1px solid #d8d8d8;
        height: 30px;
        width: 90px;
        margin-right: 10px;
        cursor: pointer;
    }
    .content-aide-assistance {
        margin-top: 20px;
    }
    .aide-assistance-header-title {
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }
    .libelle-assistance {
        font-size: 10px;
    }
    .input-message {
        width: 280px;
        height: 114px;
        background-color: #f5f6f9;
        border-radius: 1px;
        border: solid 1px #d8d8d8;
        margin-bottom: 15px;
        outline: none;
        padding: 0;
    }
    .aide-assistance-contact {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #f5f6f9;
    }
    .personne-a-contacter {
        display: grid;
        grid-template-columns: 80px 1fr;
    }
    .image-personne {
        width: 50px;
        margin: 20px auto;
    }
    .la-photo {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #009393;
    }
    .nom-complet {
        font-size: 14px;
        font-weight: 600;
        margin: 10px 0 5px;
    }
    .fonction-person {
        font-size: 12px;
        color: #ff7900;
        margin: 5px 0;
    }
    .phone-email {
        font-size: 10px;
        margin: 5px 0 3px;
    }
    .bouton-ajout-user {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .button-add-user {
        color: #fff;
        background-color: #ff7900;
        outline: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        border: none;
        height: 30px;
        width: 95px;
    }
}